@charset "UTF-8";
/* 修正粗體 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(微軟正黑體);
}
/*$font-size-xs: .8em;
$font-size-s: .9em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.4em;
$font-size-xxl: 1.6em;
$font-size-xxxl: 1.75em;*/
/* line 548, ../sass/_base-function.scss */
.head_menu .head_menu_brand .logo h1, .footer_fatfooter_Community ul li a {
  font: 0/0 a;
  color: transparent;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 19, ../sass/_base-layout.scss */
.head_menu .head_menu_brand .logo h1, .footer_fatfooter_Community ul li a {
  font: 0/0 a;
  color: transparent;
}

/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
/* line 27, ../sass/_base-layout.scss */
article, aside, dialog, footer, header, section, footer, nav, figure, menu, details, figcaption, figure, hgroup {
  display: block;
}

/* line 28, ../sass/_base-layout.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 29, ../sass/_base-layout.scss */
audio:not([controls]) {
  display: none;
}

/* line 30, ../sass/_base-layout.scss */
[hidden] {
  display: none;
}

/* line 31, ../sass/_base-layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 32, ../sass/_base-layout.scss */
html, body {
  min-width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體","Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}

/* Safari、Chrome、IE9、Opera */
/* line 33, ../sass/_base-layout.scss */
::selection {
  background: #0d0d0d;
  color: #fff;
}
/* line 33, ../sass/_base-layout.scss */
.high_contrast ::selection {
  background: #fefe00;
  color: black;
}

/* Firefox */
/* line 34, ../sass/_base-layout.scss */
::-moz-selection {
  background: #0d0d0d;
  color: #fff;
}

/* line 35, ../sass/_base-layout.scss */
a, a:active, a:hover {
  text-decoration: none;
  outline: none;
}

/* line 36, ../sass/_base-layout.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------
跳到主要內容區塊
------------------------------------------------------------------*/
/* line 41, ../sass/_base-layout.scss */
.sr-only {
  /*跳到主要內容區塊*/
  color: #fff;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9998;
  padding: 0;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 53, ../sass/_base-layout.scss */
.sr-only:focus {
  background: #0558a4;
  padding: 8px 10px;
  width: auto;
  height: auto;
}
/* line 59, ../sass/_base-layout.scss */
.high_contrast .sr-only {
  color: black;
  font-weight: bold;
}
/* line 62, ../sass/_base-layout.scss */
.high_contrast .sr-only:focus {
  background: #fefe00;
}

/*------------------------------------------------------------------
#wrapper
------------------------------------------------------------------*/
/* line 70, ../sass/_base-layout.scss */
.wrapper {
  color: #262626;
  min-height: 100vh;
  position: relative;
  background-image: url('/images/section2/bg_section2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*------------------------------------------------------------------
header class="head"
------------------------------------------------------------------*/
/* line 82, ../sass/_base-layout.scss */
.head {
  width: 100%;
}
/* line 84, ../sass/_base-layout.scss */
.head .head_navigation {
  width: 100%;
  height: 32px;
  border-bottom: #fff solid 1px;
}

/* line 112, ../sass/_base-layout.scss */
.head_menu {
  width: 100%;
}
/* line 114, ../sass/_base-layout.scss */
.head_menu .head_menu_brand {
  display: inline-block;
}
/* line 116, ../sass/_base-layout.scss */
.head_menu .head_menu_brand .logo {
  display: inline-block;
}
/* line 118, ../sass/_base-layout.scss */
.head_menu .head_menu_brand .logo h1 {
  display: block;
  width: 92px;
  height: 37px;
  background-image: url('/images/icon-pic/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------------
footer class="fatfooter"
------------------------------------------------------------------*/
/* line 150, ../sass/_base-layout.scss */
.footer {
  width: 100%;
  background-color: #000;
}

/* line 157, ../sass/_base-layout.scss */
.footer_fatfooter > ul > li > a {
  color: #fff;
}
/* line 162, ../sass/_base-layout.scss */
.footer_fatfooter > ul > li > ol > li > a {
  color: #b2b2b2;
}

/* line 173, ../sass/_base-layout.scss */
.footer_fatfooter_Community ul li a {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  border: #fff solid 1px;
  border-radius: 32px;
}
/* line 183, ../sass/_base-layout.scss */
.footer_fatfooter_Community ul li a.twitter {
  background-image: url('/images/icon-pic/twitter.png');
}
/* line 187, ../sass/_base-layout.scss */
.footer_fatfooter_Community ul li a.facebook {
  background-image: url('/images/icon-pic/facebook.png');
}
/* line 190, ../sass/_base-layout.scss */
.footer_fatfooter_Community ul li a.youtube {
  background-image: url('/images/icon-pic/you.png');
}
/* line 193, ../sass/_base-layout.scss */
.footer_fatfooter_Community ul li a.instagram {
  background-image: url('/images/icon-pic/ig.png');
}

/* line 201, ../sass/_base-layout.scss */
.footer_info .copyright {
  color: #b2b2b2;
}
/* line 205, ../sass/_base-layout.scss */
.footer_info .Community li {
  display: inline-block;
}
/* line 207, ../sass/_base-layout.scss */
.footer_info .Community li a {
  color: #b2b2b2;
}

/* line 144, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-facebook, .icon-pic-ig, .icon-pic-lgo, .icon-pic-location, .icon-pic-login, .icon-pic-logo, .icon-pic-logo_w, .icon-pic-love, .icon-pic-play, .icon-pic-seach, .icon-pic-shopping, .icon-pic-twitter, .icon-pic-you {
  background-image: url('/images/icon-pic-sa122813fd7.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-facebook {
  background-position: 0 0;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-ig {
  background-position: 0 -100px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-lgo {
  background-position: 0 -200px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-location {
  background-position: 0 -300px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-login {
  background-position: 0 -400px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-logo {
  background-position: 0 -500px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-logo_w {
  background-position: 0 -574px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-love {
  background-position: 0 -648px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-play {
  background-position: 0 -748px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-seach {
  background-position: 0 -848px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-shopping {
  background-position: 0 -948px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-twitter {
  background-position: 0 -1048px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-you {
  background-position: 0 -1148px;
}
