/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu,details,figcaption,figure,hgroup{display:block;}
audio, canvas, video{display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]){display: none;}
[hidden]{display: none;}
*{margin: 0;padding: 0;box-sizing: border-box;}
html,
body {
position: relative;
background-color: #FFF;
padding: 0;
margin: 0;
font-family: 'Open Sans', Helvetica, "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}
img{object-fit: cover;object-position: center;}
a, a:active, a:hover{text-decoration: none;outline: none;cursor: pointer;}
ul,li{list-style: none;padding: 0;margin: 0;}

/*------------------------------------------------------------------
跳到主要內容區塊
------------------------------------------------------------------*/
.sr-only {/*跳到主要內容區塊*/
color: $white;
width: 1px;
height: 1px;
position: absolute;
top: 10px;
left: 10px;
z-index: 9998;
padding:0;
border-radius: $border-radius;
white-space: nowrap;
overflow: hidden;
	&:focus{
		background: $major-color;
		padding: 8px 10px;
		width: auto;
		height: auto;
	}
}
/*------------------------------------------------------------------
#wrapper
------------------------------------------------------------------*/
.wrapper{
	width: 100%;
	min-height: 100vh;
}
.center{
	@extend %center;
}
/*------------------------------------------------------------------
主視覺
------------------------------------------------------------------*/
.hero {
	position: relative;
	overflow: hidden;
	height: 100vh;
}
.mainvisual{
	position: relative;
	width: 100%;
	height: 100%;
	height: 100vh;
	overflow: hidden;
	@include media('mobile'){
		height: 680px;
	}
	@include media('phone'){
		height: 400px;
	}
}


.mainvisual .copy {
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0;
	// max-width: 1409px;
	@include media('mobile'){
		height: 800px;
		bottom: 0!important;
	}
	@include media("phone"){
		width: 100%!important;
		bottom: 0!important;
		height: 400px;
	}
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: calc(4vh + 100px);
		max-height: 15vh;
	}
}


.hero-title {
	margin: 0 auto;
	max-width: 1472px;
	padding-left: 32px;
	@include media("mobile"){
		position: absolute;
		bottom: 0;
		padding-left: 24px;
		padding-bottom: 48px;
	}
	.t1{
		display: block;
		line-height: 1;
		// text-transform: uppercase;
		opacity: 0;
		transform: translate3d(0, 50px, 0);
		transition: opacity 0.8s linear 0.2s, transform 0.8s cubic-bezier(0, 0.7, 0.3, 1) 0.2s;
		color: #FFA400;
		font-size: 2em;
		font-weight: 800;
		text-shadow:rgba(0,0,0,0.5) 2px 4px 5px;
	}
	.t2{
		color: white;
		font-size: 1em;
		font-weight: 500;
		width: 40%;
		@include media("mobile"){
			width: 100%!important;
			padding-right: 24px;
		}
	}
}


.main-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	@include media("mobile"){
		height: 680px!important;
	}
	@include media("phone"){
		height: 400px!important;
	}
	img {
		position: relative;
		display: block;
		width: 100%;
		max-width: none;
	}
}

@media screen and (max-width: 976px) {
	.main-bg img {
		width: auto;
		height: 100%;
	}
}

.loading {
	position: absolute;
	z-index: 100000;
	width: 63px;
	height: 82px;
	top: 0;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	transform-style: preserve-3d;
	perspective: 100px;
}

.loading img {
animation: loading .7s linear 0s infinite;
}

@keyframes loading {
0% {
	transform: rotateY(0deg);
}
100% {
	transform: rotateY(360deg);
}
}

.mask-container {
	position: absolute;
	width: 100%;
	height: calc(85% - 300px);
	top: calc(15% + 100px);
	left: 0;

	@include media('mobile'){
		height: 50vw!important;
		top: calc(45% - 20vw)!important;
	}
}
.mask {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: visible;
}

.mask image {
	opacity: 0;
	transform: scale(1.2);
	transition: opacity 0.8s linear, transform 0.8s cubic-bezier(0, 0.7, 0.3, 1);
	transform-origin: center;
}

@media screen and (max-width: 980px) and (-ms-high-contrast: none) {
	.mainvisual .txt img {
		width: 100%;
		max-width: none;
	}
}
  
.mainvisual .copy .hero-title .t1:nth-of-type(2) {
	transition: opacity 0.8s linear 0.35s, transform 0.8s cubic-bezier(0, 0.7, 0.3, 1) 0.35s;
}

@media screen and (max-width: 766px) {
	.mainvisual .copy .hero-title .t1 {
		font-size: 9.7vw;
		padding-bottom: 0.5vh;
	}
}

.mainvisual .copy .hero-title .t2 {
	display: block;
	padding-top: 0.8vh;
	font-size: calc(0.975vw + 1.3vh);
	font-weight: bold;
	letter-spacing: .03em !important;
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: opacity 0.8s linear 0.5s, transform 0.8s cubic-bezier(0, 0.7, 0.3, 1) 0.5s;
}

@media screen and (max-width: 766px) {
	.mainvisual .copy .hero-title .t2 {
		font-size: 2.95vw !important;
	}
}

@media screen and (max-width: 1439px) and (min-width: 1240px) {
	.mainvisual .copy {
		width: calc(50% + 560px);
		left: calc(50% + 50px);
		right: auto;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 1239px), print {
	.mainvisual .copy {
		width: calc(100% - 4.2vw);
	}
}

@media screen and (max-width: 976px) {
	.mainvisual .copy {
		width: calc(100% - 4.2vw);
		bottom: calc(4vh + 100px);
	}
	.mainvisual .copy:after {
		content: none;
	}
	.mainvisual .copy .hero-title .t1 {
		font-size: 9vw;
	}
	.mainvisual .copy .hero-title .t2 {
		font-size: 3.2vw;
	}
}

@media screen and (max-width: 766px) {
	.mainvisual .copy {
		width: calc(100% - 20px);
		bottom: calc(2vh + 60px);
	}
}

.mainvisual.loaded .copy .hero-title .t1,
.mainvisual.loaded .copy .hero-title .t2 {
letter-spacing: -0.03em;
opacity: 1;
transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 766px) {
	.sp-main-bg {
	  position: absolute;
	  width: 100%;
	  height: 80%;
	  top: 20%;
	  left: 0;
	  overflow: hidden;
	  background-repeat: no-repeat;
	  background-position: center top;
	  background-size: cover;
	}
	.main-bg {
	  height: 80%;
	}
	.mask-container {
	  height: 80vw;
	  top: calc(45% - 40vw);
	}
}


/*------------------------------------------------------------------
.header
------------------------------------------------------------------*/
.header{
	position: fixed;
    width: 100%;
    z-index: 10;	
	// height: 80px;
	&.bg_black,
	&.fixed{
		background-color: rgba(0,0,0,0.8);
	}
	&.black{
		.open_nav{
			.icon{
				background-color: $minor-color;
				&::before,
				&::after{
					background-color: $minor-color;
				}
			}
			&.open .icon{
				background-color: transparent!important;
				&::before,
				&::after{
					background-color: white;
				}
			}
		}
		.logo a{
			background-image: url('../images/logo_b.png');
		}
		.header_center .tool li a{
			color: $black;
		}
		.header_center .tool li a{
			&::before{
				border-color: $minor-color;
			}
			&.tool1{
				&::before{
					background-image: url('../images/icon/icon_search_b.svg');
				}
			}
			&.tool3{
				&::before{
					background-image: url('../images/icon/icon_english_b.svg');
				}
			}
		}

	}
	&.black.fixed{
		.open_nav .icon{
			background-color: white;
			&::before,
			&::after{
				background-color: white;
			}
		}
		.logo a{
			background-image: url('../images/logo_w.png');
		}
		.header_center .tool li a{
			color: white;
		}
		.header_center .tool li a{
			&::before{
				border-color: white;
			}
			&.tool1{
				&::before{
					background-image: url('../images/icon/icon_search_w.svg');
				}
				&:hover, &:focus{
					&::before{
						border-color: $major-color;
						background-image: url('../images/icon/icon_search_b.svg');
					}
				}
			}
			&.tool2{
				color: #E77008;
				&::before{
					border-color: #E77008;
					background-image: url('../images/icon/icon_Inquiry_o.svg');
				}
				&:hover, &:focus{
					&::before{
						background-image: url('../images/icon/icon_Inquiry_b.svg');
					}
				}
			}
			&.tool3{
				&::before{
					background-image: url('../images/icon/icon_english_w.svg');
				}
				&:hover, &:focus{
					&::before{
						border-color: $major-color;
						background-image: url('../images/icon/icon_english_b.svg');
					}
				}
			}
		}
	}
	.header_center{
		@extend %center;
		max-width: 1472px;
		margin: 0px auto;
		padding: 10px 32px;
		position: relative;
		z-index: 9;
		@include media('mobile'){
			padding: 8px 32px 10px 32px;
		}
		&::after{
			@extend %clear;
		}
		.logo{
			float: left;
		}
		.tool{
			position: relative;
    		z-index: 3;
			float: right;

			@include media('mobile'){
				display: none;
			}

			&::after{
				content: "";
			}
			li{
				float: left;
				padding: 0 4px;
				@include media('mobile'){
					padding: 0 8px;
				}
				a{
					color: white;
					width: 64px;
					height: 66px;
					display: flex;
					position: relative;
					text-align: center;
					align-items: end;
					justify-content: center;
					@include media('mobile'){
						width: 36px;
						height: 36px;
					}
					&::before{
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: 40px;
						height: 40px;
						background-repeat: no-repeat;
						background-size: contain;
						border-radius: 50px;
						border: #FFF solid 2px;
						@include media('mobile'){
							width: 36px;
							height: 36px;
							border: #FFF solid 1px;
						}
					}
					&:hover, &:focus{
						&::before{
							background-color: $major-color;
							border-color: $major-color;
						}
					}
					&.tool1{
						&::before{
							background-image: url('../images/icon/icon_search_w.svg');
						}
						&:hover, &:focus{
							&::before{
							background-image: url('../images/icon/icon_search_b.svg');
							}
						}
					}
					&.tool2{
						color: #E77008;
						&::before{
							border-color: #E77008;
							background-image: url('../images/icon/icon_Inquiry_o.svg');
						}
						&:hover, &:focus{
							&::before{
								background-image: url('../images/icon/icon_Inquiry_b.svg');
							}
						}
					}
					&.tool3{
						&::before{
							background-image: url('../images/icon/icon_english_w.svg');
						}
						&:hover, &:focus{
							&::before{
								background-image: url('../images/icon/icon_english_b.svg');
							}
						}
					}
					span{
						@include media('mobile'){
							display: none;
						}
					}
				}
			}
		}
	}
	.logo{
		display: inline-block;
		margin-left: 65px;
		@include media('mobile'){
			margin-left: 45px;
			float: left;
    		width: 100%;
		}
		@include media('phone'){
			margin-left: 32px;
		}
		a{
			@extend %hide-text;
			display: block;
			width: 368px;
			height: 60px;
			background-image: url('../images/logo_w.png');
			background-repeat: no-repeat;
			background-size: contain;
			margin:  0;
			@include media('mobile'){
				height: 36px;
			}
			@include media('mobile'){
				margin: 0 auto;
				background-position: center;
			}
			@include media('phone'){
				width: 70%;
				height: 28px;
				margin: 0;
				margin-left: 40px;
				background-position: center;
			}
		}
	}
}

/*------------------------------------------------------------------
.menu 手機選單
------------------------------------------------------------------*/
.menu{
	position: fixed;
	height: 100vh;
	width: 345px;
	background-color: #EDEDED;
	z-index: 112;
	transform: translateX(-400px);
	&.transition{
		transition: $transition;
	}
	&.open_menu{
		transform: translateX(0px);
	}

	@include media('phone'){
		width: 289px;
	}

	.menu_logo{
		>a{
			@extend %hide-text;
			margin: 0 auto;
    		margin-top: 20px;
			display: block;
			width: 257px;
			height: 42px;
			background-image: url('../images/logo_b.png');
			background-repeat: no-repeat;
			background-size: contain;
			@include media('phone'){
				width: 220px;
				height: 34px;
			}
		}

	}
	.nav{
		margin-top: 48px;
		padding-left: 24px;
		box-sizing: border-box;

		@include media('phone'){
			width: 289px;
		}


		li{
			display: block;
			line-height: 40px;
    		height: 40px;
			margin: 24px 0;
			@include media('phone'){
				margin: 6px 0;
			}
			a{
				color: $black;
				font-size: 1.5em;
				letter-spacing: 2.6px;
				font-weight: 600;
				position: relative;
				display: inline-block;
				overflow: hidden;
				text-transform:uppercase;
				@include media('phone'){
					font-size: 1.2em;
				}
				&::after{
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background-color: $major-color;
					transition: $transition;
					transform: translateX(-100%);
				}
				&:hover, &:focus{
					&::after{
					transform: translateX(0);
					}
				}
			}
		}
	}
	.tool{
		position: absolute;
		bottom: 30px;
		left: 16px;
		@include media('phone'){
			left: 20px;
		}
		&::after{
			content: "";
		}
		li{
			// float: left;
			padding: 0 4px;
			margin: 16px auto;
			a{
				color: #000;
				height: 37px;
				line-height: 37px;
				width: 100%;
				display: block;
				font-size: 1.4em;
				position: relative;
				padding-left: 44px;
				&::before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					margin: 0 auto;
					width: 35px;
					height: 35px;
					background-repeat: no-repeat;
					background-size: contain;
					border-radius: 50px;
					border: #000 solid 1px;
				}
				&.tool1{
					&::before{
						background-image: url('../images/icon/icon_search_b.svg');
					}
				}
				&.tool2{
					color: #E77008;
					&::before{
						border-color: #E77008;
						background-image: url('../images/icon/icon_Inquiry_o.svg');
					}
				}
				&.tool3{
					&::before{
						background-image: url('../images/icon/icon_english_b.svg');
					}
				}
			}
		}
	}
}
//漢堡
.open_nav{
	display: block;
	position: absolute;
	z-index: 99999;
	left: 31px;
    top: 13px;
	width: 58px;
    height: 58px;
	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	cursor: pointer;
	border-radius: 3px;
	@include media('mobile'){
		top: 0;
	}
	@include media('phone'){
		left: 20px;
		top: 4px;
		width: 40px;
		height: 40px;
	}
	&.open{
		position: fixed;
		left: 360px;
		z-index: 10;
		@include media('phone'){
			left: 290px;
		}

		&::after{
			display: block;
			content: "";
			position: fixed;
			left: 0;
			top: 0;
			z-index: 8;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
		}
	}
	h2{@extend %hide-text;}

	b{
		position: absolute;
		top: 35%;
		right: 110%;
		font-weight: normal;
		font-size:  0.75em;
	}
	.icon{
		transition-duration: 0.2s;
		position: absolute;
		z-index: 9;
		width: 42px;
		height: 5px;
		background-color: #FFF;
		top: 25px;
		left: 8px;
		border-radius: 5px;
		@include media('mobile'){
			width: 36px;
			height: 4px;
		}
		@include media('phone'){
			width: 32px;
			height: 3px;
			top: 19px;
		}
	  &:before, &:after{
		transition-duration: 0.5s;
		background-color: #FFF;
		position: absolute;
		content: "";
		width: 42px;
		height: 5px;
		border-radius: 5px;
		left: 0px;
		@include media('mobile'){
			width: 36px;
			height: 4px;
		}
		@include media('phone'){
			width: 32px;
			height: 3px;
		}
	  }
	  &:before{
		top: -16px;
		@include media('mobile'){
			top: -14px;
		}
		@include media('phone'){
			top: -12px;
		}
	  }    
	  &:after{
		top: 16px;
		@include media('mobile'){
			top: 14px;
		}
		@include media('phone'){
			top: 12px;
		}
	  }
	  .high_contrast &{
		background-color: #fefe00;
		&:before, &:after{
		  background-color: #fefe00;
		}
	  }
	}
	&:focus,&:hover{
	//   background-color: $major-color;
	  .icon{
		background-color: $major-color;
		&:before, &:after{
		  background-color: $major-color;
		}
	  }
	  .high_contrast &{
		background-color: #fefe00;
		.icon{
		  background-color: black;
		  &:before, &:after{
			background-color: black;
		  }
		}
	  }
	}
	&.open{
		.icon{
			background-color: transparent;    
			&:before, &:after{
				top: 0;
			}    
			&:before{
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}      
			&:after{
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}
}	
@-moz-keyframes loading {
	0%, 100% {
		-moz-transform: scale(1) rotateZ(0deg);
		transform: scale(1) rotateZ(0deg);
		opacity: 1;
	}

	26% {
		-moz-transform: scale(1.1) rotateZ(12deg);
		transform: scale(1.1) rotateZ(12deg);
		opacity: .2;
	}

	76% {
		-moz-transform: scale(0.8) rotateZ(-8deg);
		transform: scale(0.8) rotateZ(-8deg);
		opacity: .6;
	}
}
@-webkit-keyframes loading {
	0%, 100% {
		-webkit-transform: scale(1) rotateZ(0deg);
		transform: scale(1) rotateZ(0deg);
		opacity: 1;
	}

	26% {
		-webkit-transform: scale(1.1) rotateZ(12deg);
		transform: scale(1.1) rotateZ(12deg);
		opacity: .2;
	}

	76% {
		-webkit-transform: scale(0.8) rotateZ(-8deg);
		transform: scale(0.8) rotateZ(-8deg);
		opacity: .6;
	}
}
@keyframes loading {
	0%, 100% {
		-moz-transform: scale(1) rotateZ(0deg);
		-ms-transform: scale(1) rotateZ(0deg);
		-webkit-transform: scale(1) rotateZ(0deg);
		transform: scale(1) rotateZ(0deg);
		opacity: 1;
	}

	26% {
		-moz-transform: scale(1.1) rotateZ(12deg);
		-ms-transform: scale(1.1) rotateZ(12deg);
		-webkit-transform: scale(1.1) rotateZ(12deg);
		transform: scale(1.1) rotateZ(12deg);
		opacity: .2;
	}

	76% {
		-moz-transform: scale(0.8) rotateZ(-8deg);
		-ms-transform: scale(0.8) rotateZ(-8deg);
		-webkit-transform: scale(0.8) rotateZ(-8deg);
		transform: scale(0.8) rotateZ(-8deg);
		opacity: .6;
	}
}
//購物車
.pop_inquiry{
    background-color: #fff;
    border-radius: 10px;
    max-width: 448px;
    position: absolute;
    right: 88px;
    top: 88px;
    // overflow: hidden;
    padding: 32px;
    box-sizing: border-box;
	padding-bottom: 16px;
	// display: none;
	transform: translateY(-115%);
	opacity: 0;
	box-shadow: $box-shadow;
	width: calc(100% - 32px);
	.btn_close{
		display: none;
	}
	@include media('mobile'){
		left: 0;
		right: 0;
		margin: 0 auto;
		top: calc(50vh - 220px);
		z-index: 3;
		padding: 16px;
		.btn_close{
			display: block;
		}
	}

	&.transition{
		transition: $transition;
	}
	&.open{
		transform: translateY(0px);
		display: block;
		opacity: 1;
	}

	&::before{
		display: block;
		position: absolute;
		top: -14px;
    	right: 39px;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 14px 14px 14px;
		border-color: transparent transparent #FFF transparent;
		@include media('mobile'){
			display: none;
		}
	}
	.img{
		float: left;
		img{
			width: 58px;
			float: left;
		}
	}

	.info{
		float: left;
		width: calc(100% - 58px);
		position: relative;
		padding-left: 8px;
		.no{
			display: block;
			line-height: 24px;
			padding-top: 5px;
			&::before{
				content: "RICH NO：";
			}
		}
		.products_name{
			display: block;
			line-height: 24px;
			padding-bottom: 5px;
		}
		.name{
			display: block;
			float: left;
		}
		.quantity{
			display: block;
			float: left;
			&::before{
				content: "X";
			}
		}
	}

	ul{
		overflow-y: scroll;
		max-height: 430px;
		overflow-x: hidden;
		//捲軸底色
		&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #D8D8D8;;
		}
		//捲軸寬度
		&::-webkit-scrollbar {
		width: 6px;
		background-color: #D8D8D8;
		}
		//捲軸本體顏色
		&::-webkit-scrollbar-thumb {
		background-color: #979797;
		}

  
		li{
			display: inline-block;
			width: 100%;
			padding: 8px 0;
			@include media('mobile'){
				padding: 2px 0;
			}
			&::after{
				@extend %clear;
			}
		}
	}

	.pop_inquiry_footer{
		margin-top: 8px;
    	border-top: #979797 dashed 1px;
		position: relative;
		padding-top: 16px;
		>span{
			line-height: 48px;
			&.total{
				font-size: 1.1em;
				font-weight: bold;
				padding: 0 4px;
				max-width: 34px;
				overflow: hidden;
				display: inline-block;
				height: 22px;
				line-height: 30px;
			}
		}
		a{
			background-color: #F6851D;
			border: #FF6363 solid 1px;
			border-radius: 50px;
			// line-height: 48px;
			height: 46px;
			padding: 11px 24px 13px 24px;
			font-size: 1.125em;
			letter-spacing: 2px;
			position: absolute;
			right: 0;
			color: #FFF;
			padding-right: 32px;
			@include media('mobile'){
				width: 100%;
				display: block;
				text-align: center;
				position: relative;
			}
			&::after{
				display: block;
				position: absolute;
				top: 14px;
				right: 18px;
				content: "";
				width: 11px;
				height: 17px;
				background-image: url('../images/icon/icon_arrow_sw.svg');
			}
		}
	}
}

//語系
.pop_language{
	background-color: #fff;
    border-radius: 10px;
    max-width: 112px;
    position: absolute;
	right: 14px;
    top: 88px;
    // overflow: hidden;
    padding: 20px 24px;
    box-sizing: border-box;
	// display: none;
	transform: translateY(-200%);
	opacity: 0;
	box-shadow: $box-shadow;
	z-index: 2;
	width: calc(100% - 32px);
	.btn_close{
		display: none;
	}
	@include media('mobile'){
		max-width: 448px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: calc(50vh - 60px);
		.btn_close{
			display: block;
		}
	}
	&.transition{
		transition: $transition;
	}
	&.open{
		transform: translateY(0px);
		display: block;
		opacity: 1;
	}
	&::before{
		display: block;
		position: absolute;
		top: -14px;
    	right: 39px;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 14px 14px 14px;
		border-color: transparent transparent #FFF transparent;
		@include media('mobile'){
			display: none;
		}
	}
	ul{
		li{
			line-height: 36px;
			a{
				color: #2D2D2D;
				&:hover, &:focus{
					color: $major-color;
				}
			}
		}
	}
}
::-webkit-input-placeholder { /* Chrome, Safari */
	color: #333333;
}
.btn_close{
	@extend %hide-text;
	position: absolute;
	z-index: 4;
	left: 0;
	top: -72px;
	width: 56px;
	height: 56px;
	@include media('mobile'){
		width: 48px;
		height: 48px;
		border: white solid 1px;
		border-radius: 48px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.2);
	}

	&:before, &:after{
		transition-duration: 0.5s;
		background-color: #FFF;
		position: absolute;
		content: "";
		width: 42px;
		height: 5px;
		border-radius: 5px;
		left: 9px;
		top: 22px;

		@include media('mobile'){
			width: 28px;
			height: 3px;
		}
	}
	&:before{
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}      
	&:after{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	&:hover, &:focus{
		@include media('mobile'){
			border-color: $major-color;
		}
		&:before, &:after{
			background-color: $major-color;
		}
	}
}
.pop_search{
	position: fixed;
	width: 100vw;
	height: 100vh;
    left: 0;
    right: 0;
    z-index: 9;
	background-color: rgba(0,0,0,0.5);
	display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
	display: none;
	&.open{
		display: flex;
	}
	h2{
		color: white;
		text-align: left;
		padding: 0;
		padding-left: 28px;
		font-size: 2em;
		margin-bottom: 8px;
		@include media('mobile'){
			font-size: 1.6em;
			text-align: center;
			padding: 0;
			margin: 0;
			margin-bottom: 8px;
		}
	}
	ul{
		position: relative;
		max-width: 930px;
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0 24px;
		li{
			position: relative;
		}
	}
	input[type="text"]{
		width: 100%;
		height: 64px;
		border-radius: 64px;
		outline: none;
		padding-left: 24px;
		font-size: 1.1em;
		font-family: 'Open Sans', Helvetica;
		border: none;
		padding-right: 64px;
		@include media('mobile'){
			font-size: 0.9em
		}
	}

	.btn_submit{
		cursor: pointer;
		@extend %hide-text;
		position: absolute;
		z-index: 10;
		top: 8px;
		right: 11px;
		width: 46px;
		height: 46px;
		border: none;
		border-radius: 54px;
		background-color: #F6851D;
		border: #F6851D solid 2px;
		@extend %clear;
		background-image: url('../images/icon/icon_search2_w.svg');
		background-repeat: no-repeat;
		background-position: center;
		transition: $transition;
		&:hover, &:focus{
			background-image: url('../images/icon/icon_search2_o.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #FFF;
			border: #F6851D solid 2px;
		}
	}
}
/*------------------------------------------------------------------
footer
------------------------------------------------------------------*/
.footer{
	clear: both;
	padding-top: 80px;
	background-color: #000;
	color: #FFF;
	@include media('phone'){
		padding-top: 32px;
	}
	>.center{
		position: relative;
		h2{
			@extend %hide-text;
			height: 0;
			margin: 0;
			padding: 0!important;
			@include media('mobile'){
				display: none;
			}
		}
	}
	.map{
		margin-bottom: 40px;
		padding: 0 32px;
		@include rwd(928){
			>ul:nth-child(4){
				margin-right: 0;
			}
			>ul:nth-child(5){
				clear: both;
			}
		}
		@include media('mobile'){
			display: none;
		}
		&::after{
			@extend %clear;
		}
		.title{
			>a{
				&:hover, &:focus{
					h3::before{
						transform: translateX(0%);
					}
				}
			}
		}
		a{
			&:hover, &:focus{
				p{
					color: $major-color;
				}
			}
		}
		h3{
			font-size: 1.125em;
			letter-spacing: 2px;
			font-weight: 600;
			line-height: 32px;
			padding-left: 16px;
			padding-right: 16px;
			position: relative;
			white-space:nowrap;
			overflow: hidden;
			&::after{
				content: "";
				display: block;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 4px;
				height: 32px;
				background-color: $major-color;
			}
			&::before{
				content: "";
				display: block;
				position: absolute;
				z-index: 2;
				left: 0;
				width: 100%;
				height: 32px;
				background-color: $major-color;
				transition: $transition;
				transform: translateX(-100%);
			}
			span{
				position: relative;
				z-index: 3;
			}
		}
		p{
			font-size: 1em;
			letter-spacing: 1px;
			margin: 14px 0;
			position: relative;
			padding-left: 16px;
			white-space:nowrap;
			&::before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 8px;
				width: 6px;
				height: 6px;
				background-color: $major-color;
				border-radius: 18px;
			}
		}
		>ul{
			float: left;
			margin-right: 23px;
			margin-bottom: 16px;
			&:nth-last-child(1){
				margin: 0;
			}
			@include media('mobile'){
				margin-right: 20px;
			}
		}
	}
	.info{
		font-size: 0.95em;
		line-height: 1.6em;
		margin-bottom: 24px;
		position: relative;
		padding: 0 32px;

		@include rwd(710){
			padding-right: 98px;
		}
		@include rwd(604){
			padding-right: 0px;
		}
		.logo{
			@extend %hide-text;
			display: block;
			width: 264px;
			height: 43px;
			background-image: url('../images/logo_w.png');
			background-repeat: no-repeat;
			background-size: contain;
		}
		&::after{
			@extend %clear;
		}
		>ul{
			display: block;
			float: left;
			margin-right: 42px;
			margin-bottom: 8px;
			@include rwd(1158,1113){
				margin-right: 16px;
			}
			@include rwd(1110){
				&:nth-child(1){
					width: 100%;
					margin-right: 0;
				}
			}
			@include rwd(850){
				margin-right: 8px;
			}
			>li{
				&::after{
					@extend %clear;
				}
				>span{
					float: left;
					width: 48px;
					padding-right: 8px;
				}
				>p{
					float: left;
				}

				&.add{
					// margin-left: 48px;
					max-width: 340px;
					display: flex;
					p{
						// width: 54%;
					}
				}
				a{
					&:hover, &:focus{
						color: $major-color;
					}
				}
			}
			&.icon{
				position: absolute;
				top: 0;
				right: 32px;
				margin: 0;
				@include rwd(1113,1110){
					top: -72px;
				}
				@include rwd(1110){
					top: 52px;
				}
				@include media('mobile'){
					display: none;
				}
				.fb{
					// position: absolute;
					// right: 212px;
					// top: 0;
					// z-index: 2;
					float: left;
					margin-right: 16px;
					a{
						@extend %hide-text;
						display: block;
						content: "";
						width: 48px;
						height: 48px;
						background-image: url('../images/icon/icon_fb.svg');
						background-repeat: no-repeat;
						background-size: contain;
						border: #FFF solid 1px;
						border-radius: 50px;
						transition: $transition;
						&:hover, &:focus{
							background-color: $major-color;
							color: black;
							border-color: $major-color;
						}
					}
				}
				.mail{
					// position: absolute;
					// right: 32px;
					// top: 0;
					z-index: 2;
					float: left;
					a{
						display: block;
						content: "";
						// width: 48px;
						height: 48px;
						background-image: url('../images/icon/icon_mail_w.svg');
						background-repeat: no-repeat;
						background-size: contain;
						border: #FFF solid 1px;
						border-radius: 50px;
						line-height: 48px;
						text-transform: uppercase;
						padding-left: 50px;
						padding-right: 16px;
						background-position: 5px center;
						transition: $transition;
						&:hover, &:focus{
							background-color: $major-color;
							color: black;
							border-color: $major-color;
						}

						@include media('mobile'){
							color: transparent!important;
							font: 0/0 a;
							width: 48px;
							padding: 0;
							background-position: center;
						}
					}
				}
			}
		}
	}
	a{
		color: #FFF;
	}
}
.Copyright{
	border-top: #979797 solid 1px;
	.center{
		display: block;
		width: 100%;
		font-weight: 500;
		line-height: 58px;
		min-height: 58px;
		letter-spacing: 1px;
		font-size: 1em;
		@include media('mobile'){
			line-height: 32px;
			font-size: 0.9em;
			padding-top: 8px;
		}
		&::after{
			@extend %clear;
		}
		>p{
			display: block;
			float: left;
			padding-left: 32px;
			@include media('phone'){
				line-height: 1.6em;
				font-size: 0.8em;
				text-align: center;
				width: 100%;
				padding-top: 8px;
				padding-left: 0;
			}
		}
		ul{
			display: block;
			float: left;
			padding-left: 16px;
			@include media('phone'){
				width: 100%;
				font-size: 0.8em;
				text-align: center;
				line-height: 1em;
				padding: 8px 0 24px 0;
			}
			&::after{
				@extend %clear;
			}
			li{
				float: left;
				position: relative;
				padding: 0 16px;
				@include media('phone'){
					float: none;
					display: inline-block;
				}
				&::before{
					content: "/";
					display: block;
					position: absolute;
					color: #6B6B6B;
					left: 0;
				}
				&:nth-child(1){
					&::before{
						display: none;
					}
				}
				a{
					color: white;
					&:hover, &:focus{
						color: $major-color;
					}
				}
			}
		}
	}
}
.main{
	display: block;
	width: 100%;
	position: relative;
	&.pop_active2,
	&.pop_active{
		&::before{
			@include media('mobile'){
			content: "";
			position: fixed;
			z-index: 3;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.5);
			}
		}
	}
}
.more{
    display: block;
    position: relative;
    color: #2D2D2D;
    height: 36px;
    padding-right: 48px;
    position: absolute;
    color: #2D2D2D;
    right: 0;
    line-height: 36px;
    &::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 36px;
        height: 36px;
		background-image: url('../images/icon/icon_more_b.svg');
        border: #2D2D2D solid 1px;
        background-position: center;
        border-radius: 50px;
        background-color: white;
    }
    &:hover,&:focus{
        color: #EA7000;
        &::after{
			background-image: url('../images/icon/icon_more_w.svg');
            background-color: #EA7000;
            border-color: #EA7000;
        }
    }
}
/*------------------------------------------------------------------
cookies
------------------------------------------------------------------*/
.block_cookie{
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 5;
    color: white;
    background-color: rgba(0,0,0,0.7);
    transition: $transition;
    transform: translateY(0%);
    &.close-block{
        display: none;
    }
    &.close{
        transform: translateY(100%);
    }
	.cookie-content{
		@include media('phone'){
			font-size: 0.9em;
			line-height: 1.6em;
		}
	}
    .cookies_container{
        max-width: 1410px;
        margin: 0 auto;
        padding: 48px 24px;
        box-sizing: border-box;
        position: relative;
		@include media('phone'){
			padding: 28px 24px;
			padding-bottom: 48px;
		}
    }
    a{
        color: white;
        &:hover, &:focus{
            color: $major-color;
        }
        &.btn_accept{
            display: block;
            @extend %hide-text;
            position: absolute;
            right: 16px;
            bottom: 24px;
            width: 36px;
            height: 36px;
            background-image: url('../images/icon/icon_more_w.svg');
            background-repeat: no-repeat;
            background-size: contain;
            border: white solid 1px;
            border-radius: 100px;
            &:hover, &:focus{
                background-image: url('../images/icon/icon_more_b.svg');
                background-color: white;
            }
        }
    }
}