/*------------------------------------------------------------------
contact
------------------------------------------------------------------*/
.page_contact{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    // padding: 0 32px;
    padding: 0;
    .article_content{
        font-size: 1em!important;
        &::before{
            top: 0!important;
        }
    }
    .page_contact_products{
        padding: 0px!important;
        margin-top: 32px!important;
    }
}
.page_detail_list_products,
.page_contact_products{
    display: inline-block;
    
    h3{
        color: #56585A;
        font-size: 2.375em;
        margin-bottom: 32px;
        @include media('phone'){
            font-size: 2em;
            margin-bottom: 4px;
        }
        @include rwd(420){
            font-size: 1.4em;
        }
    }
    ul{
        li{
            @include rwd(420){
                text-align: center;
            }
            &::after{
                @extend %clear;
            }
            .img{
                width: 140px;
                height: 140px;
                float: left;
                @include rwd(420){
                    width: 100%;
                    height: auto;
                    float: none;
                }
                img{
                    width: 100%;
                    max-width: 230px;
                }
            }
            .info{
                width: calc(100% - 140px);
                height: 140px;
                float: left;
                @include rwd(420){
                    width: 100%;
                    height: auto;
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 8px;
                    max-width: 230px;
                }
                span{
                    display: block;
                }
                .no{
                    font-size: 1.25em;
                    padding: 6px 24px;
                    @extend %ellipsis;
                    text-align: left;
                    @include media('phone'){
                        font-size: 1em;
                        padding: 2px 16px;
                    }
                    @include rwd(420){
                        width: 100%;
                        text-align: left;
                        padding: 0;
                        padding-bottom: 14px;
                    }
                    &::before{
                        content: "RICH NO.";
                    }
                }

                .products_name{
                    display: block;
                    padding: 6px 24px;
                    width: calc(100% - 200px);
                    box-sizing: border-box;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-align: left;
                    @include rwd(1430){
                        width: 100%;
                    }
                    @include media('phone'){
                        padding: 2px 16px;
                    }
                    @include rwd(420){
                        padding: 0;
                        padding-bottom: 16px;
                    }
                    .name{
                        font-size: 1.5em;
                        @include rwd(920){
                            font-size: 1.25em;
                        }
                        @include rwd(420){
                            font-size: 1.4em;
                        }
                    }
                }
            }
            .select_quantity{
                display: inline-block;
                position: absolute;
                bottom: 34px;
                right: 24px;
                min-width: 232px;
                @include rwd(1430){
                    position: relative;
                    bottom: auto;
                    right: auto;
                    left: auto;
                    margin-left: 164px;
                }
                @include media('phone'){
                    margin-left: 157px;
                }
                @include rwd(420){
                    margin: 0 auto;
                    min-width: 200px;
                }
            }
        }
    }
}
.select_quantity{
    input[type="button"]{
        display: block;
        width: 48px;
        height: 48px;
        float: left;
        @include rwd(520){
            width: 40px;
            height: 40px;
        }
    }
    input[type="text"]{
        display: block;
        width: 72px;
        height: 48px;
        float: left;
        border: none;
        background-color: #F5F5F5;
        box-shadow: inset #747474 1px 1px 3px;
        text-align: center;
        font-size: 1.25em;
        color: #333;
        @include rwd(520){
            height: 40px;
        }
    }
    .reduce,
    .increase{
        cursor: pointer;
        background-color: $major-color;
        background-size: cover;
        border: none;
        &:hover{
            opacity: 0.9;
        }
    }
    .increase{
        background-image: url('../images/icon/icon_increase.svg');
        border-radius: 5px 0 0 5px;
    }
    .reduce{
        background-image: url('../images/icon/icon_reduce.svg');
        border-radius: 0 5px 5px 0;
    }
    .delete{
        cursor: pointer;
        border: #C5C5C5 solid 1px;
        background-image: url('../images/icon/icon_delete_g.svg');
        border-radius: 5px;
        transition: $transition;
        margin-left: 15px;
        background-position: center;
        background-size: cover;
        &:hover{
            background-color: $major-color;
            background-image: url('../images/icon/icon_delete_w.svg');
        }
    }
    .cart{
        cursor: pointer;
        border: $major-color solid 1px;
        background-image: url('../images/icon/icon_cart_w.svg');
        border-radius: 5px;
        transition: $transition;
        margin-left: 15px;
        background-color: $major-color;
        background-position: center;
        background-size: cover;
        &:hover{
            border: #C5C5C5 solid 1px;
            background-color: white;
            background-image: url('../images/icon/icon_cart_g.svg');
        }
    }
}
.page_contact_products{
    padding: 0 32px;
    width: 100%;
    overflow: hidden;
    @include rwd(490){
        width: 100%;
        padding: 0 24px;
    }
    ul{
        li{
            width: 50%;
            float: left;
            border-bottom: #979797 dashed 1px;
            padding: 34px 16px;
            box-sizing: border-box;
            position: relative;

            @include rwd(905){
                width: 100%;
            }
            @include rwd(420){
                padding: 24px 0;
            }
        }
    }
}
.article_questions_list{
    padding-top: 48px;
    padding-bottom: 64px;
    display: block;
    width: 100%;
    clear: both;
    background-color: #F4F4F4;
    margin-top: 44px;
    .center{
        padding: 0 32px;
    }
    h3{
        display: block;
        clear: both;
        color: #56585A;
        font-size: 2.375em;
        line-height: 1.3em;
        @include media('phone'){
            font-size: 1.8em;
        }
    }
}
.progress_bar{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 1em;
    height: 32px;
    >p{
        float: left;
        height: 32px;
        line-height: 32px;
    }
    ul{
        float: left;
        width: 184px;
        height: 32px;
        padding: 13px 0;
        margin-left: 8px;
        li{
            @extend %hide-text;
            background-color: #D8D8D8;
            width: 25%;
            height: 6px;
            float: left;
            &.active{
                background-color: $major-color;
            }
        }
    }
}
.questions_list{
    padding-top: 48px;
    @include media('phone'){
        padding-top: 24px;
    }
    li{
        position: relative;
        height: 64px;
        padding: 10px 0;
        padding-left: 26px;
        @include media('phone'){
            height: 48px;
            padding-left: 20px;
        }
        &::before{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            z-index: 2;
            background-color: $major-color;
            top: 22px;
            left: 2px;
            @include media('phone'){
                width: 6px;
                height: 6px;
            }
        }
        a{
            color: #333;
            font-size: 1.5em;
            position: relative;
            @include media('phone'){
                font-size: 1.2em;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 1px;
                background-color: #2d2d2d;
                bottom: -8px;
                @include media('phone'){
                    bottom: -3px;
                }
            }
            &::after{
                display: block;
                content: "";
                position: absolute;
                right: -44px;
                top: 0;
                width: 36px;
                height: 36px;
                background-image: url('../images/icon/icon_more_b.svg');
                border: #2D2D2D solid 1px;
                background-position: center;
                border-radius: 50px;
                background-color: white;
                background-size: cover;
                @include media('phone'){
                    width: 28px;
                    height: 28px;
                }
            }
            &:hover,&:focus{
                color: #EA7000;
                &::before{
                    background-color: #EA7000;
                }
                &::after{
                    background-image: url('../images/icon/icon_more_w.svg');
                    background-color: #EA7000;
                    border-color: #EA7000;
                }
            }
        }
    }    
}