/*------------------------------------------------------------------
contact
------------------------------------------------------------------*/
.page_contact{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    // padding: 0 32px;
    padding: 0;
    .article_content{
        font-size: 1em!important;
        &::before{
            top: 0!important;
        }
    }
    .page_contact_products{
        padding: 0px!important;
        margin-top: 32px!important;
    }
}
.page_detail_list_products,
.page_contact_products{
    display: inline-block;
    
    h3{
        color: #56585A;
        font-size: 2.375em;
        margin-bottom: 32px;
        @include media('phone'){
            font-size: 2em;
            margin-bottom: 4px;
        }
        @include rwd(420){
            font-size: 1.4em;
        }
    }
    ul{
        li{
            @include rwd(420){
                text-align: center;
            }
            &::after{
                @extend %clear;
            }
            .img{
                width: 140px;
                height: 140px;
                float: left;
                @include rwd(420){
                    width: 100%;
                    height: auto;
                    float: none;
                }
                img{
                    width: 100%;
                    max-width: 230px;
                }
            }
            .info{
                width: calc(100% - 140px);
                height: 140px;
                float: left;
                @include rwd(420){
                    width: 100%;
                    height: auto;
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 8px;
                    max-width: 230px;
                }
                span{
                    display: block;
                }
                .no{
                    font-size: 1.25em;
                    padding: 6px 24px;
                    @extend %ellipsis;
                    text-align: left;
                    font-weight: bold;
                    @include media('phone'){
                        font-size: 1em;
                        padding: 2px 16px;
                    }
                    @include rwd(420){
                        width: 100%;
                        text-align: left;
                        padding: 0;
                        padding-bottom: 4px;
                    }
                    &::before{
                        content: "RICH NO.";
                        font-size: 0.95em;
                    }
                }

                .products_name{
                    display: block;
                    padding: 6px 24px;
                    width: calc(100% - 200px);
                    box-sizing: border-box;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-align: left;
                    @include rwd(1430){
                        width: 100%;
                    }
                    @include media('phone'){
                        padding: 2px 16px;
                    }
                    @include rwd(420){
                        padding: 0;
                        padding-bottom: 16px;
                    }
                    .name{
                        font-size: 1.1em;
                        font-weight: normal;
                    }
                }
            }
            .select_quantity{
                display: inline-block;
                position: absolute;
                bottom: 34px;
                right: 24px;
                min-width: 232px;
                z-index: 2;
                @include rwd(1430){
                    position: relative;
                    bottom: auto;
                    right: auto;
                    left: auto;
                    margin-left: 164px;
                }
                @include media('phone'){
                    margin-left: 157px;
                }
                @include rwd(420){
                    margin: 0 auto;
                    min-width: 200px;
                }
            }
        }
    }
}
.select_quantity{
    input[type="button"]{
        display: block;
        width: 48px;
        height: 48px;
        float: left;
        @include rwd(520){
            width: 40px;
            height: 40px;
        }
    }
    input[type="text"]{
        display: block;
        width: 72px;
        height: 48px;
        float: left;
        border: none;
        background-color: #F5F5F5;
        box-shadow: inset #747474 1px 1px 3px;
        text-align: center;
        font-size: 1.25em;
        color: #333;
        @include rwd(520){
            height: 40px;
        }
    }
    .reduce,
    .increase{
        cursor: pointer;
        background-color: $major-color;
        background-size: cover;
        border: none;
        &:hover{
            opacity: 0.9;
        }
    }
    .increase{
        background-image: url('../images/icon/icon_increase.svg');
        border-radius: 5px 0 0 5px;
    }
    .reduce{
        background-image: url('../images/icon/icon_reduce.svg');
        border-radius: 0 5px 5px 0;
    }
    .delete{
        cursor: pointer;
        border: #C5C5C5 solid 1px;
        background-image: url('../images/icon/icon_delete_g.svg');
        border-radius: 5px;
        transition: $transition;
        margin-left: 15px;
        background-position: center;
        background-size: cover;
        &:hover{
            background-color: $major-color;
            background-image: url('../images/icon/icon_delete_w.svg');
        }
    }
    .cart{
        cursor: pointer;
        border: $major-color solid 1px;
        background-image: url('../images/icon/icon_cart_w.svg');
        border-radius: 5px;
        transition: $transition;
        margin-left: 15px;
        background-color: $major-color;
        background-position: center;
        background-size: cover;
        &:hover{
            border: #C5C5C5 solid 1px;
            background-color: white;
            background-image: url('../images/icon/icon_cart_g.svg');
        }
    }
}
.page_contact_products{
    padding: 0 32px;
    width: 100%;
    overflow: hidden;
    @include rwd(490){
        width: 100%;
        padding: 0 24px;
    }
    ul{
        li{
            width: 50%;
            float: left;
            border-bottom: #979797 dashed 1px;
            padding: 34px 16px;
            box-sizing: border-box;
            position: relative;

            @include rwd(905){
                width: 100%;
            }
            @include rwd(420){
                padding: 24px 0;
            }
            .info{
                a{
                    color: #333;
                    &:hover, &:focus{
                        color: $major-color;
                    }
                }
                .no{
                    font-size: 1.4em;
                    padding-bottom: 0;
                }
            }
        }
    }
}
.article_questions_list{
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 64px;
    display: block;
    width: 100%;
    clear: both;
    background-color: #F4F4F4;
    margin-top: 44px;
    .center{
        padding: 0 32px;
        @include media('phone'){
            padding: 0 16px;
        }
    }
    h3{
        display: block;
        clear: both;
        color: #56585A;
        font-size: 2.375em;
        line-height: 1.3em;
        margin-bottom: 16px;
        @include media('phone'){
            font-size: 1.8em;
        }
    }
}
.form{
    clear: both;
}
.progress_bar{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 1em;
    // height: 32px;
    >p{
        float: left;
        height: 32px;
        line-height: 32px;
    }
    ul.step_bar{
        float: left;
        width: 184px;
        height: 32px;
        padding: 13px 0;
        margin-left: 8px;
        >li{
            @extend %hide-text;
            background-color: #D8D8D8;
            width: 25%;
            height: 6px;
            float: left;
            &.active{
                background-color: $major-color;
            }
        }
    }
}
.questions_list{
    // padding-top: 48px;
    @include media('phone'){
        // padding-top: 24px;
    }
    li{
        position: relative;
        height: 64px;
        padding: 10px 0;
        padding-left: 26px;
        @include media('phone'){
            height: 48px;
            padding-left: 20px;
        }
        &::before{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            z-index: 2;
            background-color: $major-color;
            top: 22px;
            left: 2px;
            @include media('phone'){
                width: 6px;
                height: 6px;
            }
        }
        a{
            color: #333;
            font-size: 1.5em;
            position: relative;
            @include media('phone'){
                font-size: 1.2em;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 1px;
                background-color: #2d2d2d;
                bottom: -8px;
                @include media('phone'){
                    bottom: -3px;
                }
            }
            &::after{
                display: block;
                content: "";
                position: absolute;
                right: -44px;
                top: 0;
                width: 36px;
                height: 36px;
                background-image: url('../images/icon/icon_more_b.svg');
                border: #2D2D2D solid 1px;
                background-position: center;
                border-radius: 50px;
                background-color: white;
                background-size: cover;
                @include media('phone'){
                    width: 28px;
                    height: 28px;
                }
            }
            &:hover,&:focus{
                color: #EA7000;
                &::before{
                    background-color: #EA7000;
                }
                &::after{
                    background-image: url('../images/icon/icon_more_w.svg');
                    background-color: #EA7000;
                    border-color: #EA7000;
                }
            }
        }
    }    
}
.questions_form{
    .hide{
        display: none;
    }
    .tab_content{
        position: relative;
        fieldset{
            position: relative;
            clear: both;
            border: none;
            font-size: 1.25em;
            color: #333;
            margin-bottom: 16px;
            @include media('phone'){
                font-size: 1em;
            }
        }
        h4{
            font-weight: normal;
            position: relative;
            padding: 8px 0px;
            &::before{
                content: "*";
                color: $major-color;
            }
            span{
                color: $major-color;
                padding: 0 8px;
                font-size: 0.8em;
            }
        }
        h5{
            font-size: 1em;
            font-weight: 400;
            padding: 8px 0px;
            margin-top: 5px;
            padding-left: 8px;
        }
        >li{
            &.hide_list{
                display: none!important;
                position: absolute;
                top: 0;
            }
        }
    }
    .fieldset_ul{
        >li{
            display: inline-block;
            line-height: 32px;
            padding-left: 38px;
            margin: 8px;
            position: relative;
            @include media('phone') {
                line-height: 24px;
                padding-left: 30px;
            }
        }
        &.ul1{
            >li{
                width: calc(33.33% - 24px);
                @include rwd(1210){
                    width: calc(30% - 24px);
                    &:nth-last-child(1){
                        width: calc(40% - 24px);
                    }
                }
                @include rwd(1005){
                    width: calc(25% - 24px);
                    &:nth-last-child(1){
                        width: calc(75% - 24px);
                    }
                }
                @include rwd(787){
                    width: calc(50% - 24px);
                    &:nth-last-child(1){
                        width: calc(100% - 24px);
                    }
                }
                @include rwd(470){
                    width: calc(100% - 24px);
                }
            }
        }
        &.ul2{
            >li{
                width: calc(20% - 24px);
                @include rwd(1110){
                    width: calc(25% - 24px);
                }
                @include rwd(930){
                    width: calc(33.33% - 24px);
                }
                @include rwd(740){
                    width: calc(50% - 24px);
                }
                @include rwd(470){
                    width: calc(100% - 24px);
                }
            }
        }
        &.ul3{
            position: relative;
            display: inline-block;
            width: 100%;
            input{
                max-width: 198px;
            }
            >li{
                width: calc(25% - 16px);
                // float: left;
                @include rwd(550){
                    width: calc(33.33% - 16px);
                }
                @include rwd(420){
                    width: calc(100% - 16px);
                }
                &:nth-child(1){
                    min-width: 336px;
                }
                &:nth-child(4){
                    position: absolute;
                    z-index: 2;
                    @include rwd(980){
                        left: 357px;
                        top: 49px;
                    }
                    @include rwd(550){
                        left: auto;
                        top: auto;
                    }
                    @include rwd(420){
                        position: relative;
                    }
                }
                &:nth-last-child(1){
                    width: 100%;
                    min-width: 336px;
                }
                .Others_country_text{
                    max-width: 198px;
                }
            }
            .w70{
                display: inline-block;
                width: 70px;
            }
            
        }
        &.ul5,
        &.ul4{
            input{
                max-width: 198px;
            }
            >li{
                width: calc(25% - 16px);
                float: left;
                @include rwd(1020){
                    width: calc(33.33% - 16px);
                }
                @include rwd(660){
                    width: calc(50% - 16px);
                }

            }
            .w70{
                display: inline-block;
                width: 70px;
            }
        }
        &.ul4{
            >li{
                &:nth-last-child(1){
                    min-width: 336px;
                }
                @include rwd(470){
                    width: calc(100% - 16px);
                }
            }
        }
        &.ul5{
            >li{
            }
        }
        &.ul6{
            >li{
                width: calc(20% - 16px);
                @include rwd(1180){
                    width: calc(33.33% - 20px);
                }
                @include rwd(870){
                    width: calc(50% - 28px);
                }
                @include rwd(620){
                    width: calc(100% - 28px);
                }
            }
        }
        &.ul_info1,
        &.ul_info2,
        &.ul_info3,
        &.ul_info4{
            &::after{
                @extend %clear;
            }
            >li{
                width: calc(25% - 24px);
                padding-left: 0;
                float: left;
                @include rwd(1000){
                    width: calc(33.33% - 24px);
                }
            }
            label{
                width: 100%;
                display: block;
            }
            input[type=email],
            input[type=tel],
            input[type=text]{
                margin: 0;
                width: 100%;
            }
            select{
                float: left;
                // max-width: 100%;
                // float: left;
                // @include rwd(530){
                //     max-width: auto!important;
                // }
            }
            .Messanging_Apps,
            .Contact_Person{
                width: calc(100% - 136px)!important;
                float: left;
                margin-left: 16px!important;
            }
        }
        &.ul_info1{
            >li{
                width: calc(25% - 24px);
                @include rwd(1000){
                    width: calc(50% - 24px);
                }
                @include rwd(620){
                    width: calc(100% - 28px);
                }
            }
            select{
                min-width: 100%;
            }
        }
        &.ul_info2{
            >li{
                width: calc(25% - 24px);
                @include rwd(1000){
                    width: calc(50% - 24px);
                }
                @include rwd(620){
                    width: calc(100% - 28px);
                }
                &::after{
                    @extend %clear;
                }
            }
        }
        &.ul_info3{
            >li{
                display: inline-block;
                float: left;
                width: calc(25% - 24px);
                @include rwd(1000){
                    width: calc(50% - 24px);
                }
                @include rwd(620){
                    width: calc(100% - 28px);
                }
                &:nth-child(2){
                    // margin-left: 12px;
                }

            }
        }
        &.ul_info4{
            position: absolute;
            width: 100%;
            right: 23px;
            top: 82px;
            display: inline-block;
            z-index: 2;
            @include rwd(1000){
                position: relative;
                right: auto;
                top: auto;
            }
            >li{
                width: calc(50% - 24px);
                float: right;
                @include rwd(1000){
                    width: calc(100% - 32px);
                    float: left;
                }
            }
            textarea{
                height: 117px;
            }

        }
        .Others_country_text,
        .Europe_text{
            width: calc(100% - 100px);
            margin: 0;
        }
        .business_Others_text,
        .supplier_Others_text{
            margin: 0;
            width: calc(100% - 70px);
        }
    }
    select{
        height: 34px;
        border: #979797 solid 1px;
        border-radius: 5px;
        font-size: 1.05em;
        max-width: 274px;
        color: #333;
        min-width: 120px;
        @include rwd(530){
            max-width: auto;
        }
    }
    input[type=checkbox],
	input[type=radio] {
		// display: none;
		position: absolute;
		transform: scale(2);
		left: 5px;
		margin-top: 4px;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}
    input[type=email],
    input[type=tel],
    input[type=text]{
        line-height: 32px;
        height: 33px;
        border: none;
		outline: none;
        border: #979797 solid 1px;
		border-radius: 5px;
        padding: 0 8px;
        // margin: 0 16px;
        font-size: 1.05em;
    }
	textarea{
		height: 144px;
		width: 100%;
		padding: 16px;
		border: none;
		outline: none;
		padding-left: 16px;
		background-color: #FFF;
		border: #979797 solid 1px;
		border-radius: 5px;
	}
	label span {
		display: inline-block;
		padding-left: 26px;
		line-height: 20px;
		// background: url(cbx-off.svg) no-repeat;
		user-select: none;
		position: relative;
		padding-left: 32px;
		height: 32px;
		line-height: 24px;
		word-break: keep-all;
		cursor: pointer;
		position: absolute;
		left: 0;
		@include media('phone') {
			font-size: 1.1em;
			margin: 2px 0;
            padding-left: 24px;
            height: 24px;
		}
		&::before{
			content: "";
			display: block;
			position: absolute;
			left: 0;
			width: 32px;
			height: 32px;
			background-color: #FFF;
			border: #979797 solid 1px;
			border-radius: 5px;
			cursor: pointer;
            @include media('phone'){
                width: 24px;
                height: 24px;
            }
		}
	}

    label span.radio::before{
        border-radius: 100px;
    }
	label.selected span
	input[type=checkbox].selected + span,
	input[type=checkbox]:checked + span,
	input[type=radio].selected + span,
	input[type=radio]:checked + span{
		&::before{
			background-color: #FF9336;
		}
	
	}
	input[type=checkbox].selected + label + span,
	input[type=checkbox]:checked + label + span,
	input[type=radio].selected + label + span,
	input[type=radio]:checked + label + span{
		&::before{
			background-color: #FF9336;
		}
	}
    .btn.tabs{
        margin-top: 24px;
        text-align: center;
        width: 100%;
        height: 56px;
        >li{
           display: inline-block;
           padding: 0 5%;
           width: 50%;
           float: left;
           @include media('mobile'){
                padding: 0 16px;
            }
           @include media('phone'){
               padding: 0 8px;
           }
        }
    }
    .prev,
    .next{
        width: 100%;
        height: 56px;
        display: block;
        text-align: center;
        line-height: 56px;
        border-radius: 100px;
        font-size: 1.25em;
        color: white;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 0 5%;
        max-width: 390px;
        @include media('phone'){
            font-size: 1em;
        }
        &:hover, &:focus{
            opacity: 0.7;
            animation: btn_pluse_effect 1200ms linear 2 alternate;
        }
        span{
            position: relative;
            &::before{
                display: block;
                content: "";
                position: absolute;
                
                background-image: url('../images/icon/icon_arrow_ow.svg');
                background-size: contain;
                width: 13px;
                height: 28px;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                @include media('phone'){
                    width: 7px;
                    height: 23px;
                }
            }
        }
    }
    .prev{
        background-color: #aaa;
        float: right;
        span{
            padding-left: 32px;
            @include media('phone'){
                padding-left: 14px;
            }
            &::before{
                left: 0;
                transform: rotateZ(180deg);
            }
            
        }
    }
    .next{
        background-color: $major-color;
        float: left;
        span{
            padding-right: 32px;
            @include media('phone'){
                padding-right: 14px;
            }
            &::before{
                right: 0;
            }
        }
    }
}
@keyframes btn_pluse_effect {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);}
    1.8% {transform: matrix3d(1.016,0,0,0,0,1.037,0,0,0,0,1,0,0,0,0,1);}
    3.5% {transform: matrix3d(1.033,0,0,0,0,1.094,0,0,0,0,1,0,0,0,0,1);}
    4.7% {transform: matrix3d(1.045,0,0,0,0,1.129,0,0,0,0,1,0,0,0,0,1);}
    5.31% {transform: matrix3d(1.051,0,0,0,0,1.142,0,0,0,0,1,0,0,0,0,1);}
    7.01% {transform: matrix3d(1.068,0,0,0,0,1.158,0,0,0,0,1,0,0,0,0,1);}
    8.91% {transform: matrix3d(1.084,0,0,0,0,1.141,0,0,0,0,1,0,0,0,0,1);}
    9.41% {transform: matrix3d(1.088,0,0,0,0,1.132,0,0,0,0,1,0,0,0,0,1);}
    10.71% {transform: matrix3d(1.097,0,0,0,0,1.107,0,0,0,0,1,0,0,0,0,1);}
    12.61% {transform: matrix3d(1.108,0,0,0,0,1.077,0,0,0,0,1,0,0,0,0,1);}
    14.11% {transform: matrix3d(1.114,0,0,0,0,1.067,0,0,0,0,1,0,0,0,0,1);}
    14.41% {transform: matrix3d(1.115,0,0,0,0,1.067,0,0,0,0,1,0,0,0,0,1);}
    16.32% {transform: matrix3d(1.119,0,0,0,0,1.077,0,0,0,0,1,0,0,0,0,1);}
    18.12% {transform: matrix3d(1.121,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1);}
    18.72% {transform: matrix3d(1.121,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);}
    20.02% {transform: matrix3d(1.121,0,0,0,0,1.113,0,0,0,0,1,0,0,0,0,1);}
    21.82% {transform: matrix3d(1.119,0,0,0,0,1.119,0,0,0,0,1,0,0,0,0,1);}
    24.32% {transform: matrix3d(1.115,0,0,0,0,1.11,0,0,0,0,1,0,0,0,0,1);}
    25.53% {transform: matrix3d(1.113,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);}
    29.23% {transform: matrix3d(1.106,0,0,0,0,1.089,0,0,0,0,1,0,0,0,0,1);}
    29.93% {transform: matrix3d(1.105,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1);}
    35.54% {transform: matrix3d(1.098,0,0,0,0,1.105,0,0,0,0,1,0,0,0,0,1);}
    36.64% {transform: matrix3d(1.097,0,0,0,0,1.106,0,0,0,0,1,0,0,0,0,1);}
    41.04% {transform: matrix3d(1.096,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1);}
    44.04% {transform: matrix3d(1.096,0,0,0,0,1.097,0,0,0,0,1,0,0,0,0,1);}
    51.45% {transform: matrix3d(1.099,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);}
    52.15% {transform: matrix3d(1.099,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);}
    58.86% {transform: matrix3d(1.101,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1);}
    63.26% {transform: matrix3d(1.101,0,0,0,0,1.1, 0,0,0,0,1,0,0,0,0,1);}
    66.27% {transform: matrix3d(1.101,0,0,0,0,1.101,0,0,0,0,1,0,0,0,0,1);}
    73.77% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
    81.18% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
    85.49% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
    88.59% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
    96% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
    100% {transform: matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);}
}