/*------------------------------------------------------------------
qna
------------------------------------------------------------------*/
.block_qna{
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    margin-bottom: 32px;
    // max-height: 124px;
    @include media('mobile'){
        margin-bottom: 16px;
        font-size: 1.4em;
    }
    @include media('phone'){
        font-size: 1.1em;
    }
    .question a,
    .answer{
        &::before{
            position: absolute;
            width: 56px;
            height: 56px;
            border-radius: 56px;
            line-height: 56px;
            text-align: center;
            font-weight: 700;
            color: white;
            left: 32px;
            @include media('mobile'){
                width: 48px;
                height: 48px;
                border-radius: 48px;
                line-height: 48px;
                left: 24px;
            }
            @include media('phone'){
                width: 20px;
                height: 20px;
                border-radius: 20px;
                line-height: 20px;
                left: 8px;
            }
        }
    }
    &.open{
        .question a{
            &::after{
                transform: rotateZ(0deg);
            }
        }
        .answer{
            padding: 88px 0;
            padding-left: 112px;
            transform: translateY(0) rotateX(0);
            height: auto;
            opacity: 1;
        }
    }
    .question{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            right: 32px;
            z-index: 4;
            top: calc(50% - 2px);
            display: block;
            width: 32px;
            height: 4px;
            background-color: $major-color; 
            border-radius: 5px;
            @include media('mobile'){
                right: 16px;
            }
            @include media('phone'){
                width: 12px;
                right: 8px;
                height: 2px;
            }
        }
        a{
            padding: 24px 0;
            padding-left: 112px;
            padding-right: 80px;
            position: relative;
            display: block;
            z-index: 3;
            border-radius: 8px;
            background-color: white;
            box-shadow: $box-shadow;
            color: $black;
            text-overflow: ellipsis;
            display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            // max-height: 128px;
            // overflow: hidden;
            @include media('mobile'){
                padding: 16px;
                padding-left: 88px;
                padding-right: 40px;
                -webkit-line-clamp: 99;
                max-height: none;
            }
            @include media('phone'){
                padding: 6px;
                padding-left: 36px;
                padding-right: 20px;
            }
            &:hover, &:focus{
                background-color: $major-color;
                color: white;
                &::before{
                    color: $major-color;
                    background-color: white;
                }
            }
            &::before{
                content: "Q";
                background-color: $major-color;
                top: 11px;
            }
            &::after{
                content: "";
                position: absolute;
                right: 32px;
                z-index: 4;
                top: calc(50% - 2px);
                display: block;
                width: 32px;
                height: 4px;
                background-color: $major-color; 
                transition: $transition;
                transform: rotateZ(90deg);
                border-radius: 5px;
                @include media('mobile'){
                    right: 16px;
                }
                @include media('phone'){
                    right: 8px;
                    width: 12px;
                    height: 2px;
                }
            }
        }

    }
    .answer{
        transform: translateY(-50%) rotateX(90deg);
        transition: $transition;
        opacity: 0;
        height: 1px;
        position: relative;
        margin-top: -20px;
        z-index: 1;
        padding: 16px 0;
        padding-left: 112px;
        padding-right: 88px;
        background-color: #F9F9F9;
        border-radius: 0 0 16px 16px;
        @include media('mobile'){
            padding-left: 88px!important;
        }
        @include media('phone'){
            padding-left: 38px!important;
        }
        &::before{
            content: "A";
            background-color: #A69C9C;
            top: 84px;
        }
    }
}
