@for $i from 1 through 10 {
	.block_location#{$i}{
		clear: both;
		padding: 72px 0;
	}
	.block_location1 .swiper-slide#{$i}{
		background-image: url('../images/location/main_slice#{$i}.jpg');
	}
}

.block_location1{
	padding: 0;
}
.block_location2{
	overflow: hidden;
	.center{
		position: relative;
	}
	h2{
		text-align: center;
		font-size: 1em;
		letter-spacing: 0.1em;
		margin-bottom: 40px;
		.en,
		.zh{
			display: inline-block;
			font-size: 1.75em;
			padding: 8px 0;
		}
	}
}