@for $i from 1 through 10 {
	.block_location#{$i}{
		clear: both;
		padding: 72px 0;
	}
	.block_location1 .swiper-slide#{$i}{
		background-image: url('../images/location/main_slice#{$i}.jpg');
	}
}

.block_location1{
	padding: 0;
}