@for $i from 1 through 10 {
	.block_reservation#{$i}{
		clear: both;
		padding: 72px 0;
		@include media('mobile') {
			padding: 48px 0;
		}
		@include media('phone') {
			padding: 32px 0;
		}
	}
	.block_reservation1 .swiper-slide#{$i}{
		background-image: url('../images/reservation/main_slice#{$i}.jpg');
		height: 600px;
		opacity: 0.7;
	}
}

.block_reservation1{
	padding: 0;
	background-color: black;
	.reservation_en{
		font-size: 1.25em;
		font-weight: normal;
		font-family: system-ui;
		@include media('mobile') {
			font-size: 1em;
		}
		@include media('phone') {
			font-size: 0.9em;
			padding: 2px 0;
			letter-spacing: 0;
		}
	}
	.reservation_zh{
		font-size: 2.25em;
		@include media('mobile') {
			font-size: 2em;
		}
		@include media('phone') {
			font-size: 1.25em;
			padding: 2px 0;
			letter-spacing: 0;
		}
	}
	.reservation_zh2{
		letter-spacing: 0;
		font-weight: normal;
	}
}
.block_reservation2{
	// background-image: url('../images/2.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0;
	padding-top: 62px;
	padding-bottom: 64px;
	@include media('phone') {
		padding-top: 40px;
	}
	&.policy{
		letter-spacing: 0.01em;
		line-height: 1.8em;
		h2{
			margin-top: 34px;
		}
		ul{
			list-style-type: disc;
    		padding-inline-start: 20px;
			margin-top: 8px;
			li{
				list-style-type: disc;
				margin-bottom: 8px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}	
		.center{
			max-width: 1000px;
		}
	}
	.center{
		border: none;
		max-width: 1420px;
	}
	h2{
		margin-bottom: 24px;
		font-size: 1.75em;
		letter-spacing: 3px;
		@include media('mobile') {
			font-size: 1.4em;
		}
		@include media('phone') {
			font-size: 1.25em;
		}
	}
	article{
		&::after{
			@extend %clear;
		}
		&.article1{

		}
		&.article2{
			border: #000 dashed 1px;
			margin-top: 42px;
			border-left: 0;
			border-right: 0;
			padding-bottom: 48px;
			letter-spacing: 0.1em;
			@include media('mobile') {
				padding-top: 8px;
				margin-top: 0;
			}
			.tab_list{
				margin-bottom: 28px;
			}
		}
		&.article3{
			letter-spacing: 0.1em;
			.part{
				margin: 46px 0 19px 0;
				@include media('mobile') {
					margin: 46px 0 0 0;
				}
			}
			.article_form:nth-child(even){
				padding-right: 14px;
				.checkbok{
					display: block!important;
					height: 44px;
				}
			}
			.customer_information ul li:nth-child(5){
				padding-bottom: 2px;
			}
			>div:nth-child(3){
				padding-top: 13px;
				.from:nth-child(1) ul{
					max-width: 421px;
					padding: 30px 0 36px 0;
					@include media('mobile') {
						max-width: 100%;
						padding: 0px 0 36px 0;
					}
				}
			}
		}
		&.end_article{
			letter-spacing: 0.1em;
			clear: both;
			text-align: center;
			// padding-bottom: 64px;
			padding-top: 56px;
			@include media('mobile') {
				padding-top: 0;
			}
			.agree{
				text-align: center;
				margin-top: 22px;
				a{
					text-decoration: underline;
				}
			}
			.checkbok{
				display: flex;
				align-items: center;
				flex-direction: row;
				margin: 0 auto;
				justify-content: center;
			}
		}

		.article_form{
			display: block;
			width: 50%;
			float: left;
			box-sizing: border-box;
			@include media('mobile') {
				width: 100%;
			}
			&:nth-child(odd){
				padding-left: 66px;
				margin-top: -2px;
				@include media('mobile') {
					padding: 0;
					margin: 0;
				}
			}
			&:nth-child(even){
				padding-right: 44px;
				@include media('mobile') {
					padding: 0;
					margin: 0;
				}
			}

			.customer_information:first-child{
				legend.h2{
					display: none;
				}
			}
		}

		.info{
			background-color: #F2F2F2;
			display: block;
			padding: 14px 27px;
			float: left;
			margin-bottom: 24px;
			&:nth-child(2){
				margin-right: 34px;
				@include media('mobile') {
					margin-right: 0;
				}
			}
			h3{
				display: flex;
				justify-content: center;
				align-items: center;
				float: left;
				height: 48px;
				padding-right: 26px;
				letter-spacing: 0.1em;
				font-weight: normal;
				font-size: 1.25em;
				@include media('mobile') {
					font-size: 1.125em;
				}
			}
	
			p{
				display: block;
				float: left;
				letter-spacing: 0.1em;
				line-height: 1.71em;
			}
		}
		.part{
			color: white;
			background-color: black;
			font-size: 1.75em;
			padding: 10px 18px;
			box-sizing: border-box;
			display: inline-block;
			letter-spacing: 0.1em;
			margin: 26px 0 34px 0;
			@include media('mobile') {
				font-size: 1.4em;
			}
			@include media('phone') {
				font-size: 1.125em;
				margin-bottom: 20px;
			}
		}
	
		.from{
			border: none;
			&::after{
				@extend %clear;
			}
	
			.h2{
				display: block;
				font-size: 1.75em;
				font-weight: bold;
				letter-spacing: 0.1em;
				float: left;
				margin-right: 38px;
				height: 40px;
				margin-bottom: 8px;
				@include media('mobile') {
					font-size: 1.4em;
					margin-bottom: 0;
					display: flex;
					align-items: center;
					margin-right: 16px;
				}
				@include media('phone') {
					font-size: 1.25em;
				}
			}
			h3{
				font-size: 1em;
				font-weight: normal;
			}
			p{
				display: flex;
				float: left;
				height: 40px;
				align-items: center;
				letter-spacing: 0.1em;
				@include media('phone') {
					display: block;
					height: auto;
					clear: both;
				}
			}
			span{
				min-height: 40px;
				line-height: 44px;
			}
			ul{
				clear: both;
				padding: 14px 0 32px 0;
				display: inline-block;
				@include media('mobile') {
					display: block;
					padding: 0 0 32px 0;
				}
				li{
					display: inline-block;
					margin-right: 24px;
					padding: 14px 0;
				}
			}

			.checkbok{
				display: flex;
				label{
					display: inline-block;
					height: 18px;
					line-height: 18px;
					cursor: pointer;
				}
			}

			.gary_info{
				// display: inline-block;
				// padding: 20px;
				// color: #9E9E9E;
				// background-color: #F2F2F2;
				// padding-right: 88px;
				display: block;
				clear: both;
				padding-top: 24px;
				@include media('mobile') {
					padding-top: 4px;
					padding-bottom: 40px;
				}
				textarea{
					min-height: 88px;
				}
			}
	
			.tab_list{
				margin-bottom: 16px;
				h3{
					display: inline-block;
					margin-right: 32px;
					padding: 8px 20px;
					padding-left: 0;
					border-radius: 40px;
					@include media('mobile') {
						display: block;
						padding-bottom: 16px;
					}
				}
				li{
					background-color: #F2F2F2;
					display: inline-block;
					padding: 8px 20px;
					border-radius: 40px;
					margin-right: 20px;
					margin-bottom: 16px;
				}
			}

			&.customer_information{
				// width: 50%;
				@include media('mobile') {
				    margin-top: 24px;
				}
				.h2{
					margin-bottom: 24px;
					@include media('mobile') {
						margin-bottom: 4px;
					}
					& ~ p{
						@include media('mobile') {
							margin-bottom: 16px;
						}
					}
				}
				label{
					@extend %hide-text;
				}
				ul{
					padding: 0;
					li{
						width: 50%;
						float: left;
						margin: 0;
						box-sizing: border-box;
						padding: 16px 0;
						@include media('phone') {
							padding: 8px 0;
						}
						&:nth-child(odd){
							padding-right: 24px;
							@include media('phone') {
								padding-right: 4px;
							}
						}
						&:nth-child(even){
							padding-left: 24px;
							@include media('phone') {
								padding-left: 4px;
							}
						}
						p{
							font-size: 0.9em;
							width: 200%;
							margin-top: 16px;
						}
					}
				}
			}
		}
		select,
		input[type="text"]{
			background-color: #F2F2F2;
			border: none;
			font-size: 1em;
			line-height: 1.6em;
			width: 100%;
			padding: 4px 18px;
			box-sizing: border-box;
			min-height: 44px;
			&:hover, &:focus{
				background-color: white;
				outline-color: black;
				outline-width: 2px;
				outline-style: auto;
			}
		}
		input[type="checkbox"],
		input[type="radio"]{
			width: 18px;
			height: 18px;
			margin-right: 16px;
			cursor: pointer;
			opacity: 0.6;
			&:focus, &:hover{
				opacity: 1;
				background-color: white;
				outline-color: black;
				outline-width: 2px;
				outline-style: auto;
			}
		}
		textarea{
			background-color: #F2F2F2;
			border: none;
			font-size: 1.125em;
			line-height: 1.6em;
			width: 100%;
			padding: 16px 18px;
			box-sizing: border-box;
			min-height: 88px;
			clear: both;
			&:hover, &:focus{
				background-color: white;
				outline-color: black;
				outline-width: 2px;
				outline-style: auto;
			}
		}

		button[type="button"]{
			font-size: 1.25em;
			font-weight: bold;
			background-color: transparent;
			border: black solid 2px;
			padding: 14px 48px;
			border-radius: 40px;
			margin-bottom: 24px;
			display: block;
			cursor: pointer;
			margin: 0 auto;
			z-index: 2;
			&:hover, &:focus{
				color: white;
				background-color: black;
			}
		}
	}
}