@for $i from 1 through 10 {
	.block_reservation#{$i}{
		clear: both;
		padding: 72px 0;
	}
	.block_reservation1 .swiper-slide#{$i}{
		background-image: url('../images/reservation/main_slice#{$i}.jpg');
	}
}

.block_reservation1{
	padding: 0;
}
.block_reservation2{
	padding: 0;
	.center{
		border: none;
	}
}
