@for $i from 1 through 10 {
	.block_service#{$i}{
		clear: both;
		padding: 72px 0;
		@include media('mobile') {
			padding: 48px 0;
		}
		@include media('phone') {
			padding: 32px 0;
		}
	}
	.block_service2 .service_process_tabs .tabs li:nth-child(#{$i}) a .img::before{
			background-image: url('../images/icon/service_process_tab#{$i}.svg');
	}
	.block_service1 .mySwiper .swiper-slide#{$i}::after{
		background-image: url('../images/icon/swiper-slide#{$i}.svg');
	}
	.block_service1 .mySwiper2 .swiper-slide#{$i}{
		background-image: url('../images/service/main_slice#{$i}.jpg');
	}
	.block_service2 .service_process_tabs .tab_container .tab_content li:nth-child(#{$i}) .icon::before{
		background-image: url('../images/icon/service_process_tab#{$i}.svg');
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.block_service1
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.block_service1{
	position: relative;
	padding: 0;
	min-height: 100vh;
	overflow: hidden;
	background-color: black;
	@include media('center') {
		min-height: auto;
	}
	.center{
		max-width: 100%;
		padding: 0;
		article{
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			left: 0;
			color: white;
			text-align: left;
			width: 100%;
			max-width: 1432px;
			margin: 0 auto;
			height: 100vh;
			max-width: 1308px;
			padding: 0;
			@include rwd(1440){
				max-width: 1432px;
				padding: 0 56px;
			}
			@include media('mobile') {
				height: 400px;
				padding: 0 24px;
			}
			h2{
				position: absolute;
				top: calc(50% - 56px);
				transform: translateY(-50%);
				font-size: 1em;
				font-weight: normal;
				letter-spacing: 0.1em;
				@include media('phone') {
					top: 40px;
				}
				span{
					display: block;
				}
				.chinese{
					font-size: 3.125em;
					margin-bottom: 24px;
					letter-spacing: 0.15em;
					@include media('mobile') {
						font-size: 2em;
						margin-bottom: 4px;
					}
					@include media('phone') {
						font-size: 1.25em;
					}
				}
				.english{
					font-size: 1.75em;
					font-weight: normal;
					font-family: system-ui;
					@include media('mobile') {
						font-size: 1.4em;
						font-weight: normal;
						letter-spacing: 0.05em;
					}
					@include media('phone') {
						font-size: 1.125em;
					}
				}
			}

			.swiper-button{
				width: 72px;
				position: absolute;
				bottom: 15px;
				left: 136px;
				z-index: 4;
				@include media('mobile') {
					left: 88px;
					bottom: 56px;
				}
				@include media('phone') {
					left: 88px;
					bottom: auto;
					top: 161px;
				}
			}
		}
	}
	.swiper-wrapper_service{
		height: 100%;
		min-height: 100vh;
		width: 100vw;
		@include media('center') {
			min-height: auto;
		}
	}
	.mySwiper2{
		position: relative;
		z-index: 1;
		.swiper-slide{
			color: white;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			span{
				display: block;
				width: 100%;
				max-width: 1432px;
				margin: 0 auto;
				text-align: left;
				margin-bottom: 32px;
				font-size: 1.25em;
				letter-spacing: 0.01em;
				font-weight: bold;
				max-width: 1308px;
				padding: 0;
				@include rwd(1440){
					max-width: 1432px;
					padding: 0 56px;
				}
				@include media('mobile') {
					font-size: 1em;
					transform: translateX(-28px);
				}
				@include media('phone') {
					font-size: 0.9em;
					margin-bottom: 16px;
				}
			}
		}
	}
	.mySwiper{
		width: 100%;
		height: 240px;
		// max-width: 1432px;
		max-width: 1308px;
		padding: 0;
		margin: 0 auto;
		position: absolute;
		height: 240px;
		bottom: 96px;
		z-index: 4;
		left: 0;
		right: 0;
		@include rwd(1440){
			max-width: 1432px;
			padding: 0 56px;
		}
		@include media('mobile') {
			bottom: 16px;
			height: 88px;
			overflow: hidden;
			padding: 0 16px;
			bottom: 64px;
		}
		@include media('phone') {
			height: 64px;
			bottom: 44px;
		}
		.swiper-slide{
			cursor: pointer;
			position: relative;
			// margin: 0 20px;
			background-color: rgba(0,0,0,0.3);
			height: 240px;
			color: white;
			box-sizing: border-box;
			padding: 56px 40px;
			letter-spacing: 0.105em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: auto !important;
			@include rwd(1175){
				padding: 40px 36px;
			}
			@include media('mobile') {
				padding: 8px;
			}
			&:hover, &:focus{
				background-color: rgba(0,0,0,0.7);
				@include media('mobile') {
					background-color: transparent;

				}
			}
			@include media('mobile') {
				background-color: transparent;

			}
			&::before{
				content: $content;
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: #AFAFAF;
				top: 0;
				left: 0;
				z-index: 3;
				@include media('mobile') {
					background-color: transparent;
				}
			}
			&::after{
				content: $content;
				display: block;
				position: absolute;
				z-index: 2;
				right: 40px;
    			top: 0;
				max-width: 120px;
				width: 33%;
				padding-bottom: 50%;
				// background-image: url('../images/icon/swiper-slide1.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0;
				display: none;
				@include rwd(1370){
					top: auto;
					bottom: 0;
					max-width: 88px;
				}
				@include rwd(1175){
					max-width: 72px;
					top: 0;
				}
				@include media('mobile') {
					max-width: 56px;
					top: 0;
					right: 0;
					height: 0;
					padding-bottom: 33%;
					margin: 12px;
					left: auto;
					margin-right: -14px;
				}
				@include media('phone') {
					display: none;
				}
			}
			&.swiper-slide-thumb-active{
				background-color: rgba(0,0,0,0.7);
				&::before{
					opacity: 0;
				}
				@include media('mobile') {
					background-color: transparent;

				}
				.zh{
					@include media('mobile') {
						background-color: #000;
						border-top: #000 solid 2px;
					}
				}
			}
			.zh{
				display: flex;
				@include media('mobile') {
					width: calc(100% + 40px);
					display: block;
					background-color: rgba(0,0,0,0.7);
					padding: 16px 18px;
        			box-sizing: border-box;
					border-top: #AFAFAF solid 2px;
				}
				@include media('phone') {
					padding: 4px 8px;
				}
				.no{
					border-bottom: white 1px solid;
					padding-bottom: 4px;
					margin-right: 24px;
					padding-top: 6px;
					margin-bottom: 4px;
					@include rwd(1175){
						margin-right: 8px;
					}
					@include media('mobile') {
						margin: 0;
						font-size: 0.9em;
					}
				}
				h3{
					font-size: 1.5em;
					@include rwd(1175){
						font-size: 1.125em;
					}
					@include media('mobile') {
						font-size: 0.9em;
						display: block;
						width: 100%;
						clear: both;
						text-wrap: nowrap;
						margin-top: 8px;
					}
				}
			}
			.en{
				font-weight: normal;
				letter-spacing: 0.12em;
				line-height: 1.4em;
				margin: 8px 0;
				@include rwd(1175){
					font-size: 0.9em;
					line-height: 1.4em;
				}
				@include media('mobile') {
					display: none;
				}
			}
		}
	}
	.swiper-button-next, .swiper-button-prev{
		filter: inherit;
		width: 32px;
		height: 32px;
		&::before{
			filter: brightness(100);
			background-position: 42% 40%;
			background-size: 60%;
			width: 32px;
			height: 32px;
		}
		&:hover, &:focus{
			border-color: black;
			background-color: black;
		}
	}
	.swiper-button-prev{
		left: 48px;
	}
	.swiper-button-next{
		right: -48px;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.block_service2
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.block_service2{
	position: relative;
	background-image: url('../images/index/bg_block_index5.jpg');
	background-size: contain;
	// height: 100vh;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	color: #000;
	overflow: hidden;
	@include rwd(1320) {
		height: auto;
	}
	h2{
		text-align: center;
		font-size: 1em;
		letter-spacing: 0.1em;
		margin-bottom: 40px;
		@include media('phone') {
			margin-bottom: 32px;
		}
		span{
			display: block;
			transition: $transition;
		}
		.english{
			font-size: 1em;
			margin-bottom: 16px;
		}
		.chinese{
			font-size: 1.75em;
			@include media('mobile') {
				font-size: 1.4em;
			}
			@include media('phone') {
				font-size: 1.125em;
			}
		}
	}

	.center{
		position: relative;
		max-width: 1432px;

	}
	.service_process{
		article{
			width: 50%;
			float: left;
			padding-left: 56px;
			box-sizing: border-box;
			padding-left: 32px;
			h2{
				font-size: 1em;
				letter-spacing: 0.1em;
				transition: $transition;
				span{
					display: block;
					transition: $transition;
					&.zh{
						font-size: 2.25em;
						letter-spacing: 0.1em;
						margin-bottom: 8px;
						@include media('mobile') {
							font-size: 2em;
							letter-spacing: 0.05em;
						}
					}
					&.en{
						font-size: 1.25em;
						letter-spacing: 0.1em;
						font-weight: normal;
						@include media('mobile') {
							font-size: 1em;
							letter-spacing: 0.05em;
						}
					}
				}
			}
		}
	}
	.service_process_tabs{
		width: 100%;
		> article{
			max-width: 660px;
			position: absolute;
			right: 48px;
			top: 156px;
			@include rwd(1320) {
				position: relative;
				max-width: 100%;
				left: 0;
				top: 0;
			}
		}
		.tab_container{
			width: 100%;
			padding: 24px 0;
			@include rwd(1320) {
				padding: 0;
			}
			.tab_content{
				li{
					width: 100%;
					&::after{
						@extend %clear;
					}
					.info{
						position: relative;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-start;
						// width: calc(100% - 640px);
						// width: calc(100% - 688px);
						width: 632px;
						margin: 0 48px;
						margin-right: 0;
						float: left;
						border-bottom: #000 solid 2px;
						padding: 0px 0px 16px 0px;
						transition: $transition;
						@include rwd(1320) {
							width: 100%;
							margin: 0;
							padding-left: 40px;
						}
						@include media('mobile') {
							padding-left: 32px;
						}
						@include media('phone') {
							padding-left: 8px;
						}
					}
					.icon{
						display: block;
						position: relative;
						width: 104px;
						height: 104px;
						border-radius: 200px;
						overflow: hidden;
						background-color: black;
						background-size: contain;
						margin-right: 48px;
						min-width: 104px;
						margin-left: 16px;
						transition: $transition;
						@include rwd(720) {
							width: 96px;
							height: 96px;	
							min-width: 96px;
						}
						@include media('phone') {
							width: 88px;
							height: 88px;
							min-width: 88px;
							margin-right: 16px;
						}
						&::before{
							display: block;
							position: absolute;
							z-index: 1;
							left: 0;
							top: 0;
							filter: brightness(100);
							content: $content;
							width: 104px;
							height: 104px;
							background-image: url('../images/icon/service_process_tab1.svg');
							background-size: contain;
							transition: $transition;
							@include rwd(720) {
								width: 96px;
								height: 96px;
							}
							@include media('phone') {
								width: 88px;
								height: 88px;
							}
						}
					}
					.image{
						width: calc(100% - 680px);
						float: left;
						transition: $transition;
						@include rwd(1320) {
							width: 100%;
						}
					}
					.txt{
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						.step{
							margin-top: 16px;
							letter-spacing: 0.05em;
						}
						.title{
							margin-top: 8px;
						}
						p{
							margin-top: 8px;
							letter-spacing: 0.05em;
						}
					}
				}
				span{
					float: right;
					margin-top: 64px;
					font-size: 1.25em;
					letter-spacing: 0.01em;
					font-weight: bold;
					@include rwd(1320) {
						font-size: 1em;
						margin-top: 24px;
					}
					@include media('phone') {
						font-size: 0.9em;
					}
				}
				.img{
					width: 100%;
					height: 0;
					padding-bottom: 73%;
					background-color: rgba(255,255,255,0.8);
				}
				img{
					width: 100%;
				}
			}
		}
		.tabs{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 105px;
			@include rwd(1320) {
				margin-bottom: 0;
			}
			@include media('phone') {
				margin-bottom: 16px;
			}
			li{
				display: flex;
				flex: 0 0 25%;
				padding: 24px 16px;
				box-sizing: border-box;
				position: relative;
				justify-content: center;
				align-items: center;
				transition: all 1.2s ease-out;
				transform: translateY(100%);
				opacity: 0;
				filter: blur(20px);
				@include media('center') {

				}
				@include rwd(1320) {
					flex: 0 0 25%;
					padding: 24px 0;
				}
				@include media('phone') {
					flex: 0 0 33.33%;
				}
				@include rwd(365) {
					flex: 0 0 50%;
				}
				&:nth-child(1){
					transition-delay: .2s;
				}
				&:nth-child(2){
					transition-delay: .35s;
				}
				&:nth-child(3){
					transition-delay: .5s;
				}
				&:nth-child(4){
					transition-delay: .65s;
				}
				&:nth-child(5){
					transition-delay: .8s;
				}
				&:nth-child(6){
					transition-delay: .95s;
				}
				&:nth-child(7){
					transition-delay: 1.1s;
				}
				&:nth-child(8){
					transition-delay: 1.25s;
				}
				&:nth-child(9){
					transition-delay: 1.4s;
				}
				&:nth-child(8){
					transition-delay: 1.55s;
				}
			}
			a{
				color: black;
				&:hover, &:focus{
					.img{
						background-color: black;
						border-color: black;
						&::before{
							filter: grayscale(0) brightness(100);
						}
					}
				}
			}
			.img{
				display: block;
				width: 104px;
				height: 104px;
				border: black solid 2px;
				border-radius: 200px;	
				overflow: hidden;
				position: relative;
				margin-bottom: 16px;
				margin-top: 2px;
				transition: $transition;
				@include rwd(720) {
					width: 96px;
					height: 96px;	
				}
				@include media('phone') {
					width: 88px;
					height: 88px;
					border: black solid 1px;
				}
				&::before{
					content: $content;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100px;
					height: 100px;
					background-position: center;
					background-size: cover;
					filter: grayscale(0) brightness(0);
					transition: $transition;
					@include rwd(720) {
						width: 92px;
						height: 92px;
					}
					@include media('phone') {
						width: 86px;
						height: 86px;
					}
				}
			}
			.figcaption{
				position: absolute;
				bottom: 0;
				text-align: center;
				// width: 116px;
				color: black;
				letter-spacing: 0.05em;
				word-break: keep-all;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 150%;
    			transform: translateX(-16%);
				@include media('mobile') {
					font-size: 0.9em;
				}
				@include media('phone') {
					font-size: 0.8em;
				}
			}
		}
	}

	&.ready-animate{
		.image{
			transform: translateX(-100%);
			opacity: 0;
			filter: blur(20px);
		}
		.info{
			transform: translateX(100%);
			opacity: 0;
			filter: blur(20px);
		}
		span.english,
		span.chinese,
		.service_process_tabs .tabs li{
			transform: translateY(100%);
			opacity: 0;
			filter: blur(20px);
		}
	}

	&.run-animate{
		.image{
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
		}
		.info{
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
		}
		span.english,
		span.chinese,
		.service_process_tabs .tabs li{
			transform: translateY(0);
			opacity: 1;
			filter: blur(0);
		}
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.block_service3
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.block_service3 {
	padding: 112px 0;
	overflow: hidden;
	@include media('mobile') {
		padding: 48px 0;
	}
	.center{
		max-width: 1432px;
		&::after{
			@extend %clear;
		}
		> article{
			letter-spacing: 0.1em;
			line-height: 1.8em;
			width: 63%;
			float: left;
			padding-right: 64px;
			@include media('mobile') {
				width: 100%;
				padding-right: 0;
			}
		}
		> figure{
			max-width: 552px;
			float: left;
			width: 37%;
   			overflow: hidden;
			transition: $transition;
			@include media('mobile') {
				width: 100%;
				max-width: 100%;
				height: 0;
				padding-bottom: 80%;
				img{
					width: 100%;
					max-width: 100%;
					transition: $transition;
				}
			}
		}
		h2{
			font-size: 1em;
			margin-bottom: 40px;
			transition: $transition;
			.english,
			.chinese{
				font-size: 1.75em;
				@include media('mobile') {
					font-size: 1.4em;
				}
				@include media('phone') {
					font-size: 1.125em;
				}
			}
			.english{
				font-size: 1em;
			}
		}
		p{
			transition: $transition;
		}
	}

	.service_point{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		@include media('phone') {
			padding-bottom: 32px;
		}
		li{
			display: flex;
			flex: 0 0 25%;
			padding: 32px 16px;
			box-sizing: border-box;
			position: relative;
			justify-content: center;
			align-items: center;
			transition: all 1.2s ease-out;
			@include media('mobile') {
				padding: 24px 0;
			}
			@include media('phone') {
				flex: 0 0 33.33%;
				padding-bottom: 0;
			}
			@include rwd(435) {
				flex: 0 0 50%;
			}
			&:nth-child(1){
				transition-delay: .2s;
			}
			&:nth-child(2){
				transition-delay: .35s;
			}
			&:nth-child(3){
				transition-delay: .5s;
			}
			&:nth-child(4){
				transition-delay: .65s;
			}
			&:nth-child(5){
				transition-delay: .8s;
			}
			&:nth-child(6){
				transition-delay: .95s;
			}
			&:nth-child(7){
				transition-delay: 1.1s;
			}
			&:nth-child(8){
				transition-delay: 1.25s;
			}
			&:nth-child(9){
				transition-delay: 1.4s;
			}
			&:nth-child(8){
				transition-delay: 1.55s;
			}
			span{
				display: block;
				text-align: center;
				&.english_name{
					font-weight: bold;
					margin-bottom: 0px;
					@include media('phone') {
						margin-bottom: 2px;
						font-size: 0.9em;
					}
				}
				&.chinese_name{
					font-size: 0.875em;
				}
			}
		}
		a{
			color: black;
			&:hover, &:focus{
				.img{
					background-color: black;
					border-color: black;
					&::before{
						filter: grayscale(0) brightness(100);
					}
				}
			}
		}
		.img{
			display: block;
			width: 104px;
			height: 104px;
			// border: black solid 2px;
			border-radius: 200px;	
			overflow: hidden;
			position: relative;
			filter: grayscale(0) brightness(0);
			margin-bottom: 16px;
			margin-left: auto;
			margin-right: auto;
			transition: $transition;
			@include rwd(1370){
				width: 96px;
				height: 96px;
				margin: 0 auto;
			}

			img{
				width: 100%;
			}
			&::before{
				content: $content;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100px;
				height: 100px;
				background-position: center;
				background-size: cover;
				filter: grayscale(0) brightness(0);
				transition: $transition;
			}
		}
		.figcaption{
			position: absolute;
			bottom: 0;
			text-align: center;
			// width: 116px;
			color: black;
			letter-spacing: 0.05em;
			word-break: keep-all;
			left: 0;
			right: 0;
			margin: 0 auto;
			
		}
	}

	&.ready-animate{
		h2,
		p{
			transform: translateX(-100%);
			opacity: 0;
			filter: blur(20px);
		}
		p{
			transition-delay: .8s;
		}
		.service_point li{
			transform: translateY(100%);
			opacity: 0;
			filter: blur(20px);
		}
		.center > figure{
			transform: translateX(100%);
			opacity: 0;
			filter: blur(20px);
		}
	}

	&.run-animate{
		h2,
		p{
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
		}
		.service_point li{
			transform: translateY(0);
			opacity: 1;
			filter: blur(0);
		}
		.center > figure{
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
		}
	}
}