@for $i from 1 through 10 {
	.block_works#{$i}{
		clear: both;
		padding: 72px 0;
		@include media('mobile') {
			padding: 48px 0;
		}
		@include media('phone') {
			padding: 32px 0;
		}
	}
	.block_works1 .swiper-slide#{$i}{
		background-image: url('../images/works/main_slice#{$i}.jpg');
		height: 600px;
		opacity: 0.7;
	}

	.block_works2 span[aria-label="Go to slide #{$i}"]{
		&::before{
			content: '0#{$i}';
		}
	}
}
.block_works1 {
	padding: 0;
	background-color: black;
	article h2 span{
		&.zh{
			@include media('phone') {
				max-width: 8em;
			}
		}
		&.en{
			@include media('phone') {
				max-width: 14em;
			}
		}
	}
} 
.block_portfolio4,
.block_works2{
	overflow: hidden;
	padding-bottom: 96px;
	.center{
		position: relative;
		height: 32px;
		padding: 0;
		max-width: 1320px;
		width: 100%;
		@include rwd(1320){
			max-width: calc(100% - 40px);
		}
	}
	h2{
		text-align: center;
		font-size: 1em;
		letter-spacing: 0.1em;
		margin-bottom: 40px;
		transition: $transition;
		transform: translateY(100%) scale(0.8);
		opacity: 0;
		filter: blur(20px);
		@include media('mobile') {
			margin-bottom: 16px;
		}
		.zh{
			display: block;
			font-size: 1.75em;
			padding: 8px 0;
			@include media('mobile') {
				font-size: 1.4em;
				padding: 2px 0;
			}
			@include media('phone') {
				font-size: 1.125em;
				padding: 2px 0;
			}
		}
	}
	.swiper-slide{
		height: auto !important;
	}
	.swiper-container-stopplay{
		// overflow: hidden;
	}
	.swiper-wrapper_works{
		height: auto !important;
		background-color: transparent;
	}
	.swiper-pagination-bullet{
		position: absolute;
		background: white!important;
		display: inline-block;
		width: auto;
		height: auto;
		opacity: 0;
	}
	.swiper-pagination-bullet-active{
		opacity: 1;
	}
	ul.block_works_list{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		flex-wrap: wrap;
		max-width: 1360px;
		padding: 0 6px;
		@extend %center;
		li{
			flex: 0 0 33.33%;
			padding: 18px;
    		box-sizing: border-box;
			transition: $transition;
			transform: translateY(100%);
			opacity: 0;
			filter: blur(20px);
			@include media('mobile') {
				flex: 0 0 50%;
			}
			@include media('phone') {
				padding: 4px;
			}
			a{
				color: black;
				&:hover, &:focus{
					.img{
						background-color: black;
						img{
							transform: scale(1.2);
							opacity: 0.4;
						}
					} 
				}
				p{
					padding: 16px 0;
				}
			}
			&:nth-child(1){
				transition-delay: .4s;
			}
			&:nth-child(2){
				transition-delay: .6s;
			}
			&:nth-child(3){
				transition-delay: .8s;
			}
			&:nth-child(4){
				transition-delay: 1s;
			}
			&:nth-child(5){
				transition-delay: 1.2s;
			}
			&:nth-child(6){
				transition-delay: 1.4s;
			}
			&:nth-child(7){
				transition-delay: 1.6s;
			}
			&:nth-child(8){
				transition-delay: 1.8s;
			}
			&:nth-child(9){
				transition-delay: 2s;
			}
			&:nth-child(8){
				transition-delay: 2.2s;
			}
		}
		.img{
			width: 100%;
			height: 0;
			padding-bottom: 67%;
			overflow: hidden;
			transition: all .8s ease-in-out;
			img{
				width: 100%;
				float: left;
				transition: all 1.8s;
			}
			&::after{
				@extend %clear;
			}
		}
	}

	&.ready-animate{
		article h2{
			transform: translateY(100%) scale(0.8);
			opacity: 0;
			filter: blur(20px);
		}
		.center{
			transform: translateY(200%);
			opacity: 0;	
		}
		.block_works_list{
			li{
				transform: translateY(100%);
				opacity: 0;
				filter: blur(20px);
			}
		}
	}

	&.run-animate{
		article h2{
			transform: translateY(0) scale(1);
			opacity: 1;
			filter: blur(0);
		}
		.center{
			transform: translateY(0);
			opacity: 1;	
		}
		.block_works_list{
			li{
				transform: translateY(0);
				opacity: 1;
				filter: blur(0);
			}
		}
	}

	@include js(false) {
		.block_works_list{
			li{
				transform: translateY(0)!important;
				opacity: 1!important;
				filter: blur(0)!important;
			}
		}
	}
} 
.block_portfolio4{
	@include media('mobile') {
		padding-bottom: 24px;
	}
}
.block_works2{
	@include media('mobile') {
		padding-bottom: 64px;
	}
}