@import url(project-nav.css);
@import url(pc-layout.css) screen and (min-width: 641px);
@import url(mobile-layout.css) screen and (max-width: 640px);
/*------------------------------------------------------------------
Reset
------------------------------------------------------------------*/
html, body {margin:0;padding:0;}
img {background: transparent;zoom: 1;border:none;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE6 & 7 */}
::selection {background:#181517;color:#fff}
::-moz-selection {background:#181517;color:#fff}
input,a{outline:none;hlbr:expression(this.onFocus=this.blur());text-decoration:none;}
table {border-collapse:collapse;border-spacing:0;}
figure,h1,h2,h3,h4,label,br,ul,li,span,a,p,img,input,button,select,textarea{outline:none;list-style:none;margin:0; padding:0;}
/*------------------------------------------------------------------
HTML5 Reset
------------------------------------------------------------------*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
table {border-collapse:collapse;border-spacing:0;}
abbr, acronym,fieldset, img {border:0;}
address, caption, cite, code, dfn, th, var {font-style:normal;font-weight:normal;}
caption, th {text-align:left;}
q:before, q:after {content:'';}
img[usemap] {border: none;height: auto;max-width: 100%;width: auto;}
/*HTML5 Outline*/
h1,h2{display:none;}


