@charset "UTF-8";
/*------------------------------------------------------------------
首頁
------------------------------------------------------------------*/
/* line 4, ../sass/index.scss */
body {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 12, ../sass/index.scss */
.main_content_title_input {
  top: calc(50% - 188px);
  right: calc(50% - 240px);
  width: 480px;
  height: 376px;
  text-align: center;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(188, 188, 188, 0.04), 0 2px 4px 0 rgba(61, 78, 104, 0.4);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.28));
}
/* line 22, ../sass/index.scss */
.main_content_title_input ul {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* line 27, ../sass/index.scss */
.main_content_title_input ul li {
  width: 320px;
  display: inline-block;
  position: relative;
  margin: 8px 80px;
}
/* line 32, ../sass/index.scss */
.main_content_title_input ul li.logo {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin: 40px 0 24px 0;
}
/* line 38, ../sass/index.scss */
.main_content_title_input ul li.logo::before, .main_content_title_input ul li.logo::after {
  display: none;
  opacity: 0;
}
/* line 43, ../sass/index.scss */
.main_content_title_input ul li.logo img {
  width: 180px;
}
/* line 54, ../sass/index.scss */
.main_content_title_input ul li.input-send {
  margin-top: 40px !important;
}
/* line 59, ../sass/index.scss */
.main_content_title_input input {
  width: 320px !important;
  height: 44px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.04);
  border: solid 1px #93a4bd !important;
  background-color: #ffffff;
}
