/*------------------------------------------------------------------
內頁
------------------------------------------------------------------*/
/*------------------------------------------------------------------
客戶資料
------------------------------------------------------------------*/
.main_content_table{
	width: 100%;
	padding-bottom: 0px;
	border-radius: 8px;
	overflow: hidden;
	background-color: white;
	border: $light-gray solid 1px;
	box-shadow: rgba(147, 164, 189, 0.4) 0 2px 4px,
				rgba(188, 188, 188, 0.4) 0 2px 4px;
	table{
		width: 100%;
	}
}
.info_customer_table{

	.img{
		width: 40px;
		height: 40px;
		border-radius: 44px;
		overflow: hidden;
		display: block;
		top: calc( 50% - 20px);
		position: absolute;
		left: -1px;
		img{
			width: 40px;
			height: 40px;
			
		}
	}

	thead{
		tr{
			border-bottom: $light-gray solid 1px;
		}
		th{
			color: #6F8098;
			text-align: left;
			height: 69px;
			line-height: 69px;
			padding: 0 8px;
			&:nth-child(1){
				padding-left: 32px;
			}
			&:nth-last-child(1){
				padding-right: 32px;
			}

		}
	}

	tbody{
		tr{
			&:nth-child(even){
				background-color: $light;
			}
			+ tr{
				// border-top: $light-gray solid 1px;
			}
			border-bottom: $light-gray solid 1px;
		}
		td{
			padding: 20px 8px;
			line-height: 1.4em;
			position: relative;
			box-sizing: border-box;
			&:nth-child(1){
				padding-left: 32px;
				padding-left: 0;
				text-align: center;
			}
			&:nth-last-child(1){
				padding-right: 32px;
			}
		}
	}
}
.center{
    padding-left: 0;
    text-align: center;
}
.w100{
	width: 100px;
}