@import 'base-variable'; //設定變數
@import 'base-function'; //設定函式
/*------------------------------------------------------------------
大廳
------------------------------------------------------------------*/
.content_data,
.content_order,
.content_coupon{
	width: calc(50% - 18px);
    margin-bottom: 24px;
	float: left;
	// padding: 24px 0;
	padding-bottom: 24px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
	border: #e5eefa solid 2px;
	box-shadow: rgba(147, 164, 189, 0.4) 0 2px 4px, rgba(188, 188, 188, 0.4) 0 2px 4px;
	
	h2{
		padding: 16px 12px;
		box-sizing: border-box;
		background-color: #e5eefa;
		margin-bottom: 12px;
		width: 100%;
		border-bottom: #DBE3EF solid 1px;
		font-size: 1.2em;
		opacity: 0.8;
	}

	ul{
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		padding: 0 24px;
		li{
			float: left;
			width: 25%;
			text-align: center;
			padding-top: 4px;
			+ li{
				width: calc(25% - 1px);
				text-align: center;
				border-left: #e1eaf6 solid 1px;
			}

			span{
				display: block;
				padding: 4px 0;
				line-height: 24px;
				&.title{
					letter-spacing: 2px;
					margin-right: -2px;
				}
				&.count{
					font-size: 1.5em;
					letter-spacing: 1px;
					font-weight: bold;
				}
				i{
					font-weight: normal;
					font-size: 0.7em;
					padding-left: 4px;
				}
			}
		}
	}
}
.content_order{
	ul{
		li:nth-child(2){
			.count{
				color: #bb1271;
				i{
					color: #2D343B;
				}
			}
		}
	}
}
.content_coupon{
    margin-left: 25px;
    float: right;
	ul{
		li{
			width: 33.33%;
			
		}
	}
}
.content_data{
	width: 100%;
	clear: both;
	.abgne_tab ul.tabs li{
		width: 20%;
		&.active{
			padding: 0;
			margin-top: -1px;
			margin-bottom: 0;
		}
	}
	input[type="tel"],
	input[type="email"],
	input[type="password"],
	input[type="text"]{
		width: 296px;
		height: 44px;
		border-radius: 8px;
		padding: 16px;
		padding-left: 64px;
		font-size: 1em;
		box-sizing: border-box;
		border: $light-gray solid 1px;
		outline-color:$gray;
		&:hover, &:focus{
			border: $light-gray solid 1px;
		}
	}
	input[type="submit"]{
		width: 44px;
		height: 44px;
		padding: 0;
		@extend %hide-text;
		border: none;
		position: absolute;
		right: 0;
		z-index: 2;
		background-color: transparent;
		background-image: url('../images/icon/search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		outline-color: transparent;
		background-size: 50%;
		&:hover, &:focus{
			background-image: url('../images/icon/search_b.svg');
		}
	}
	.content_data_date{
		.input-date{
			width: auto;
			display: inline-block;
			position: relative;
		}
	}
	.content_data_sales{
		li{
			float: left;
			width: 25%;
			text-align: center;
			padding-top: 4px;
			border: #e1eaf6 solid 1px;
			margin: 16px 0;
			border-radius: 8px;
			margin-right: 16px;
		}
	}
}
.sales_amount,
.sales_volume{
	width: 50%;
	float: left;
	padding: 0 24px;
	box-sizing: border-box;
	h3{
		font-weight: bold;
		font-size: 0.9em;
		color: #6F8098;
		margin-bottom: 16px;
		margin-top: 16px;
	}
	> table{
		width: 100%;
		border: #e1eaf6 solid 1px;
		border-radius: 8px;
		thead{
			tr{
				background-color: #e5eefa;
			}
			th{
				text-align: left;
				line-height: 44px;
				height: 44px;
				&:nth-child(1){
					text-align: center;
					vertical-align: middle;
				}	
			}
		}
		tbody{
			tr{
				border-bottom: #e1eaf6 dashed 1px;
				&:first-child{
					.product_img,
					.product_name{
						margin-top: 16px;
					}
				}
				&:last-child{
					.product_img,
					.product_name{
						margin-bottom: 16px;
					}
				}
			}
			td{
				text-align: left;
				vertical-align: middle;
				&:nth-child(1){
					text-align: center;
					vertical-align: middle;
				}	
			}
		}
	}
	.product_img{
		display: inline-block;
		float: left;
		margin: 8px 0;
		.img{

			width: 52px;
			height: 52px;
			display: inline-block;
			border-radius: 5px;
			overflow: hidden;
			img{
				width: 52px;
			}
		}
	}
	.product_name{
		display: inline-block;
		float: left;
		margin: 8px 0;
		padding: 3px 0;
		padding-left: 12px;
		span{
			display: block;
			line-height: 24px;
		}
	}
}
.sales_amount{padding-right: 12px;}
.sales_volume{padding-left: 12px;}

/*------------------------------------------------------------------
客戶資料
------------------------------------------------------------------*/
.good{
	color: #31ad00;
}
.luck{
	color: #bb1271;
}

.main_content_table{
	width: 100%;
	padding-bottom: 0px;
	border-radius: 8px;
	overflow: hidden;
	background-color: white;
	border: $light-gray solid 1px;
	box-shadow: rgba(147, 164, 189, 0.4) 0 2px 4px,
				rgba(188, 188, 188, 0.4) 0 2px 4px;
	>table{
		width: 100%;
		thead{
			tr{
				border-bottom: $light-gray solid 1px;
			}
			th{
				color: #6F8098;
				text-align: left;
				height: 69px;
				line-height: 69px;
				padding: 0 8px;
				&:nth-child(1){
					padding-left: 32px;
					width: 109px;
					box-sizing: border-box;
				}
				&:nth-last-child(1){
					padding-right: 32px;
					padding-left: 0;
				}
	
			}
		}
	
		tbody{
			tr{
				&:nth-child(even){
					background-color: $light;
				}
				+ tr{
					// border-top: $light-gray solid 1px;
				}
				border-bottom: $light-gray solid 1px;
			}
			td{
				padding: 20px 8px;
				line-height: 1.4em;
				position: relative;
				box-sizing: border-box;
				&:nth-child(1){
					padding-left: 32px;
					padding-left: 0;
					text-align: center;
				}
				&:nth-last-child(1){
					padding-right: 32px;
				}
			}
		}
	}
}
.info_customer_table,
.info_staff_table,
.info_dealer_table,
.info_partner_table{
	.img{
		width: 40px;
		height: 40px;
		border-radius: 44px;
		overflow: hidden;
		display: block;
		top: calc( 50% - 20px);
		position: absolute;
		left: -1px;
		img{
			width: 40px;
			height: 40px;
			
		}
	}

	thead{
		th{
			&:nth-child(2){
				padding-left: 0px;
			}
			&:nth-child(3){
				width: 98px;
				max-width: 98px;
				min-width: 98px;
				box-sizing: border-box;
			}
		}
	}
}

.info_coupon_table{
	thead{
		th{
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4){
				width: 136px;
				max-width: 136px;
				min-width: 136px;
				box-sizing: border-box;
			}

		}
	}
}

.center{
    padding-left: 0;
    text-align: center;
}
.w88{
	width: 88px;
}
.w100{
	width: 100px;
}
.authority1,
.authority2,
.authority3{
	display: inline-block;
    background-color: $light-gray;
    line-height: 32px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
	text-align: center;
	color: $deep;
	opacity: 0.9;
	margin-right: 4px;
}

/*------------------------------------------------------------------
頁籤
------------------------------------------------------------------*/
.abgne_tab {
	clear: left;
	width: 100%;
	ul.tabs {
		width: 100%;
		height: 48px;
		border-bottom: 2px solid #C3D1E4;
		li {
			float: left;
			height: 47px;
			line-height: 47px;
			overflow: hidden;
			position: relative;
			margin-bottom: -1px;       /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
			
			border-left: none;
			a {
				display: block;
				padding: 0 36px;
				color: #6F8098;
				font-size: 1.1em;
				text-decoration: none;
				font-family: $base-font-style;
				font-weight: 700;
				&:hover, &:focus{
					background: #FFF;
				}
			}
			&.active{
				
				border-bottom: 2px solid #2D343B;
				a{
					color: #0E1216;
				}
				&:hover, &:focus{
					
				}
			}
		}
	}

	div.tab_container {
		clear: left;
		width: 100%;
		border-top: none;
		.tab_content {
			padding: 20px;
			padding-bottom: 0;
			@extend %clear;
			h2 , h3{
				margin: 0 0 20px;
			}
		}
	}
}
/*------------------------------------------------------------------
訊息公告
------------------------------------------------------------------*/
.info_news_table{
	.authority1, .authority2, .authority3{
		width: auto;
		border-radius: 50px;
		padding: 0 8px;
		margin-bottom: 4px;
	}
	tbody{
		tr{
			td{
				&:nth-child(2){
					width: 20%;
				}
				&:nth-child(3){
					width: 30%;
					span{
						// max-height: 112px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						max-height: 64px;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
					}
				}
				&:nth-child(7){
					width: 132px;
					min-width: 132px;
				}
			}
		}
	}
}
/*------------------------------------------------------------------
訂單管理
------------------------------------------------------------------*/
.main_content_orderTilte{
	@extend %clear;
	li{
		float: left;
		font-size: 0.9em;
		font-weight: bold;
		color: #6F8098;
	}
}
.main_content_orderTilte{
	height: 64px;
    width: 100%;
    line-height: 64px;
    border: #DBE3EF solid 1px;
	border-radius: 8px;
	box-sizing: border-box;
	padding-left: 32px;
	li{
		padding: 0 16px;
		box-sizing: border-box;
		&:nth-child(1){
			width: 360px;
		}
		&:nth-child(2){
			width: 120px;
			text-align: right;
		}
		&:nth-child(3),
		&:nth-child(4){
			width: 96px;
			padding: 0 16px;
			box-sizing: border-box;
		}
		&:nth-child(5){
			width: 120px;
			padding: 0 16px;
			box-sizing: border-box;
		}
		&:nth-last-child(1){
			float: right;
    		padding-right: 32px;
		}
	}
}
.main_content_orderInfo{
	border: #DBE3EF solid 1px;
	background-color: #FFF;
	border-radius: 8px;
	overflow: hidden;
	margin: 16px 0;
	.orderInfo_title{
		padding: 6px 16px;
		height: 44px;
		background-color: #F3F6FA;
		box-sizing: border-box;
		>ul{
			display: inline-block;
			height: 32px;
			line-height: 32px;
			@extend %clear;
			li{
				position: relative;
				float: left;
				height: 32px;
				line-height: 32px;
				// padding-right: 8px;
				padding-left: 12px;
				
			}
		}
		.orderInfo_title_img{
			float: left;
			
			
		}
		.orderInfo_title_date{
			float: right;
				
			li{
				margin-left: 16px;
				&::before{
					content: "";
					position: absolute;
					top: calc(50% - 2.5px);
					left: 0;
					width: 5px;
					height: 5px;
					background-color: #93A4BD;
				}
			}
		}
		.order_date{
			display: inline-block;
			height: 32px;
			line-height: 32px;
		}

		.order_no{
			height: 32px;
			line-height: 32px;
			display: inline-block;
		}

		.img{
			display: block;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			overflow: hidden;
			img{
				width: 32px;
			}
		}
	}
	.orderInfo_content{
		@extend %clear;
		padding: 16px;
		padding-bottom: 0;
		>li{
			float: left;
			padding: 10px 16px;
			&:nth-child(3),
			&:nth-child(4){
				width: 96px;
				box-sizing: border-box;
			}
			&:nth-child(5){
				width: 120px;
				box-sizing: border-box;
			}
		}
		.wait{
			color: #b71010;
		}
		.orderInfo_product{
			width: 360px;
			min-height: 56px;
			box-sizing: border-box;
			padding: 8px 16px;
			> ol{
				display: inline-block;
				width: 100%;
				padding-bottom: 16px;
				+ ol{
					border-top:#DBE3EF solid 1px ;
					padding-top: 16px;
				}
				> li{
					float: left;
				}
			}

			.product_img{
				.img{
					display: block;
					border-radius: 5px;
					border: #DBE3EF solid 1px;
					width: 56px;
					height: 56px;
					overflow: hidden;
					img{
						width: 56px;
					}
				}
			}
			.product_name{
				padding: 5px 0px 5px 16px;
				span{
					display: block;
					line-height: 24px;
					height: 24px;
				}
				.name{}
				.info{}
			}
			.product_quantity{
				padding: 5px 0px 5px 16px;
				font-size: 1.1em;
				font-weight: bold;
				float: right;
				&::before{
					content: "x";
					font-weight: lighter;
					opacity: 0.8;
				}
			}
		}
		.orderInfo_price{
			padding: 8px 16px;
			width: 136px;
			box-sizing: border-box;
			text-align: right;
			ol{
				li{
					height: 24px;
					line-height: 24px;
					margin-bottom: 8px;
					&.price{
						font-size: 1.1em;
						font-weight: bold;
						margin-bottom: 4px;
						span{
							border: none!important;
							padding: 0;
							font-size: 0.8em;
							font-weight: lighter;
							padding-right: 4px;

						}
					}
					&.payment,
					&.coupon{
					}
					span{
						font-size: 0.8em;
						border: #C3D1E4 solid 1px;
						padding: 2px 12px;
						border-radius: 50px;
						padding-left: 32px;
						position: relative;

						&::before{
							content: "";
							display: block;
							position: absolute;
							left: 12px;
							top: calc(50% - 8px);
							width: 16px;
							height: 16px;
							background-repeat: no-repeat;
							background-size: cover;
						}
						&.coupon_title::before{
							background-image: url('../images/icon/coupon2.png');
						}
						&.credit::before{
							background-image: url('../images/icon/card.png');
						}
					}
				}
			}
		}
		.orderInfo_product_functions{
			float: right;
			text-align: right;
			padding-right: 8px;
			.functions{
				position: relative;
				min-width: auto;
				li{
					a{
						color: #93A4BD;
						text-decoration: underline;

						&:hover, &:focus{
							color: $deep;
						}
					}
				}
			}
		}
		
	}
}


/*------------------------------------------------------------------
客戶資料
------------------------------------------------------------------*/
.staff_updata{
	width: 80%;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 32px;
	@extend %clear;
	.staff_updata_img{
		float: left;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;
		img{
			width: 120px;
			border-radius: 50%;
		}
	}
	ul{
		display: inline-block;
		padding-top: 20px;
		padding-left: 24px;
		li{
			display: block;
			&.input-send{
				margin: 0;
				padding-bottom: 8px;
				display: inline-block;
				a{
					&:hover, &:focus{
						background-color: #2D343B;
						color: #FFF;
					}
				}
			}
		}
	}
	.input-send a:nth-last-child(1){
		float: left;
		letter-spacing: 1px;
	}
}
.staff_form{
	width: 80%;
	margin: 0 auto;
	clear: both;

	ul{
		li{
			border-bottom: #eee dashed 1px;
			padding: 20px 0 0 0;

			&.input-send{
				display: inline-block;
				margin-top: 0;
				text-align: center;
				width: 100%;
				margin-bottom: 40px;
				.btn{
					float: initial;
					margin: 0 auto;
				}
				a{display: inline-block;
					float: inherit!important;
					line-height: 44px;
					margin: 0 16px;
					&:hover, &:focus{
						background-color: #2D343B;
						color: #FFF;
					}
				}
			}
			&.facebook,
			&.google{
				.title{
					@extend %hide-text;
					background-image: url('../images/icon/icon_google.svg');
					background-position: center right;
					background-repeat: no-repeat;
					float: left;
				}
				p{
					line-height: 44px;
					height: 44px;
					display: inline-block;
				}
				a{
					text-decoration: underline;
					margin-left: 40px;
					color: #6F8098;
					line-height: 44px;
					height: 44px;
					display: inline-block;
					&:hover, &:focus{
						color: #2D343B;
					}
					
				}
			}
			&.facebook{
				.title{
					background-image: url('../images/icon/icon_facebook.svg');
				}
			}

		}
	}

	.title{
		text-align: right;
		width: 108px;
		display: inline-block;
		height: 44px;
		margin-right: 8px;
	}
	
	
	
	label{
		position: relative;
		span{
			box-sizing: border-box;
			border: #DBE3EF solid 1px;
			outline-color: #C3D1E4;
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 8px;
			display: none;
		}
	}

	input[type="tel"], input[type="email"], input[type="password"], input[type="text"]{
		width: 400px;
	}
	.input-send a:nth-last-child(1){
		float: left;
		letter-spacing: 1px;
	}

	.info_text{
		margin-bottom: 20px;
		padding: 20px;
		background-color: #F3F6FA;
		border-radius: 8px;
		li{
			line-height: 24px;
			height: 24px;
			padding: 0;
		}
	}
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
//   display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -2px;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 8px;
//   background: #e6e6e6;
  box-sizing: border-box;
  border: #DBE3EF solid 1px;
  outline-color: #C3D1E4;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input.checked,.control__indicator.checked {
	background: #2aa1c0;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator.checked:after,
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator.checked:after,
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

/*------------------------------------------------------------------
商品管理
------------------------------------------------------------------*/
.product_management_table{
	background-color: #fff;
	width: 100%;
    border: #e1eaf6 solid 1px;
	thead{
		background-color: #e5eefa;
		line-height: 44px;
		height: 44px;
		color: #6F8098;
		tr{
			th{
				text-align: left;
				&:nth-child(1),
				&:nth-child(2){
					width: 20%;
					box-sizing: border-box;
				}

				&:nth-child(1){
					padding-left: 24px;
				}
				&:nth-child(2){
					padding-left: 8px;
				}
				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(7){
					width: 100px;
				}
				&:nth-child(6){
					width: 88px;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				&:nth-child(1){
					padding-left: 24px;
					width: 360px;
					min-width: 360px;
					box-sizing: border-box;
					>ul{
						border-top: #DBE3EF solid 1px;
						padding-top: 16px;
						display: inline-block;
						width: 100%;
						padding-bottom: 16px;
						&::after{
							content: "";
							display: block;
							clear: both;
						}
						&:first-child{
							padding-top: 16px;
							padding-bottom: 16px;
						}
					}
				}
				&:nth-child(2){
					padding-left: 8px;
				}
			}
		}
	}
	.product_img{
		display: inline-block;
		float: left;
		margin: 8px 0;
		.img{

			display: block;
			border-radius: 5px;
			border: #DBE3EF solid 1px;
			width: 56px;
			height: 56px;
			overflow: hidden;
			img{
				width: 56px;
			}
		}
	}
	.product_name{
		display: inline-block;
		float: left;
		margin: 8px 0;
		padding: 3px 0;
		padding-left: 12px;
		padding: 5px 0px 5px 16px;
		span{
			display: block;
			line-height: 24px;
			height: 24px;
		}
	}

	.functions{
		position: relative;
	}

	.price{
		font-size: 1.1em;
		font-weight: bold;
		margin-bottom: 8px;
		span{
			border: none !important;
			padding: 0;
			font-size: 0.8em;
			font-weight: lighter;
			padding-right: 4px;
		}
	}
	.price_del{
		opacity: 0.6;
	}
	.product_quantity{
		font-size: 1.1em;
		font-weight: bold;
		text-align: right;
		box-sizing: border-box;
		margin-top: 12px;
		padding-right: 16px;
		&::before{
			content: "x";
			font-weight: lighter;
			opacity: 0.8;
		}
	}
}

/*------------------------------------------------------------------
折扣券
------------------------------------------------------------------*/
.info_coupon_table{
	tbody{
		tr{
			td{
				&:nth-child(2){
					padding-left: 0;	
				}
				&:nth-child(5){
					span{
						&:nth-child(1){
							font-size: 0.8em;
							border: #C3D1E4 solid 1px;
							padding: 2px 12px;
							margin-right: 8px;
							border-radius: 50px;
							position: relative;
							transform: translateY(-1px);
							display: inline-block;
						}
					}
				}
				&:nth-child(6){
					span{
						&:nth-child(1){
							&::after{
								content: "~";
								margin: 0 8px;
							}
						}
					}
				}
			}
		}
	}
}
.label_title{
	position: absolute;
    left: -90px;
    top: 14px;
}
.info_sms_table{
	tbody{
		tr{
			td{
				&:nth-child(2){
					// width: 296px;
				}
				&:nth-child(3),
				&:nth-child(4){
					width: 160px;
				}
				&:nth-child(5){
					width: 88px;
				}
			}
		}
	}
}
/*------------------------------------------------------------------
發送電子郵件
------------------------------------------------------------------*/

.info_email_table{
	tbody{
		tr{
			td{
				&:nth-child(2){
					width: 296px;
				}
				&:nth-child(5),
				&:nth-child(4){
					width: 160px;
				}
				&:nth-child(6){
					width: 88px;
				}
			}
		}
	}
}