@charset "UTF-8";
/* 修正粗體 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(微軟正黑體);
}
@font-face {
  font-family: TradeGothicForNike;
  src: url("https://alan0623.github.io/nike/images/icon-font/TradeGothicForNike365.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("https://alan0623.github.io/nike/images/icon-font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("https://alan0623.github.io/nike/images/icon-font/OpenSans-Bold.ttf");
}
/*$font-size-xs: .8em;
$font-size-s: .9em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.4em;
$font-size-xxl: 1.6em;
$font-size-xxxl: 1.75em;*/
/* line 548, ../sass/_base-function.scss */
.header .mark_appedu, .content .content_main .content_main_text li:nth-child(2) .sub_title i {
  font: 0/0 a;
  color: transparent;
}

/* line 1194, ../sass/_base-function.scss */
.content .content_form .btn-submit {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
/* line 1204, ../sass/_base-function.scss */
.content .content_form .btn-submit:focus {
  border: none;
  outline: none;
}
/* line 1208, ../sass/_base-function.scss */
.content .content_form .btn-submit span {
  vertical-align: middle;
}
/* line 1211, ../sass/_base-function.scss */
.content .content_form .btn-submit::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 60px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
/* line 1225, ../sass/_base-function.scss */
.content .content_form .btn-submit:focus, .content .content_form .btn-submit:hover {
  background: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #EF0000;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
  border: solid #EF0000 1px;
}
/* line 1239, ../sass/_base-function.scss */
.content .content_form .btn-submit:focus:after, .content .content_form .btn-submit:hover:after {
  /*水波*/
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
/* line 4, ../sass/_base-layout.scss */
article, aside, dialog, footer, header, section, footer, nav, figure, menu, details, figcaption, figure, hgroup {
  display: block;
}

/* line 5, ../sass/_base-layout.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 6, ../sass/_base-layout.scss */
audio:not([controls]) {
  display: none;
}

/* line 7, ../sass/_base-layout.scss */
[hidden] {
  display: none;
}

/* line 8, ../sass/_base-layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/_base-layout.scss */
html,
body {
  position: relative;
  background-color: #05080D;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans','Noto Sans TC', "Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}

/* line 18, ../sass/_base-layout.scss */
a, a:active, a:hover {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/_base-layout.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------
跳到主要內容區塊
------------------------------------------------------------------*/
/* line 24, ../sass/_base-layout.scss */
.sr-only {
  /*跳到主要內容區塊*/
  color: #ffffff;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9998;
  padding: 0;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 36, ../sass/_base-layout.scss */
.sr-only:focus {
  background: #EF0000;
  padding: 8px 10px;
  width: auto;
  height: auto;
}

/*------------------------------------------------------------------
#wrapper
------------------------------------------------------------------*/
/* line 46, ../sass/_base-layout.scss */
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #FFF;
  min-height: 100vh;
  position: relative;
  background-image: url(../images/main.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  /* line 46, ../sass/_base-layout.scss */
  .wrapper {
    background-image: url(../images/main_pad.jpg);
  }
}
@media screen and (max-width: 700px) {
  /* line 46, ../sass/_base-layout.scss */
  .wrapper {
    background-position: right 100px;
  }
}
@media screen and (max-width: 500px) {
  /* line 46, ../sass/_base-layout.scss */
  .wrapper {
    background-image: url(../images/main_phone.jpg);
    background-size: contain;
    background-position: center 240px;
  }
}
@media screen and (max-width: 375px) {
  /* line 46, ../sass/_base-layout.scss */
  .wrapper {
    background-position: center 140px;
  }
}
@media screen and (max-width: 320px) {
  /* line 46, ../sass/_base-layout.scss */
  .wrapper {
    background-position: center 150px;
  }
}

/*------------------------------------------------------------------
header class="header"
------------------------------------------------------------------*/
/* line 79, ../sass/_base-layout.scss */
.header {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 40px;
  position: relative;
  height: 120px;
}
@media screen and (max-width: 700px) {
  /* line 79, ../sass/_base-layout.scss */
  .header {
    height: 90px;
  }
}
@media screen and (max-width: 500px) {
  /* line 79, ../sass/_base-layout.scss */
  .header {
    height: 120px;
  }
}
@media screen and (max-width: 375px) {
  /* line 79, ../sass/_base-layout.scss */
  .header {
    height: 74px;
  }
}
@media screen and (max-width: 380px) {
  /* line 79, ../sass/_base-layout.scss */
  .header {
    padding: 0;
  }
}
/* line 97, ../sass/_base-layout.scss */
.header .mark_appedu {
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  /* line 97, ../sass/_base-layout.scss */
  .header .mark_appedu {
    top: 40px;
  }
}
@media screen and (max-width: 500px) {
  /* line 97, ../sass/_base-layout.scss */
  .header .mark_appedu {
    left: 0;
    right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  /* line 97, ../sass/_base-layout.scss */
  .header .mark_appedu {
    top: 20px;
  }
}
/* line 115, ../sass/_base-layout.scss */
.header .mark_adobe {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 2;
}
@media screen and (max-width: 500px) {
  /* line 115, ../sass/_base-layout.scss */
  .header .mark_adobe {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  /* line 124, ../sass/_base-layout.scss */
  .header .mark_adobe img {
    width: 50px;
  }
}

/*------------------------------------------------------------------
main class="content"
------------------------------------------------------------------*/
/* line 134, ../sass/_base-layout.scss */
.content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 40px;
  position: relative;
}
@media screen and (max-width: 960px) {
  /* line 134, ../sass/_base-layout.scss */
  .content {
    padding: 0 0px;
  }
}
/* line 142, ../sass/_base-layout.scss */
.content .content_main {
  height: 680px;
  margin-top: 51px;
  padding: 0 40px;
}
@media screen and (max-width: 960px) {
  /* line 142, ../sass/_base-layout.scss */
  .content .content_main {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0 40px;
  }
}
@media screen and (max-width: 700px) {
  /* line 142, ../sass/_base-layout.scss */
  .content .content_main {
    padding: 0 58px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 540px) {
  /* line 142, ../sass/_base-layout.scss */
  .content .content_main {
    padding: 0;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  /* line 142, ../sass/_base-layout.scss */
  .content .content_main {
    height: auto;
    margin-bottom: 8px;
  }
}
/* line 167, ../sass/_base-layout.scss */
.content .content_main .content_main_text {
  position: relative;
  display: inline-block;
  z-index: 10;
}
@media screen and (max-width: 960px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.8) translate(0px, -68px);
  }
}
@media screen and (max-width: 800px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.8) translate(-20px, -68px);
  }
}
@media screen and (max-width: 768px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.8) translate(-50px, -68px);
  }
}
@media screen and (max-width: 700px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    top: 0 !important;
  }
}
@media screen and (max-width: 540px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.8) translate(0px, -68px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: initial;
  }
}
@media screen and (max-width: 420px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.8) translate(0px, -78px);
  }
}
@media screen and (max-width: 375px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: initial;
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  /* line 167, ../sass/_base-layout.scss */
  .content .content_main .content_main_text {
    transform: scale(0.92) translate(0px, -24px);
  }
}
/* line 201, ../sass/_base-layout.scss */
.content .content_main .content_main_text h2 {
  text-align: center;
}
/* line 205, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(1) {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 18px;
}
@media screen and (max-width: 700px) {
  /* line 205, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(1) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  /* line 205, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(1) {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 375px) {
  /* line 205, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(1) {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  /* line 205, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(1) {
    margin-bottom: 12px;
  }
}
/* line 224, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(2) {
  margin-bottom: 8px;
}
@media screen and (max-width: 375px) {
  /* line 224, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) {
    margin-bottom: 0;
  }
}
/* line 229, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(2) .sub_title {
  font-size: 1.7em;
  position: relative;
  text-align: right;
  padding-right: 6px;
}
@media screen and (max-width: 616px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.6em;
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 594px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.5em;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 555px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 500px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 400px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 381px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 375px) {
  /* line 229, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title {
    font-size: 1em;
    padding-right: 2px;
  }
}
/* line 259, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(2) .sub_title i {
  position: absolute;
  top: 14px;
  left: 4px;
  z-index: 2;
}
@media screen and (max-width: 500px) {
  /* line 259, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title i {
    left: 4px;
  }
}
@media screen and (max-width: 594px) {
  /* line 268, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title i img {
    width: 88px !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 268, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title i img {
    width: 80px !important;
    margin-top: -2px;
  }
}
@media screen and (max-width: 400px) {
  /* line 268, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title i img {
    width: 70px !important;
  }
}
@media screen and (max-width: 375px) {
  /* line 268, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .sub_title i img {
    width: 57px !important;
  }
}
/* line 290, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(2) .main_title {
  margin-top: -0.25em;
  font-size: 2.4em;
  letter-spacing: 0.05em;
  text-shadow: rgba(43, 92, 147, 0.8) 2px 2px 8px;
  margin-bottom: 0px;
}
@media screen and (max-width: 700px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 616px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 594px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 555px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 500px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 381px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 1.85em;
  }
}
@media screen and (max-width: 375px) {
  /* line 290, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(2) .main_title {
    font-size: 1.45em;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
}
/* line 324, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(3) {
  text-align: center;
  font-size: 2.2em;
  padding: 8px 0 10px 0;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border: #26C9FF solid 3px;
}
@media screen and (max-width: 375px) {
  /* line 324, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(3) {
    font-size: 1.4em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 338, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(4) {
  margin-top: 0;
  margin-bottom: 88px;
  font-size: 2.2em;
  text-align: center;
  text-shadow: rgba(43, 92, 147, 0.8) 2px 2px 8px;
}
/* line 344, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(4) b {
  font-weight: bold;
  margin-right: 5px;
}
@media screen and (max-width: 375px) {
  /* line 344, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(4) b {
    font-weight: 700;
  }
}
@media screen and (max-width: 375px) {
  /* line 338, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(4) {
    margin-top: 8px;
    font-size: 1.45em;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 8px;
  }
}
/* line 362, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(5) {
  font-size: 2.4em;
  font-weight: bold;
  text-align: left;
  text-shadow: rgba(43, 92, 147, 0.8) 2px 2px 8px;
}
@media screen and (max-width: 700px) {
  /* line 362, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(5) {
    margin-top: 360px;
    font-size: 2.8em;
  }
}
@media screen and (max-width: 500px) {
  /* line 362, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(5) {
    margin-top: 290px;
  }
}
@media screen and (max-width: 375px) {
  /* line 362, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(5) {
    margin-top: 190px;
    font-size: 2.2em;
  }
}
/* line 379, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(6) {
  font-size: 2em;
  text-align: left;
  text-shadow: rgba(43, 92, 147, 0.8) 2px 2px 8px;
}
@media screen and (max-width: 700px) {
  /* line 379, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(6) {
    font-size: 2em;
    margin-top: -8px;
  }
}
@media screen and (max-width: 375px) {
  /* line 379, ../sass/_base-layout.scss */
  .content .content_main .content_main_text li:nth-child(6) {
    font-size: 1.4em;
    margin-top: -8px;
  }
}
/* line 391, ../sass/_base-layout.scss */
.content .content_main .content_main_text li:nth-child(6) b {
  font-size: 1.6em;
  font-weight: 700;
}
/* line 400, ../sass/_base-layout.scss */
.content .content_form {
  padding: 0 80px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 960px) {
  /* line 400, ../sass/_base-layout.scss */
  .content .content_form {
    padding: 0 40px;
    margin-top: -80px;
  }
}
@media screen and (max-width: 700px) {
  /* line 400, ../sass/_base-layout.scss */
  .content .content_form {
    padding: 0 58px;
    margin-top: 128px;
  }
}
@media screen and (max-width: 500px) {
  /* line 400, ../sass/_base-layout.scss */
  .content .content_form {
    padding: 0 32px;
  }
}
@media screen and (max-width: 375px) {
  /* line 400, ../sass/_base-layout.scss */
  .content .content_form {
    margin-top: 0;
  }
}
/* line 418, ../sass/_base-layout.scss */
.content .content_form select,
.content .content_form input {
  border-radius: 0;
  display: block;
  width: 100%;
  height: 56px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  outline: none;
  font-family: 'Open Sans','Noto Sans TC', "Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}
/* line 436, ../sass/_base-layout.scss */
.content .content_form select {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}
/* line 445, ../sass/_base-layout.scss */
.content .content_form .btn-submit {
  color: white;
  width: 100%;
  max-width: 380px;
  background-color: #EF0000;
  margin: 0 auto;
  padding: 14px 10px;
  font-size: 1.4em;
  letter-spacing: .2em;
  text-decoration: none !important;
}
@media screen and (max-width: 375px) {
  /* line 445, ../sass/_base-layout.scss */
  .content .content_form .btn-submit {
    font-size: 1.2em;
  }
}
/* line 460, ../sass/_base-layout.scss */
.content .content_form .form-check-input {
  width: auto;
  height: auto;
  float: left;
  transform: scale(2);
  position: absolute;
  top: 9px;
  border: none;
}
/* line 469, ../sass/_base-layout.scss */
.content .content_form input[type="checkbox"] {
  border: none;
  background-color: #FFF;
}
/* line 473, ../sass/_base-layout.scss */
.content .content_form .form-check-label {
  font-size: 1.2em;
  padding-left: 30px;
}
@media screen and (max-width: 375px) {
  /* line 473, ../sass/_base-layout.scss */
  .content .content_form .form-check-label {
    font-size: 1em;
    padding-left: 25px;
  }
}
@media screen and (max-width: 370px) {
  /* line 473, ../sass/_base-layout.scss */
  .content .content_form .form-check-label {
    font-size: 1em;
    text-align: left;
    width: 100%;
    display: block;
    padding-left: 29px;
  }
  /* line 486, ../sass/_base-layout.scss */
  .content .content_form .form-check-label a {
    display: inline-block !important;
  }
}
/* line 490, ../sass/_base-layout.scss */
.content .content_form .form-check-label a {
  padding-left: 10px;
}
/* line 492, ../sass/_base-layout.scss */
.content .content_form .form-check-label a:hover, .content .content_form .form-check-label a:focus {
  color: #EF0000;
}
/* line 497, ../sass/_base-layout.scss */
.content .content_form .content_form_title {
  text-align: center;
  margin-bottom: 24px;
}
/* line 500, ../sass/_base-layout.scss */
.content .content_form .content_form_title h2 {
  font-weight: 400;
  font-size: 2em;
  display: inline-block;
  padding: 4px 14px;
  border-bottom: #EF0000 solid 4px;
  margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
  /* line 500, ../sass/_base-layout.scss */
  .content .content_form .content_form_title h2 {
    font-size: 1.45em;
  }
}
/* line 511, ../sass/_base-layout.scss */
.content .content_form .content_form_title p {
  font-size: 1.4em;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  /* line 511, ../sass/_base-layout.scss */
  .content .content_form .content_form_title p {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 540px) {
  /* line 511, ../sass/_base-layout.scss */
  .content .content_form .content_form_title p {
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  /* line 511, ../sass/_base-layout.scss */
  .content .content_form .content_form_title p {
    font-size: 1.1em;
  }
}
/* line 525, ../sass/_base-layout.scss */
.content .content_form .content_form_llst {
  display: inline-block;
  width: 100%;
}
/* line 528, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li {
  width: 50%;
  float: left;
  margin: 12px 0;
}
/* line 532, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-child(1), .content .content_form .content_form_llst li:nth-child(4), .content .content_form .content_form_llst li:nth-child(6) {
  padding-right: 10px;
}
@media screen and (max-width: 540px) {
  /* line 532, ../sass/_base-layout.scss */
  .content .content_form .content_form_llst li:nth-child(1), .content .content_form .content_form_llst li:nth-child(4), .content .content_form .content_form_llst li:nth-child(6) {
    padding-right: 0;
    width: 100%;
    margin: 8px 0;
  }
}
/* line 542, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-child(2), .content .content_form .content_form_llst li:nth-child(5), .content .content_form .content_form_llst li:nth-child(7) {
  padding-left: 10px;
}
@media screen and (max-width: 540px) {
  /* line 542, ../sass/_base-layout.scss */
  .content .content_form .content_form_llst li:nth-child(2), .content .content_form .content_form_llst li:nth-child(5), .content .content_form .content_form_llst li:nth-child(7) {
    padding-left: 0;
    width: 100%;
    margin: 8px 0;
  }
}
@media screen and (max-width: 540px) {
  /* line 552, ../sass/_base-layout.scss */
  .content .content_form .content_form_llst li:nth-child(3) {
    margin: 8px 0;
  }
}
/* line 558, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-child(3), .content .content_form .content_form_llst li:nth-last-child(2), .content .content_form .content_form_llst li:nth-last-child(1) {
  width: 100%;
  clear: both;
}
/* line 564, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-last-child(2) {
  text-align: center;
}
/* line 566, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-last-child(2) .form-check {
  display: inline-block;
  margin: 20px auto;
  position: relative;
}
/* line 572, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li:nth-last-child(1) {
  width: 100%;
  margin: 0 auto;
}
/* line 576, ../sass/_base-layout.scss */
.content .content_form .content_form_llst li a {
  color: #FFF;
  text-decoration: underline;
}
/* line 583, ../sass/_base-layout.scss */
.content .cube_ps {
  top: 0%;
  margin-top: 620px;
  width: 234px;
  height: 234px;
  position: fixed;
  background-image: url(../images/Ps.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  /* line 583, ../sass/_base-layout.scss */
  .content .cube_ps {
    transform: scale(0.8) translate(-10px, -68px);
  }
}
@media screen and (max-width: 700px) {
  /* line 583, ../sass/_base-layout.scss */
  .content .cube_ps {
    display: none;
  }
}
/* line 599, ../sass/_base-layout.scss */
.content .cube_ae {
  top: 0%;
  left: 70%;
  margin-top: 900px;
  width: 191px;
  height: 191px;
  position: fixed;
  background-image: url(../images/Ae.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  /* line 599, ../sass/_base-layout.scss */
  .content .cube_ae {
    transform: scale(0.8) translate(-10px, -68px);
    margin-top: 800px;
  }
}
@media screen and (max-width: 700px) {
  /* line 599, ../sass/_base-layout.scss */
  .content .cube_ae {
    display: none;
  }
}

/* line 619, ../sass/_base-layout.scss */
::-webkit-input-placeholder {
  /* Edge */
  color: #495057;
}

/* line 623, ../sass/_base-layout.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #495057;
}

/* line 627, ../sass/_base-layout.scss */
::placeholder {
  color: #495057;
}

/*------------------------------------------------------------------
footer class="fatfooter"
------------------------------------------------------------------*/
/* line 633, ../sass/_base-layout.scss */
.footer {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 980px;
  padding: 0 40px;
  position: relative;
}
@media screen and (max-width: 500px) {
  /* line 633, ../sass/_base-layout.scss */
  .footer {
    padding: 0 32px;
  }
}
@media screen and (max-width: 450px) {
  /* line 633, ../sass/_base-layout.scss */
  .footer {
    margin-top: 120px;
  }
}
/* line 645, ../sass/_base-layout.scss */
.footer .footer_container {
  display: inline-block;
  float: left;
  margin-bottom: 16px;
}
@media screen and (max-width: 450px) {
  /* line 645, ../sass/_base-layout.scss */
  .footer .footer_container {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 4px;
  }
}
/* line 656, ../sass/_base-layout.scss */
.footer .footer_adobe {
  margin-left: 36px;
  display: inline-block;
  float: left;
  width: 154px;
  height: 45px;
}
@media screen and (max-width: 450px) {
  /* line 656, ../sass/_base-layout.scss */
  .footer .footer_adobe {
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: -72px;
    left: 0;
  }
}
/* line 671, ../sass/_base-layout.scss */
.footer .footer_social {
  float: right;
}
@media screen and (max-width: 700px) {
  /* line 671, ../sass/_base-layout.scss */
  .footer .footer_social {
    position: absolute;
    top: 56px;
    left: 258px;
    z-index: 2;
  }
}
@media screen and (max-width: 540px) {
  /* line 671, ../sass/_base-layout.scss */
  .footer .footer_social {
    left: 248px;
  }
}
@media screen and (max-width: 450px) {
  /* line 671, ../sass/_base-layout.scss */
  .footer .footer_social {
    width: 100%;
    text-align: center;
    left: -5px;
    top: 100px;
    position: absolute;
    margin-top: 0px;
  }
}
/* line 690, ../sass/_base-layout.scss */
.footer .footer_social a {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 10px;
}
/* line 696, ../sass/_base-layout.scss */
.footer .footer_social a:hover, .footer .footer_social a:focus {
  background-color: #EF0000;
}
/* line 701, ../sass/_base-layout.scss */
.footer .footer_tel {
  margin-bottom: 8px;
  clear: both;
}
@media screen and (max-width: 450px) {
  /* line 701, ../sass/_base-layout.scss */
  .footer .footer_tel {
    text-align: center;
  }
}
/* line 709, ../sass/_base-layout.scss */
.footer .footer_copyright {
  font-size: 0.9em;
  margin-bottom: 24px;
}
@media screen and (max-width: 450px) {
  /* line 709, ../sass/_base-layout.scss */
  .footer .footer_copyright {
    margin-top: 72px;
    font-size: 1em;
  }
}
/* line 716, ../sass/_base-layout.scss */
.footer .footer_copyright p {
  padding: 2px 0;
}
/* line 718, ../sass/_base-layout.scss */
.footer .footer_copyright p b {
  font-weight: normal;
}
@media screen and (max-width: 450px) {
  /* line 718, ../sass/_base-layout.scss */
  .footer .footer_copyright p b {
    font-weight: normal;
    display: block;
    text-align: center;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 372px) {
  /* line 727, ../sass/_base-layout.scss */
  .footer .footer_copyright p b:nth-last-child(1) {
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  /* line 732, ../sass/_base-layout.scss */
  .footer .footer_copyright p:nth-last-child(1) {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}
