/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu,details,figcaption,figure,hgroup{display:block;}
audio, canvas, video{display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]){display: none;}
[hidden]{display: none;}
*{margin: 0;padding: 0;box-sizing: border-box;}
html,
body {
position: relative;
background-color: #F0F0F0;
padding: 0;
margin: 0;
font-family: 'Open Sans','Noto Sans TC', "Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}

a, a:active, a:hover{text-decoration: none;outline: none;}
ul,li{list-style: none;padding: 0;margin: 0;}

/*------------------------------------------------------------------
跳到主要內容區塊
------------------------------------------------------------------*/
.sr-only {/*跳到主要內容區塊*/
color: $white;
width: 1px;
height: 1px;
position: absolute;
top: 10px;
left: 10px;
z-index: 9998;
padding:0;
border-radius: $border-radius;
white-space: nowrap;
overflow: hidden;
	&:focus{
		background: $major-color;
		padding: 8px 10px;
		width: auto;
		height: auto;
	}
}
/*------------------------------------------------------------------
#wrapper
------------------------------------------------------------------*/
.wrapper{
	width: 100%;
	min-height: 100vh;
}
/*------------------------------------------------------------------
header class="header"
------------------------------------------------------------------*/
.header {
	width: 100%;
	height: 120px;
	background-color: white;
	position: fixed;
	z-index: 10;
    top: 0;
    box-shadow: rgba(0,0,0,0.4)0px 0px 20px;
	@include media('mobile') {
		height: 64px;
	}
	.header_center{
		max-width: $pc-width;
		margin: 0 auto;
		height: 120px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 27px;
		@include media('mobile') {
			height: 64px;
		}
		.mark_appedu{
			justify-content: center;
			align-items: center;
			float: left;
			display: flex;
			height: 120px;
			@include media('mobile') {
				height: 64px;
			}
			> a{
				@extend %hide-text;
			}
		}
		.menu{
			@include media('mobile') {
				display: none;
				height: auto;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				position: absolute;
				top: 64px;
				z-index: 1;
				left: 0;
			}
		}
		ul{
			justify-content: center;
			align-items: center;
			float: right;
			display: flex;
			height: 120px;
			li{
				display: block;
				float: left;
				margin-left: 56px;
				@include media('mobile') {
					width: 100%;
					margin: 0;
					border-bottom: #000 solid 2px;
				}
				> a{
					color: #4D4D4D;
					font-size: 1.2em;
					font-weight: 500;
					letter-spacing: 1px;
					@include media('mobile') {
						width: 100%;
						display: block;
						height: 48px;
						line-height: 48px;
						text-align: center;
						color: white;
						letter-spacing: 2px;
					}
				}
				&:last-child{
					a{
						display: block;
						text-align: center;
						line-height: 44px;
						width: 168px;
						height: 44px;
						// background: $lesser1-color;
						@extend %linear-gradient;
						border-radius: $border-radius;
						font-weight: normal;
						letter-spacing: 2px;
						@extend %btn;
						@include media('mobile') {
							margin: 0 auto;
							font-weight: 500;
						}
					}
				}
			}
		}

	}
}
.open_nav {
	display: none;
	position: absolute;
	z-index: 99;
	right: 10px;
	top: 8px;
	width: 45px;
	height: 45px;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	cursor: pointer;
	border-radius: 3px;
	@include media('mobile') {
		display: block;
	}
	h2 {
		@extend %hide-text;
	}

	b {
		position: absolute;
		top: 35%;
		right: 110%;
		font-weight: normal;
		font-size: 0.75em;
	}

	.icon {
		transition-duration: 0.2s;
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: $black;
		top: 22px;
		left: 8px;

		&:before,
		&:after {
			transition-duration: 0.5s;
			background-color: $black;
			position: absolute;
			content: "";
			width: 30px;
			height: 3px;
			left: 0px;
		}

		&:before {
			top: -7px;
		}

		&:after {
			top: 7px;
		}

	}

	&:focus,
	&:hover {
		@extend %linear-gradient;
		.icon {
			background-color: white;

			&:before,
			&:after {
				background-color: white;
			}
		}
	}

	&.open {
		.icon {
			background-color: transparent;

			&:before,
			&:after {
				top: 0;
			}

			&:before {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}

			&:after {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}
}
/*------------------------------------------------------------------
class="content"
------------------------------------------------------------------*/
.content {
	padding-top: 120px;
	@include media('mobile') {
		padding-top: 64px;
	}
}
//placeholder
::-webkit-input-placeholder {
	/* Edge */
	color: #495057;
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #495057;
}
::placeholder {
	color: #495057;
}

.content_main{
	overflow: hidden;
	background-image: url(../images/mainVisualbg.jpg);
	background-repeat: repeat;
	background-size: cover;
	width: 100%;
	.content_main_Visual{
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
		@include media('mobile') {
			padding-bottom: 6%;
		}
		@include media('phone') {
			padding-bottom: 14%;
		}
		&::before{
			display: block;
			position: absolute;
			z-index: 1;
			content: "";
			width: 64%;
			height: 0;
			padding-bottom: 55%;
			top: 7%;
			left: 5%;
			background-image: url(../images/mainVisual3.png);
			background-repeat: no-repeat;
			background-size: contain;
			@include media('mobile') {
				width: 67%;
				height: 0;
				padding-bottom: 55%;
				top: 2%;
				left: -5%;
			}
			@include media('phone') {
				width: 64%;
				height: 0;
				padding-bottom: 55%;
				top: 14%;
				left: -7%;
			}
		}
		&::after{
			display: block;
			position: absolute;
			z-index: 1;
			content: "";
			width: 20%;
			height: 0;
			padding-bottom: 20%;
			top: 18%;
			right: 11%;
			background-image: url(../images/mainVisual1.png);
			background-repeat: no-repeat;
			background-size: contain;
			animation: drift 60000ms infinite linear;
			@include media('mobile') {
				width: 25%;
				height: 0;
				padding-bottom: 25%;
				top: 10%;
				right: 3%;
			}
			@include media('phone') {
				width: 30%;
				height: 0;
				padding-bottom: 30%;
				top: 14%;
				right: 3%;
			}
		}
	}
	img{
		width: 100%;
		opacity: 0;
	}
	h2{
		@extend %hide-text;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 3;
		content: "";
		width: 34%;
		height: 0;
		padding-bottom: 16%;
		top: 25%;
		right: 18%;
		background-image: url(../images/mainVisual2.png);
		animation: move_UpDown .71s infinite alternate;
		@include media('mobile') {
			width: 46%;
			height: 0;
			padding-bottom: 24%;
			top: 17%;
			right: 13%;
		}
		@include media('phone') {
			width: 53%;
			height: 0;
			padding-bottom: 24%;
			top: 22%;
			right: 11%;
		}
	}
	p{
		font-size: 1.8em;
		position: absolute;
		top: 69%;
		right: 7.5%;
		font-weight: bold;
		font-style: italic;
		color: #231815;
		z-index: 2;
		@include rwd(1330){

		}
		@include media('mobile') {
			top: 67%;
			right: auto;
			font-size: 1.6em;
			left: auto;
			text-align: center;
			margin: 0 auto;
			width: 100%;
		}

		@include rwd(620,561){
			font-size: 1.5em;
		}
		@include rwd(560,501){
			font-size: 1.3em;
		}
		@include media('phone') {
			font-size: 1.2em;
		}
		@include rwd(440){
			font-size: 1em;
		}
		b{
			color: #036EB5;
		}
	}
}
@keyframes move_UpDown {
    0% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(-10px)
    }
}
@-webkit-keyframes drift {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes drift {
	from {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	from {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
.content_slogan{
	text-align: center;
	width: 100%;
	// background: $lesser1-color;
	@extend %linear-gradient;
	min-height: 204px;
    box-sizing: border-box;
    padding: 40px 0;
	h2{//防疫不停學，疫情期間，我們更要用力學習、充實自己
		max-width: 636px;
		height: 26px;
		margin: 0 auto;
		margin-bottom: 32px;
		background-repeat: no-repeat;
		background-size: cover;
		// height: 0;
    	// padding-bottom: 1.68%;
		@include rwd(1009){
			text-align: justify;
			padding: 0 24px;
			height: auto;
			margin-bottom: 16px;
		}
	}
	p{
		font-size: 1.4em;
		letter-spacing: 1px;
		max-width: 1028px;
		padding: 0 24px;
		margin: 0 auto;
		line-height: 1.8em;
		font-weight: lighter;
		@include rwd(1009){
			text-align: justify;
			font-size: 1.1em;
			font-weight: normal;
		}
	}
}
/*------------------------------------------------------------------
設計養成 雲端講座
------------------------------------------------------------------*/
.content_course,
.content_lecture{
	margin-bottom: 140px;
	padding-top: 92px;
	max-width: $pc-width;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	@include media('mobile') {
		padding-top: 48px;
	}
	@include media('phone') {
		padding-top: 32px;
	}
	h2{//設計養成 雲端講座
		max-width: 670px;
		height: 59px;
		background-image: url(../images/title_lecture.svg);
		background-repeat: no-repeat;
		margin: 0 auto;
		text-align: center;
		@extend %hide-text;
		// margin: 0 24px;
		margin-bottom: 48px;
		@include media('mobile') {
			margin-bottom: 0;
		}
		@include rwd(870){
			text-align: left;
			margin: 0 24px;
			margin-bottom: 24px;
		}
		@include media('phone') {
			margin-bottom: 0;
			height: 44px;
		}
	}
	> p{
		margin: 0 auto;
		text-align: center;
		font-size: 1.3em;
		line-height: 1.6em;
		padding: 0 24px;
		padding-bottom: 54px;	
		@include rwd(710){
			text-align: left;
			padding-bottom: 0px;
			font-size: 1.15em;
			margin-bottom: 16px;
		}
		b{
			display: block;
			font-weight: normal;
			@include rwd(1009){
				display: initial;
			}
		}
	}
}
.content_course_list,
.content_lecture_list{
	display: flex;
	@include rwd(1167){
		padding: 0 12px;
	}
	@include media('mobile') {
		display: inline-block;
	}
	@include media('phone') {
		padding: 0 10px;
	}
	.class{
		display: inline-block;
		position: relative;
		margin: 28px;
		// display: block;
		float: left;
		width: calc(33.33% - 56px);
		background-color: white;
		color: $black;
		border-radius: 16px;
		// overflow: hidden;
		box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 16px;	
		@extend %btn-Moema;
		transition: $transition;
		@include rwd(1167){
			width: calc(33.33% - 32px);
			margin: 28px 16px;
		}
		@include media('mobile') {
			width: calc(50% - 32px);
		}
		@include rwd(650){
			width: calc(100% - 32px);
		}
		@include media('phone') {
			width: calc(100% - 32px);
			margin: 11px 16px;
		}
		&:hover,
		&:focus{
			transform: scale(1.1);
			@include media('phone') {
				transform: scale(1);
			}
			.img{
				img{
					transform: scale(1.2);
					@include media('phone') {
						transform: scale(1);
					}
				}
			}
		}
		.img{
			overflow: hidden;
			border-radius: 16px 16px 0 0;
			overflow: hidden;
			img{
				width: 100%;
				float: left;
				transition: $transition;
			}
		}
		.text{
			position: static;
			box-sizing: border-box;
			padding: 25px;
			span{
				color: white;
				background-color: #C10D23;
				position: absolute;
				font-size: 1.1em;
				max-width: 55px;
				box-sizing: border-box;
				text-align: center;
				padding: 4px 5px;
			}
			h3{
				font-size: 1.3em;
				line-height: 1.3em;
				padding-left: 64px;
				padding-top: 2px;
				padding-bottom: 22px;
				@include media('mobile') {
					padding-bottom: 16px;
				}
				
			}
			i{
				color: #036EB5;
				font-style: normal;
				font-size: 1.1em;
				line-height: 1.6em;
			}
			p{
				font-size: 1.1em;
				line-height: 1.6em;
				text-align: justify;
			}
			b{
				display: block;
				color: #036EB5;
				font-size: 1.3em;
				line-height: 1.6em;
				letter-spacing: 1px;
				min-height: 56px;
				padding: 26px 0;
				text-align: center;
				border-top: #CACACA solid 2px;
				margin-top: 26px;
				@include media('mobile') {
					padding: 8px 0;
					margin-top: 16px;
				}
			}
			>.a,
			>a{
				display: block;
				@extend %linear-gradient;
				width: 160px;
				height: 44px;
				position: absolute;
				line-height: 44px;
				bottom: -22px;
				left: calc(50% - 80px);
				// transform: translateX(-50%);
				margin: 0 auto;
				font-size: 1.1em;
				font-weight: bold;
				letter-spacing: 1px;
				border-radius: $border-radius;
				@include media('mobile') {
					width: 60%;
					// left: 20%;
					position: relative;
					bottom: auto;
					left: auto;
					right: auto;
				}
				@include media('phone') {
					width: 100%;
				}
			}
		}
	}
}
.content_links,
.content_form,
.content_course,
.content_lecture{
	h2,p{
		transition: $transition;
	}
	p{
		transition-delay: .5s;
	}
	&.ready-animate{
		h2{
			transform: translateY(200px) scale(2);opacity: 0;
			@include media('mobile'){
				transform: translateY(0px) scale(1);opacity: 1;
			}
		}
		p{
			transform: $transformY200; opacity: 0;
			@include media('mobile'){
				transform: $transformY0;opacity: 1;
			}
		}
	}
	&.run-animate{
		h2{
			transform: translateY(0px) scale(1);opacity: 1;
			@include media('mobile'){
				transform: translateY(0px) scale(1);opacity: 1;
			}
		}
		p{
			transform: $transformY0;opacity: 1;
			@include media('mobile'){
				transform: $transformY0;opacity: 1;
			}
		}
	}
}
.content_form,
.content_links,
.content_course_list,
.content_lecture_list{
	>ul>li,
	.class{
		&:nth-child(1){
			transition-delay: 0s;
		}
		&:nth-child(2){
			transition-delay: .25s;
		}
		&:nth-child(3){
			transition-delay: .5s;
		}
		&:nth-child(4){
			transition-delay: .75s;
		}
		&:nth-child(5){
			transition-delay: 1s;
		}
		&:nth-child(6){
			transition-delay: 1.25s;
		}
	}
	&.ready-animate{
		>.content_form_llst,
		>ul>li,
		.class{
			transform: $transformY200; opacity: 0;
			@include media('mobile'){
				transform: $transformY0;opacity: 1;
			}

		}
	}
	&.run-animate{
		>.content_form_llst,
		>ul>li,
		.class{
			transform: $transformY0;opacity: 1;
			@include media('mobile'){
				transform: $transformY0;opacity: 1;
			}

		}
	}

}
@include rwd(800,650){
	.content_lecture_list{
		.class{
			&:last-child{
				width: calc(100% - 32px);
				height: auto!important;
				.img{
					border-radius:16px 0 0 0;
					width: 50%;
					float: left;
					img{
						float: right;
						width: 120%;
					}
				}
				.text{
					width: 50%;
					float: left;
				}
			}
		}
	}
}

/*------------------------------------------------------------------
技能提升 專題課程
------------------------------------------------------------------*/
.content_course{
	h2{//技能提升 專題課程
		max-width: 700px;
		height: 59px;
		background-image: url(../images/title_course.svg);
		@include media('phone') {
			height: 44px;
		}
	}
}
.content_course_list{
	display: block;
	padding: 0 12px;
	&::after{
		@extend %clear;
	}
	@include media('mobile') {
		display: inline-block;
	}
	.class{
		width: calc(25% - 32px);
		margin: 0 16px;
		margin-bottom: 54px;
		@include rwd(1167){
			width: calc(33.33% - 32px);
		}
		@each $key, $map in $course-list {
			$color: map-get($map, 'color');
			&:nth-child(#{$key}){
				.text span{
					background-color: #{$color};
				}
			}
		}
		@include media('mobile') {
			width: calc(50% - 36px);
			margin: 0 18px;
			margin-bottom: 32px;
		}
		@include rwd(650){
			width: calc(100% - 36px);
		}
		.text{
			padding: 13px 18px;
			padding-bottom: 64px;
			min-height: 215px;
			@include media('mobile') {
				padding: 16px;
				padding-bottom: 64px;
			}
			@include rwd(670){
				max-height: 305px;
			}
			@include media('phone') {
				padding-bottom: 16px;
			}
			span{
				font-size: 0.9em;
				line-height: 1.2em;
				max-width: 44px;
				margin-top: 2px;
				@include rwd(1167){
					font-size: 1.1em;
					max-width: 55px;
				}
			}
			h3{
				font-size: 1.05em;
				line-height: 1.3em;
				padding-left: 56px;
				padding-top: 2px;
				padding-bottom: 8px;
				@include rwd(1167){
					font-size: 1.3em;
					padding-left: 64px;
				}
			}
			i,
			p{font-size: 0.8em;
			}
			i{
				display: block;
				margin-bottom: 6px;
				@include rwd(1167){
					font-size: 1.1em;
					line-height: 1.6em;
				}
			}
			p{
				@include rwd(1167){
					font-size: 1.1em;
					line-height: 1.6em;
					text-align: justify;
				}
				@include rwd(710){
				margin-bottom: 16px;
				}
			}
			.a,
			>a{
				position: absolute;
				bottom: 0;
				font-size: 0.9em;
				margin: 0 auto;
				margin-top: 16px;
				margin-bottom: 13px;
				left: 20%;
				// transform: translateX(-50%)!important;
				@include media('mobile') {
					margin-top: 16px;
					margin-bottom: 13px;
				}
				@include media('phone') {
					position: relative;
					left: 0;
					font-size: 1.1em;
				}
			}
		}
	}
}

.content_form{
	text-align: center;
	width: 100%;
	@extend %linear-gradient;
	background-image: url(../images/linear-gradient2.jpg);
	// -moz-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // -webkit-transform: scaleX(-1);
    // transform: scaleX(-1);
    // filter: FlipH;
    // -ms-filter: "FlipH";
    box-sizing: border-box;
    padding: 56px 0;
	@include media('phone') {
		padding: 32px 0;
	}
	h2{
		font-size: 3em;
		font-style: italic;
		font-weight: lighter;
		letter-spacing: 1px;
		margin-bottom: 48px;
		@include media('mobile') {
			font-size: 2em;
		}
		@include rwd(550){
			font-size: 1.5em;
			margin-bottom: 24px;
		}
		@include media('phone') {
			font-size: 1.3em;
			margin-bottom: 16px;
		}
		b,i{
			display: block;
		}
		b{
			font-weight: bold;
			@include media('phone') {
				font-size: 1.3em;
			}
		}
		i{
			font-weight: lighter;
			@include media('phone') {
				font-weight: normal;
			}
		}
	}
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]+span {
	display: inline-block;
	padding-left: 26px;
	line-height: 20px;
	// background: url(cbx-off.svg) no-repeat;
	user-select: none;
	position: relative;
	padding-left: 28px;
	line-height: 24px;
	word-break: keep-all;
	@include media('phone') {
		font-size: 1.1em;
    	margin: 2px 0;
	}
	&::before{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 22px;
		height: 22px;
		border: #B1B1B1 solid 1px;
		border-radius: 6px;
	}
}
input[type=checkbox]:checked+span {
	// background: url(cbx-on.svg) no-repeat;
	&::before{
		background-color: #FF9336;
	}

}
.content_form_llst{
	transition: $transition;
	display: block;
	position: relative;
	max-width: 1114px;
    background-color: white;
    border-radius: 28px;
    margin: 0 auto;
	color: $black;
	padding: 0 44px;
	padding-bottom: 160px;
	@include rwd(1170){
		margin: 0 26px;
	}
	@include rwd(1120){
		padding: 0 24px;
		padding-bottom: 160px;
	}
	@include media('mobile') {
		padding-bottom: 128px;
	}
	&::after{
		@extend %clear;
	}
	.sub_title{
		color: #333;
		font-size: 1.5em;
		font-weight: lighter;
		letter-spacing: 2px;
		padding: 48px 0;
		@include media('mobile') {
			padding: 24px 0;
		}
		@include rwd(700){
			text-align: left;
		}
		@include media('phone') {
			font-size: 1.2em;
			letter-spacing: 0;
			text-align: left;
			padding: 20px 0 8px 0;
		}
	}
	.content_form_class{
		width: calc(60% - 24px);
		float: left;
		margin-right: 24px;
		margin-top: 8px;
		@include rwd(1160){
			width: 60%;
			margin-right: 0px;
		}
		@include media('mobile') {
			width: 100%;
		}
		h3{
			font-weight: normal;
			text-align: center;
			height: 70px;
			width: 70px;
			margin-right: 4px;
			color: #FFF;
			box-sizing: border-box;
			padding: 7px 10px;
			float: left;
			margin-top: 4px;
		}
		.label{
			float: left;
			width: calc(100% - 80px);
			@include media('phone') {
				width: 100%;
				margin: 0;
			}
		}
		label {
            padding: 0;
			margin: 0 6px;
            cursor: pointer;
			line-height: 22px;
			padding: 8px 0;
			display: block;
			width: calc(50% - 12px);
			float: left;
			text-align: left;
			@include rwd(690){
				width: 100%;
				margin: 0;
			}
        }

		.content_form_class_lecture{
			&::after{
				@extend %clear;
			}
			h3{
				background-color: #FF9336;
				height: 70px;
				@include rwd(690){
					padding: 0;
					width: 100%;
					height: 44px;
					line-height: 44px;
					letter-spacing: 2px;
					box-sizing: border-box;
					margin: 0;
					margin-bottom: 8px;
				}
			}
			
		}
		.content_form_class_topic{
			position: relative;
			padding-top: 32px;
			margin-top: 32px;
			@include rwd(690){
				padding-top: 0;
				margin-top: 24px;
			}
			&::before{
				content: "";
				position: absolute;
				top: 0;
				width: 98%;
				height: 2px;
				background-color: #45BDB5;
				left: 0;
				@include media('mobile') {
					width: 100%;
				}
				@include rwd(690){
					display: none;
				}
			}

			&::after{
				@extend %clear;
			}
			h3{
				background-color: #244DE0;
				// height: 70px;
				height: 110px;
				padding: 27px 10px;
				@include rwd(690){
					padding: 0;
					width: 100%;
					height: 44px;
					line-height: 44px;
					letter-spacing: 2px;
					box-sizing: border-box;
					margin: 0;
					margin-bottom: 8px;
				}
			}
		}
	}
	.content_form_info{
		float: left;
		width: 40%;
		@include media('mobile') {
			width: 100%;
		}
		li{
			float: left;
			margin: 15px 10px;
			width: calc(50% - 20px);
			@include media('phone') {
				margin: 6px 1px;
				width: 100%;
			}
			&:nth-last-child(3){
				width: calc(100% - 20px);
				@include media('phone') {
					width: 100%;
				}
			}
			&:nth-last-child(2),
			&:nth-last-child(1){
				position: absolute;
				
				left: 0;
				margin: 0;
			}
			&:nth-last-child(2){
				bottom: 119px;
				text-align: center;
				margin: 0 auto;
				left: 0;
				right: 0;
				width: auto;
				@include media('mobile') {
					bottom: 88px;
				}
				a{
					color: $black;
					text-decoration: underline;
				}
			}
			&:nth-last-child(1){
				display: block;
				height: 64px;
				width: 100%;
				bottom: 42px;
				@include media('mobile') {
					bottom: 8px;
				}
			}
			.btn-submit{
				display: block;
				border: none;
				line-height: 64px;
				color: #FFF;
				font-size: 1.6em;
				letter-spacing: 4px;
				font-weight: bold;
				width: 60%;
				display: block;
				margin: 0 auto;
				background-image: url(../images/linear-gradient2.jpg);
				@extend %btn;
				@include media('mobile') {
					font-size: 1.4em;
					font-weight: 500;
					height: 48px;
					line-height: 48px;
					width: calc(100% - 56px);
					border-radius: 50px;
				}
			}
		}
		input{
			&[type="tel"],
			&[type="email"],
			&[type="text"]{
				padding-left: 16px;
				font-size: 1.05em;
				letter-spacing: 1px;
				border-radius: 10px;
				// width: 188px;
				width: 100%;
				height: 64px;
				border: #B1B1B1 solid 1px;
				&:focus,
				&:hover,
				&:active{
					color: $black;
				}
			}
		}
		select{
			padding-left: 12px;
			font-size: 1.05em;
			letter-spacing: 1px;
			border-radius: 10px;
			// width: 188px;
			width: 100%;
			height: 64px;
			border: #B1B1B1 solid 1px;
			color: #979797;
			&:focus,
			&:hover,
			&:active{
				color: $black;
			}
		}
	}
}
::placeholder{
	color: #979797;
}
.content_links{
	display: block;
	width: 100%;
	background-color: #F0F0F0;
	background-image: url(../images/bg_content_links.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
	@include media('phone') {
		background-image: none;
	}
	h2{
		width: 100%;
		max-width: 1114px;
		margin: 0 auto;
		padding: 84px 0 62px 0;
		color: #244DE0;
		text-align: left;
		font-size: 3em;
    	font-style: italic;
		padding-left: 24px;
		@include media('mobile') {
			font-size: 2em;
			padding: 24px 36px;
			text-align: center;
		}
		@include media('phone') {
			font-size: 1.6em;
		}
		b{
			display: block;
			
			&:last-child{
				margin-left: -38px;
				@include media('mobile') {
					margin-left: 0;
				}
			}
		}
	}
	h3{
		display: block;
		position: relative;
		background-color: black;
		color: #FFF;
		font-weight: bolder;
		font-size: 1.8em;
		letter-spacing: 1px;
		padding: 32px 24px;
		box-sizing: border-box;
		float: left;
		width: 100%;
		transition: $transition;
		@include media('mobile') {
			font-size: 1.2em;
			padding: 16px 24px;
		}
		@include rwd(1130){
			font-size: 1.6em;
		}
		@include rwd(1060){
			font-size: 1.4em;
		}
		&::after{
			content: "";
			display: block;
			position: absolute;
			right: 24px;
			top: calc(50% - 6px);
			width: 60px;
			height: 13px;
			background-image: url(../images/arrow.svg);
			background-position: center bottom;
			background-repeat: no-repeat;
		}
	}
	>ul{
		width: 100%;
		max-width: 1138px;
		margin: 0 auto;
		padding-bottom: 80px;
		@include media('mobile') {
			box-sizing: border-box;
			padding: 0 16px;
		}
		@include rwd(650){
			
			padding: 0;
		}
		@include media('phone') {
			
			padding-bottom: 24px;
		}
		&::after{
			@extend %clear;
		}
		>li{
			transition: $transition;
			width: calc(33.33% - 24px);
			margin: 0 12px;
			float: left;
			@include media('mobile') {
				width: calc(50% - 32px);
				margin: 0 16px;
				margin-bottom: 24px;
			}
			@include rwd(650){
				width: calc(100% - 64px);
				margin: 0 32px;
				margin-bottom: 24px;
			}
			&::after{
				@extend %clear;
			}
			>a{
				display: inline-block;
				float: left;
				&:hover,
				&:focus{
					.img{
						img{
							transform: scale(1.2);
						}
					}
					h3{
						background-color: $minor-color;
					}
				}
			}
			.img{
				display: inline-block;
				width: 100%;
				float: left;
				overflow: hidden;
				img{
					width: 100%;
					float: left;
					transition: $transition;
				}
			}
			&:nth-child(2){
				h3{
					background-color: #979797;
				}
			}
		}
	}

}
/*------------------------------------------------------------------
footer class="fatfooter"
------------------------------------------------------------------*/
footer{
	width: 100%;
	background-color: #4D4D4D;
	margin-top: -2px;
}
.footer {
	@extend %clear;
	width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    background-color: #4D4D4D;
    color: white;
	&::after{
		@extend %clear;
	}
	> div{
		float: left;
		display: flex;
		align-items: center;
		height: 140px;
		@include rwd(760){
			height: auto;
			margin-bottom: 8px;
		}
	}
}
.footer_container{
	margin-right: 32px;
	margin-left: 20px;
	@include rwd(760){

		text-align: center;
		width: 100%;
		margin: 0 auto;
		margin-top: 24px;
		margin-bottom: 8px;
		a{
			margin: 0 auto;
		}
	}
}
.footer_tel{
	margin-right: 24px;
	@include rwd(760){
		width: 100%;
		padding-left: 0;
		margin: 0;
		img{
			width: 100%;
		}
		a{
			margin: 0 auto;
		}
	}
}
.footer_social{
	@include rwd(760){
		margin: 0 auto;
		width: 100%;
		height: 44px!important;
		display: block!important;
		text-align: center;
	}
	a{
		width: 38px;
		margin-right: 24px;
		@include rwd(760){
			display: inline-block;
			margin: 0 3px;
		}
		img{
			width: 100%;
		}
	}
}
.footer_copyright{
	width: calc(100% - 670px);
	font-size: 0.9em;
    float: right!important;
    text-align: right;
	display: block!important;
    justify-content: right;
	@include rwd(1050){
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px!important;
	}
	@include rwd(760){
		position: relative;
		padding-bottom: 16px;
		height: auto!important;
		text-align: justify;
		width: 100%;
		clear: both;
	}
	p{
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: right;
		float: right;
		text-align: left;
		padding-right: 20px;
		line-height: 1.6em;
		@include rwd(1050){
			float: left;
			padding-left: 24px;
			padding-bottom: 24px;
		}
		@include rwd(760){
			width: 80%;
			margin: 0 auto;
			float: initial;
			text-align: center;
			padding: 0;
		}
	}
}