div#IE7_BG{
	height: 100%;
	min-height:600px;
	width: 100%;
	background-image: url(../images/lightbox_bg.png);
	background-repeat: repeat;
	display: block;
	z-index:90000;
	position: fixed;
	top: 0px;
}

div#IE7_BG div#floater{
	height:50%;
	margin-bottom:-267px;
	width:100%; /* only for IE7 */
}
div#IE7_BG div#content{
	height:495px;
	width:630px;
	margin-right:auto;
	margin-left:auto;
	background-color: #FFF;
}
#closelightbox{}