/* line 1, ../sass/product_info.scss */
.content {
  width: 100%;
}

/* line 5, ../sass/product_info.scss */
.content_product {
  position: relative;
  background-color: #F8F5EE;
  width: 100%;
  height: 100vh;
}
/* line 11, ../sass/product_info.scss */
.content_product .content_product_img > div {
  display: block;
  position: absolute;
}
/* line 15, ../sass/product_info.scss */
.content_product .content_product_img .air-max-270-react-0JdRkV {
  width: 635px;
  height: 571px;
}
/* line 19, ../sass/product_info.scss */
.content_product .content_product_img .react {
  width: 222px;
  height: 52px;
}
/* line 23, ../sass/product_info.scss */
.content_product .content_product_img .nike_air_max {
  width: 622px;
  height: 465px;
}
