/*------------------------------------------------------------------
.block_main_slice{ //完整轉化夢想為現實
------------------------------------------------------------------*/
.block_main_slice{ //完整轉化夢想為現實
	position: relative;
	background-color: #FFF3DA;
	background-image: url('../images/homepage/bg_block_main_slice.png');
	background-repeat: repeat-x;
	background-size: contain;
	height: 100vh;
	max-height: 757px;
	overflow: hidden;
	min-height: 757px;
	@include rwd(1200){
		min-height: auto;
	}
	@include rwd(800){
		max-height: 600px;
		height: 600px;
	}
	@include rwd(500){
		max-height: 500px;
		height: 500px;
	}
	
	&::before,
	&::after{
		content: "";
		position: absolute;
		width: 100%;
		height: 0;
		padding-bottom: 28.8%;
		background-image: url('../images/homepage/main_slice/bg_main_slice.svg');
		// background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top left;
	}
	&::before{
		top: 0px;
		left: 0px;
		@include media('center'){
			top: 56px;
		}
		// background: linear-gradient(0deg, #FDFCFA 0%, #FFF3DA 100%);
	}
	&::after{
		bottom: 0px;
		right: 0px;
		transform: rotateZ(180deg);
		// background-position: bottom right;
		// background: linear-gradient(180deg, #FDFCFA 0%, #FFF3DA 100%);
	}

	.title_our_promise{
		@extend %hide-text;
		position: absolute;
		bottom: 0;
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
		// width: 297px;
		// height: 95px;
		background-image: url('../images/homepage/promise/bg_our_promise.svg');
		width: 220px;
		height: 70px;
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		@include media('mobile2'){
			width: 180px;
		}
	}
	.typed{
		top: 146px;
		position: absolute;
		z-index: 3;
		text-align: left;
		left: calc(50% - 215px);
		display: inline-block;
		border-left: 6px solid $major-color;
		padding-left: 12px;
		@include rwd(800){
			top: 92px;
		}
		@include rwd(550){
			font-size: 0.8em;
		}
		@include rwd(450){
			font-size: 0.7em;
			left: 0;
		}
		h2{
			font-size: 1.125em;
    		font-weight: 500;
			color: $major-color;
			letter-spacing: 2px;
		}
		p{
			font-size: 1.5em;
			font-weight: 700;
			color: $minor-color;
			letter-spacing: 2px;
			@include rwd(350){
				font-size: 1.2em;
			}
			&::after{
				content: "";
			}
			>u{
				float: left;
				display: block;
				height: 32px;
				line-height: 32px;
				text-decoration: none;
				margin-top: -1px;
			}
			>i{
				padding-left: 14px;
				margin-top: -13px;
				position: relative;
				font-style: normal;
				margin-left: 8px;
				// padding: 0 8px;
				word-break: keep-all;
				float: left;
    			display: block;
				@include rwd(350){
					margin-top: 4px;
				}
				&::before{
					content: "";
					position: absolute;
					z-index: 2;
					left: 0;
					bottom: -2px;
					
					width: 100%;
					height: 25px;
					background-color: $major-color;
				}
				&::after{
					content: "?";
					position: absolute;
					right: -24px;
					z-index: 2;
					font-size: 1.6em;
				}
				>span{
					// display: none;
					display: inline-block;
					position: relative;
					z-index: 4;
					font-size: 1.3em;
					background-color: $minor-color;
					width: 4px;
					margin-left: 8px;
					@extend %hide-text;
				}
			}
			
		}

		b{
			position: relative;
			z-index: 3;
			font-size: 1.41em;
			word-break: keep-all;
			// padding: 0 4px;
			@include rwd(350){
				font-size: 1em;
			}
		}
	}
	.center{
		width: 100%;
		max-width: 940px;
		position: relative;
		margin: 0 auto;
		top: 50%;
		// height: 100%;
		// top: 0;
		// transform: translateY(-100%);
		@include rwd(940){
			max-width: 100vw;
		}
	}
}

.swiper-container1 {
	height: 100%;
	padding-top: 99px;
	margin-left: 0vw;
	max-width: 2200px;
	margin: 0 auto;
	@include rwd(1900){
		width: 110vw;
		margin-left: -5vw;
	}
	@include rwd(1800){
		width: 120vw;
		margin-left: -10vw;
	}
	@include rwd(1700){
		width: 130vw;
		margin-left: -15vw;
	}
	@include rwd(1600){
		width: 140vw;
		margin-left: -20vw;
	}	
	@include rwd(1440){
		width: 150vw;
		margin-left: -25vw;
	}
	@include rwd(800){
		padding-top: 56px;
		height: 600px;
	}
	@include rwd(500){
		padding-top: 56px;
		height: 500px;
	}
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	// background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	transition: 300ms;
	// transform: scale(0.8);
	opacity: 0.5;
	// min-width: 300px;
	a{
		display: inline-block;
		border-radius: 12px;
		overflow: hidden;
		box-shadow: rgba(0,0,0,0.25)0 4px 30px;
		&::after{
			content: "";
			display: block;
			clear: both;
		}
	}
	img{
		float: left;
		width: 100%;
		transition: all .8s ease-out;
		max-width: 500px;
	}
}
.swiper-slide-active,.swiper-slide-duplicate-active{
	transform: scale(1.6);
	opacity: 1;
	position: relative;
	z-index: 9;
	// min-width: 300px
	@include rwd(400){
		transform: scale(1);
		min-width: 300px;
		margin-left: -55px;
	}
}
.jcarousel-control-prev,
.jcarousel-control-next,
.swiper-button-next,
.swiper-button-prev{
	@extend %hide-text;
	width: 48px;
	height: 48px;
	background-color: white;
	border-radius: 50px;
	box-shadow: rgba(0,0,0,0.1)0 5px 12px;
	background-image: url('../images/icon/icon_swiper_arrow_g.svg');
	background-size: contain;
	transition: $transition;
	z-index: 2;
	&:hover{
		background-color: #FFF3D9;
		background-image: url('../images/icon/icon_swiper_arrow_o.svg');
	}
	@include rwd(400){
		width: 38px;
		height: 38px;
	}
}
.swiper-button-prev{
	transform: rotateY(180deg);
}
.swiper-pagination-bullets{
	top: auto!important;
    bottom: 110px;
	transition: $transition;
	border-radius: 10px!important;
	@include rwd(800){
		bottom: 90px;
	}
}
.swiper-pagination-bullet{
	&:hover, &:focus{
		background-color: #FFD300;
	}
}
.swiper-pagination-bullet-active{
	width: 32px;
	background-color: #FFD300;
}