/*------------------------------------------------------------------
Reset
------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
body {line-height: 1;min-width: 300px;height: 100%;padding: 0; margin: 0;font-family: $base-font-style;font-size: 1em;}
ul, ul li{list-style: none;padding: 0;margin: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';ontent: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Safari、Chrome、IE9、Opera */::selection {background:$deep-gray;color: $white;.high_contrast &{background:#fefe00;;color:black;}}
/* Firefox */::-moz-selection {background:$major-color;color: $white;.high_contrast &{background:#fefe00;;color:black;}}
a{outline: none;}
a, a:active, a:hover{text-decoration: none;}

/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu,details,figcaption,figure,hgroup{display:block;}
audio, canvas, video{display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]){display: none;}
[hidden]{display: none;}

/*------------------------------------------------------------------
整個網站 首頁 內頁 介面樣式 header
------------------------------------------------------------------*/
a.hide{
	display: none!important;
}
html, body{
	background-color: $body-bgc;
	position: relative;
	min-width: 375px;
}
.sr-only {/*跳到主要內容區塊*/
	color: $white;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9998;
	padding:0;
	border-radius: $border-radius;
	white-space: nowrap;
	overflow: hidden;
	&:focus{
		background:$major-color;
		padding: 8px 10px;
		width: auto;
		height: auto;
	}
}
#wrapper{
	min-height: 100vh;
	position: relative;
}
/*------------------------------------------------------------------
選單
------------------------------------------------------------------*/

.head{
	position: fixed;
	height: 88px;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 99;
	box-shadow: rgba(0,0,0,0.35)2px 2px 4px;
	backdrop-filter: blur(10px);
	@include media('mobile'){
		height: $pad-menu-hight;
	}
	@include media('phone'){
		height: 48px;
	}
	.head_menu{
		@extend %center;
		padding: 0 32px;
		@include media('mobile'){
			height: 66px;
			padding: 0;
		}
		@include media('phone'){
			height: 48px;
		}
		.head_menu_brand{
			display: inline-block;
			height: 88px;
			float: left;
			@include media('mobile'){
				height: 66px;
				padding: 0;
				float: none;
				display: block;
				text-align: center;
			}
			@include media('phone'){
				height: 48px;
			}
			.logo{
				display: block;
				@extend %hide-text;
				width: 401px;
				height: 88px;		
				background-image: url(../images/logo.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				@include media('mobile'){
					height: 66px;
    				margin: 0 auto;
				}
				@include media('phone'){
					height: 48px;
				}
				@media (max-width: 600px){
					background-size: 80%;
				}
				@media (max-width: 500px){
					background-image: url(../images/logo_mobile.png);
					background-size: 50%;
				}
			}
		}
	}
}

.head_menu_nav{
	@include media('mobile'){
		height: 180px;
		display: none;
	}
	#accesskey_M{
		opacity: 0;
		@include media('mobile'){
			display: none;
		}
	}
	.head_menu_nav_main{
		float: right;
		height: 88px;
		@include media('mobile'){
			height: 180px;
			width: 100%;
			background-color: rgba(0,0,0,0.85);
			backdrop-filter: blur(10px);
		}
		li{
			height: 88px;
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 16px;
			@include media('mobile'){
				width: 100%;
				margin: 0;
				height: 44px;
				border-bottom:#000 solid 1px;
			}
			&::after{
				content: "";
				display: block;
				clear: both;
			}
			a{
				color: white;
				text-align: center;
				display: block;
				font-size: 1.2em;
				line-height: 1.4em;
				@include media('mobile'){
					width: 100%;
					text-align: center;
				}
				&:hover ,&:focus{
					color: $hover-color;
				}

				span{
					display: block;
					width: 100%;
					text-align: center;
					@include media('mobile'){
						display: inline-block;
						width: auto;
					}
				}
				i{
					display: block;
					width: 100%;
					text-align: center;
					font-family: 'Open Sans';
					font-weight: lighter;
					font-size: 0.9em;
					letter-spacing: 2px;
					@include media('mobile'){
						display: inline-block;
						width: auto;
						padding-left: 10px;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

.open_nav{
	display: block;
	position: absolute;
	z-index: 99999;
	left: 10px;top:8px;
	width: 45px;
	height: 45px;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	cursor: pointer;
	border-radius: 3px;
	@media screen and (min-width: 936px){
		display: none!important;
	}
	@include media('phone'){
		top: 2px;
	}
	h2{
		@extend %hide-text;
		height: 0;
		opacity: 0;
	}
	b{
		position: absolute;
		top: 35%;
		right: 110%;
		font-weight: normal;
		font-size:  0.75em;
		display: none;
	}
	.icon{
	transition-duration: 0.2s;
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #FFF;
	top: 22px;
	left: 8px;
	cursor: pointer;
	&:before, &:after{
		transition-duration: 0.5s;
		background-color: #FFF;
		position: absolute;
		content: "";
		width: 30px;
		height: 2px;
		left: 0px;
	}
	&:before{
		top: -10px;
		height: 2px;
	}    
	&:after{
		top: 10px;
	}
	}
	&:focus,&:hover{
	// background-color: $hover-color;
		.icon{
			background-color: $hover-color;
			&:before, &:after{
			background-color: $hover-color;
			}
		}
	}
	&.open{
		.icon{
		background-color: transparent;    
		&:before, &:after{
			top: 0;
		}    
		&:before{
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			height: 2px;
		}      
		&:after{
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
		}
	}
}

@-moz-keyframes loading {
	0%, 100% {
	-moz-transform: scale(1) rotateZ(0deg);
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
	}

	26% {
	-moz-transform: scale(1.1) rotateZ(12deg);
	transform: scale(1.1) rotateZ(12deg);
	opacity: .2;
	}

	76% {
	-moz-transform: scale(0.8) rotateZ(-8deg);
	transform: scale(0.8) rotateZ(-8deg);
	opacity: .6;
	}
}
@-webkit-keyframes loading {
	0%, 100% {
	-webkit-transform: scale(1) rotateZ(0deg);
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
	}

	26% {
	-webkit-transform: scale(1.1) rotateZ(12deg);
	transform: scale(1.1) rotateZ(12deg);
	opacity: .2;
	}

	76% {
	-webkit-transform: scale(0.8) rotateZ(-8deg);
	transform: scale(0.8) rotateZ(-8deg);
	opacity: .6;
	}
}
@keyframes loading {
	0%, 100% {
	-moz-transform: scale(1) rotateZ(0deg);
	-ms-transform: scale(1) rotateZ(0deg);
	-webkit-transform: scale(1) rotateZ(0deg);
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
	}

	26% {
	-moz-transform: scale(1.1) rotateZ(12deg);
	-ms-transform: scale(1.1) rotateZ(12deg);
	-webkit-transform: scale(1.1) rotateZ(12deg);
	transform: scale(1.1) rotateZ(12deg);
	opacity: .2;
	}

	76% {
	-moz-transform: scale(0.8) rotateZ(-8deg);
	-ms-transform: scale(0.8) rotateZ(-8deg);
	-webkit-transform: scale(0.8) rotateZ(-8deg);
	transform: scale(0.8) rotateZ(-8deg);
	opacity: .6;
	}
}
/*------------------------------------------------------------------
整個網站 首頁 內頁 介面樣式 footer#fatfooter
------------------------------------------------------------------*/
.footer{
	display: block;
	width: 100%;
	
	background-image: url(../images/bg_master_Vision.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	clear: both;
	overflow: hidden;
	.footer_info{
		display: block;
		width: 100%;
		background-color: rgba(0,0,0,0.85);
		backdrop-filter: blur(10px);
		color: $white;
		text-align: center;
		height: 80px;
		line-height: 80px;
		@include media('mobile'){
			font-size: 0.9em;
			height: 66px;
			line-height: 66px;
		}
		@include media('phone'){
			font-size: 0.8em;
			height: 48px;
			line-height: 48px;
		}
	}		
}

#gotop{
	background-color: $major-color;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
	padding: 8px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 401;
	transform-origin: left;
	transform: skewY(-20deg);
	
	&:hover{
		background-color: $hover-color;
	}
	span{
		display: block;
		// transform-origin: left;
		transform: skewY(20deg);
		height: 44px;
		width: 44px;
		background-image: url(../images/gotop.png);
		background-repeat: no-repeat;
		background-position: center;
		@extend %hide-text;
		@include media('phone'){
			transform: scale(0.8) skewY(20deg);
			width: 28px;
			height: 32px;
		}
	}
}

#formbutton-button{
	display: none!important;
}