@charset "UTF-8";
/* 修正粗體 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(微軟正黑體);
}
@font-face {
  font-family: TradeGothicForNike;
  src: url("../Images/icon-font/TradeGothicForNike365.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("../Images/icon-font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("../Images/icon-font/OpenSans-Bold.ttf");
}
/*$font-size-xs: .8em;
$font-size-s: .9em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.4em;
$font-size-xxl: 1.6em;
$font-size-xxxl: 1.75em;*/
/* line 548, ../sass/_base-function.scss */
.head .head_navigation .head_navigation_link li a, .head_menu .head_menu_brand .logo h1, .head_menu .head_menu_nav .head_menu_nav_shopping li a, .footer_fatfooter .footer_fatfooter_logo a, .footer_fatfooter .footer_fatfooter_Community li a, .content_product .content_product_img_info > section ul li, .slick-arrow.slick-next, .slick-arrow.slick-prev {
  font: 0/0 a;
  color: transparent;
}

/* line 634, ../sass/_base-function.scss */
.head .head_navigation, .head_menu, .footer_fatfooter, .footer_info, .content_product .content_product_img, .content_product .content_product_img_info, .content_media_block, .content_maybe_like {
  margin: 0 auto;
  max-width: 1280px;
}

/* line 1059, ../sass/_base-function.scss */
.head .head_navigation .head_navigation_link li a, .head_menu .head_menu_brand, .head_menu .head_menu_nav .head_menu_nav_shopping li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 1064, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite, .content_product .content_product_img_info > footer a.buy {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
/* line 1073, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:focus, .content_product .content_product_img_info > footer a.buy:focus {
  border: none;
  outline: none;
}
/* line 1077, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite span, .content_product .content_product_img_info > footer a.buy span {
  vertical-align: middle;
}
/* line 1080, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite::after, .content_product .content_product_img_info > footer a.buy::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 60px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
/* line 1094, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:focus, .content_product .content_product_img_info > footer a.buy:focus, .content_product .content_product_img_info > footer a.favourite:hover, .content_product .content_product_img_info > footer a.buy:hover {
  background: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #9A7F53;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
  border: solid #9A7F53 1px;
}
/* line 1108, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:focus:after, .content_product .content_product_img_info > footer a.buy:focus:after, .content_product .content_product_img_info > footer a.favourite:hover:after, .content_product .content_product_img_info > footer a.buy:hover:after {
  /*水波*/
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 1157, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite, .content_product .content_product_img_info > footer a.buy {
  display: inline-block;
  padding: 18.5px 16px;
  border: 0 !important;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: #262626;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #9A7F53;
  transition: 150ms;
  border-radius: 5px;
  font-weight: bold;
}
/* line 1176, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:link, .content_product .content_product_img_info > footer a.buy:link {
  color: #262626;
}
/* line 1180, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:visited, .content_product .content_product_img_info > footer a.buy:visited {
  color: #262626;
}
/* line 1184, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:hover, .content_product .content_product_img_info > footer a.buy:hover, .content_product .content_product_img_info > footer a.favourite:focus, .content_product .content_product_img_info > footer a.buy:focus {
  color: #ffffff;
  border-color: #ff6f61;
  background-color: #ff6f61;
}
/* line 1190, ../sass/_base-function.scss */
.content_product .content_product_img_info > footer a.favourite:active, .content_product .content_product_img_info > footer a.buy:active {
  color: #262626;
}

/* line 1363, ../sass/_base-function.scss */
.head .head_navigation .head_navigation_link li a::before, .head .head_navigation .head_navigation_log li a.location::before, .head_menu .head_menu_brand .logo h1, .head_menu .head_menu_nav .head_menu_nav_shopping li a::before, .footer_fatfooter .footer_fatfooter_logo a, .footer_fatfooter .footer_fatfooter_Community li a, .content_product .content_product_img > div, .content_product .content_product_img_info > section select, .content_product .content_product_img_info > footer a.favourite::before, .content_media_block .content_media_block_model, .slick-arrow.slick-next, .slick-arrow.slick-prev {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------------
Reset HTML5
------------------------------------------------------------------*/
/* line 4, ../sass/_base-layout.scss */
article, aside, dialog, footer, header, section, footer, nav, figure, menu, details, figcaption, figure, hgroup {
  display: block;
}

/* line 5, ../sass/_base-layout.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 6, ../sass/_base-layout.scss */
audio:not([controls]) {
  display: none;
}

/* line 7, ../sass/_base-layout.scss */
[hidden] {
  display: none;
}

/* line 8, ../sass/_base-layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/_base-layout.scss */
html, body {
  min-width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體","Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
}

/* Safari、Chrome、IE9、Opera */
/* line 10, ../sass/_base-layout.scss */
::selection {
  background: #262626;
  color: #ffffff;
}

/* Firefox */
/* line 11, ../sass/_base-layout.scss */
::-moz-selection {
  background: #262626;
  color: #ffffff;
}

/* line 12, ../sass/_base-layout.scss */
a, a:active, a:hover {
  text-decoration: none;
  outline: none;
}

/* line 13, ../sass/_base-layout.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------
跳到主要內容區塊
------------------------------------------------------------------*/
/* line 18, ../sass/_base-layout.scss */
.sr-only {
  /*跳到主要內容區塊*/
  color: #ffffff;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9998;
  padding: 0;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 30, ../sass/_base-layout.scss */
.sr-only:focus {
  background: #9A7F53;
  padding: 8px 10px;
  width: auto;
  height: auto;
}

/*------------------------------------------------------------------
#wrapper
------------------------------------------------------------------*/
/* line 40, ../sass/_base-layout.scss */
.wrapper {
  color: #262626;
  min-height: 100vh;
  position: relative;
  background-image: url('/images/section2/bg_section2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*------------------------------------------------------------------
header class="head"
------------------------------------------------------------------*/
/* line 52, ../sass/_base-layout.scss */
.head {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(248, 245, 238, 0.8);
}
/* line 57, ../sass/_base-layout.scss */
.head::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 32px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
/* line 66, ../sass/_base-layout.scss */
.head .head_navigation {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  padding: 0 40px;
}
/* line 74, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 40px;
}
/* line 79, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link::after {
  content: "";
  display: block;
  clear: both;
}
/* line 84, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li {
  display: inline-block;
  float: left;
}
/* line 88, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a {
  text-align: center;
  height: 32px;
  opacity: 0.4;
}
/* line 94, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a::before {
  content: "";
  display: block;
  margin: 0 auto;
}
/* line 100, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a.nike_plus {
  width: 64px;
}
/* line 102, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a.nike_plus::before {
  width: 27px;
  height: 9px;
  background-image: url('/images/icon-pic/nike_plus.png');
}
/* line 109, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a.jordan_logo {
  width: 40px;
}
/* line 111, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_link li a.jordan_logo::before {
  width: 18px;
  height: 17px;
  background-image: url('/images/icon-pic/jordan_logo.png');
}
/* line 122, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log {
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 40px;
}
/* line 128, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log li {
  display: inline-block;
  margin: 0 8px;
}
/* line 131, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log li a {
  line-height: 32px;
  color: #262626;
}
/* line 134, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log li a.location {
  padding-left: 14px;
  position: relative;
}
/* line 137, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log li a.location::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 6px);
  background-image: url('/images/icon-pic/location.png');
}
/* line 150, ../sass/_base-layout.scss */
.head .head_navigation .head_navigation_log li a:hover, .head .head_navigation .head_navigation_log li a:focus {
  color: #9A7F53;
}

/* line 160, ../sass/_base-layout.scss */
.head_menu {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 0 40px;
}
/* line 166, ../sass/_base-layout.scss */
.head_menu .head_menu_brand {
  position: absolute;
  z-index: 2;
  width: 140px;
}
/* line 171, ../sass/_base-layout.scss */
.head_menu .head_menu_brand .logo {
  display: inline-block;
}
/* line 173, ../sass/_base-layout.scss */
.head_menu .head_menu_brand .logo h1 {
  display: block;
  width: 92px;
  height: 37px;
  background-image: url('/images/icon-pic/logo.png');
}
/* line 185, ../sass/_base-layout.scss */
.head_menu .head_menu_nav {
  position: relative;
  padding-left: 140px;
}
/* line 188, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_main {
  display: inline-block;
  height: 56px;
  line-height: 56px;
}
/* line 192, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_main li {
  display: inline-block;
  margin: 0 16px;
}
/* line 195, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_main li a {
  color: #262626;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 199, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_main li a span {
  font-family: TradeGothicForNike, OpenSans, "sans-serif";
}
/* line 203, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_main li a:hover, .head_menu .head_menu_nav .head_menu_nav_main li a:focus {
  color: #9A7F53;
}
/* line 209, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
/* line 214, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping::after {
  content: "";
  display: block;
  clear: both;
}
/* line 219, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li {
  display: inline-block;
  float: left;
}
/* line 223, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a {
  text-align: center;
  height: 44px;
}
/* line 228, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto;
}
/* line 236, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.search {
  width: 44px;
}
/* line 238, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.search::before {
  background-image: url('/images/icon-pic/seach.png');
}
/* line 242, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.search:hover::before, .head_menu .head_menu_nav .head_menu_nav_shopping li a.search:focus::before {
  background-image: url('/images/icon-pic/seach_o.png');
}
/* line 247, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.shopping_cart {
  width: 44px;
}
/* line 249, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.shopping_cart::before {
  background-image: url('/images/icon-pic/shopping.png');
}
/* line 253, ../sass/_base-layout.scss */
.head_menu .head_menu_nav .head_menu_nav_shopping li a.shopping_cart:hover::before, .head_menu .head_menu_nav .head_menu_nav_shopping li a.shopping_cart:focus::before {
  background-image: url('/images/icon-pic/shopping_o.png');
}

/*------------------------------------------------------------------
footer class="fatfooter"
------------------------------------------------------------------*/
/* line 270, ../sass/_base-layout.scss */
.footer {
  width: 100%;
  background-color: #000;
  clear: both;
  position: relative;
  z-index: 5;
}

/* line 277, ../sass/_base-layout.scss */
.footer_fatfooter {
  position: relative;
  height: 320px;
  box-sizing: border-box;
  padding-top: 44px;
  max-width: 1200px;
}
/* line 284, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_logo {
  position: absolute;
  top: 44px;
  left: 0;
  display: block;
}
/* line 289, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_logo a {
  display: block;
  width: 92px;
  height: 37px;
  background-image: url('/images/icon-pic/logo_w.png');
}
/* line 299, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu {
  margin-left: 208px;
}
/* line 301, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu::after {
  content: "";
  display: block;
  clear: both;
}
/* line 306, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li {
  display: block;
  clear: both;
  margin-bottom: 8px;
}
/* line 310, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li > a {
  color: #ffffff;
  font-weight: bold;
}
/* line 314, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li > ol {
  margin-top: 8px;
  font-size: 1.1em;
}
/* line 317, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li > ol > li {
  display: block;
  margin-bottom: 8px;
}
/* line 320, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li > ol > li > a {
  color: #b2b2b2;
  font-weight: bold;
}
/* line 327, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li:nth-child(4) {
  position: absolute;
  z-index: 1;
  top: 44px;
  left: 416px;
}
/* line 333, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_menu > li:nth-child(5) {
  position: absolute;
  z-index: 1;
  top: 44px;
  left: 624px;
}
/* line 342, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community {
  display: block;
  position: absolute;
  right: 0;
  top: 44px;
}
/* line 347, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community::after {
  content: "";
  display: block;
  clear: both;
}
/* line 352, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li {
  display: inline-block;
  float: left;
  margin: 0 4px;
}
/* line 356, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  border: #ffffff solid 2px;
  border-radius: 32px;
}
/* line 365, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a.twitter {
  background-image: url('/images/icon-pic/twitter.png');
}
/* line 368, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a.facebook {
  background-image: url('/images/icon-pic/facebook.png');
}
/* line 371, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a.youtube {
  background-image: url('/images/icon-pic/you.png');
}
/* line 374, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a.instagram {
  background-image: url('/images/icon-pic/ig.png');
}
/* line 378, ../sass/_base-layout.scss */
.footer_fatfooter .footer_fatfooter_Community li a:hover, .footer_fatfooter .footer_fatfooter_Community li a:focus {
  opacity: 1;
}

/* line 386, ../sass/_base-layout.scss */
.footer_info {
  position: relative;
  max-width: 1200px;
  line-height: 44px;
}
/* line 391, ../sass/_base-layout.scss */
.footer_info .copyright {
  color: #b2b2b2;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: OpenSans, "微軟正黑體修正", "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
}
/* line 398, ../sass/_base-layout.scss */
.footer_info .Community {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 402, ../sass/_base-layout.scss */
.footer_info .Community::after {
  content: "";
  display: block;
  clear: both;
}
/* line 407, ../sass/_base-layout.scss */
.footer_info .Community li {
  display: inline-block;
  margin: 0 4px;
  float: left;
}
/* line 412, ../sass/_base-layout.scss */
.footer_info .Community li a {
  color: #b2b2b2;
}
/* line 415, ../sass/_base-layout.scss */
.footer_info .Community li a:hover, .footer_info .Community li a:focus {
  color: #FFC200;
}

/* line 216, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-facebook, .icon-pic-icon_point_right, .icon-pic-ig, .icon-pic-jordan_logo, .icon-pic-location, .icon-pic-login, .icon-pic-logo, .icon-pic-logo_w, .icon-pic-love, .icon-pic-love_o, .icon-pic-next, .icon-pic-next_o, .icon-pic-nike_plus, .icon-pic-play, .icon-pic-prev, .icon-pic-prev_o, .icon-pic-seach, .icon-pic-seach_o, .icon-pic-shopping, .icon-pic-shopping_o, .icon-pic-twitter, .icon-pic-you {
  background-image: url('/images/icon-pic-s4b5d15a5ff.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-facebook {
  background-position: 0 0;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon_point_right {
  background-position: 0 -100px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-ig {
  background-position: 0 -107px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-jordan_logo {
  background-position: 0 -207px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-location {
  background-position: 0 -307px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-login {
  background-position: 0 -407px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-logo {
  background-position: 0 -507px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-logo_w {
  background-position: 0 -581px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-love {
  background-position: 0 -655px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-love_o {
  background-position: 0 -755px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-next {
  background-position: 0 -855px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-next_o {
  background-position: 0 -935px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-nike_plus {
  background-position: 0 -1015px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-play {
  background-position: 0 -1042px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-prev {
  background-position: 0 -1142px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-prev_o {
  background-position: 0 -1222px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-seach {
  background-position: 0 -1302px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-seach_o {
  background-position: 0 -1402px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-shopping {
  background-position: 0 -1502px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-shopping_o {
  background-position: 0 -1602px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-twitter {
  background-position: 0 -1702px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-you {
  background-position: 0 -1802px;
}

/* line 1, ../sass/_product_info.scss */
.content {
  width: 100%;
}

/* line 5, ../sass/_product_info.scss */
.content_product {
  position: relative;
  background-color: #f8f5ee;
  width: 100%;
  height: 100vh;
  padding-top: 88px;
  min-height: 600px;
  background-image: url('/images/section1/bg_section11.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}
/* line 15, ../sass/_product_info.scss */
.content_product .content_product_img {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 800px;
}
/* line 23, ../sass/_product_info.scss */
.content_product .content_product_img > div {
  display: block;
  position: fixed;
  top: 0%;
}
/* line 30, ../sass/_product_info.scss */
.content_product .content_product_img .air-max-270-react-0JdRkV {
  width: 635px;
  height: 571px;
  margin-left: 160px;
  margin-top: 190px;
  z-index: 4;
  top: 0%;
  background-image: url('/images/section1/air-max-270-react-0JdRkV.png');
}
/* line 39, ../sass/_product_info.scss */
.content_product .content_product_img .react {
  width: 222px;
  height: 52px;
  margin-top: 640px;
  margin-left: 570px;
  z-index: 3;
  top: 0%;
  background-image: url('/images/section1/270REACT.png');
}
/* line 48, ../sass/_product_info.scss */
.content_product .content_product_img .nike_air_max {
  width: 622px;
  height: 465px;
  margin-left: 65px;
  margin-top: 200px;
  z-index: 2;
  top: 0%;
  background-image: url('/images/section1/nike_air_max.png');
}
/* line 59, ../sass/_product_info.scss */
.content_product .content_product_img_info {
  width: 33.333%;
  position: absolute;
  z-index: 2;
  top: calc(50% - 294px);
  top: 106px;
  right: 0;
  box-sizing: border-box;
  padding: 0 40px 0 20px;
}
/* line 70, ../sass/_product_info.scss */
.content_product .content_product_img_info > header {
  position: relative;
  width: 100%;
  height: 136px;
}
/* line 74, ../sass/_product_info.scss */
.content_product .content_product_img_info > header h2 {
  color: #9A7F53;
  font-family: OpenSansBold, "sans-serif";
  font-size: 2.4em;
  line-height: 1em;
  padding-top: 32px;
}
/* line 81, ../sass/_product_info.scss */
.content_product .content_product_img_info > header h2::after {
  content: "";
  margin-top: 12px;
  z-index: 1;
  display: block;
  width: 64px;
  height: 4px;
  background-color: #FFC200;
}
/* line 92, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li {
  position: absolute;
  z-index: 1;
  color: #262626;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 99, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li span {
  display: none;
}
/* line 102, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li.style_no {
  top: 0;
  font-family: TradeGothicForNike, OpenSans, "sans-serif";
}
/* line 105, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li.style_no span {
  display: inline-block;
  font-family: OpenSans, "微軟正黑體修正", "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
}
/* line 112, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li.type {
  top: 0;
  right: 0;
}
/* line 117, ../sass/_product_info.scss */
.content_product .content_product_img_info > header ul li.price {
  bottom: 0;
  right: 0;
  font-family: OpenSansBold, "sans-serif";
}
/* line 125, ../sass/_product_info.scss */
.content_product .content_product_img_info > section {
  clear: both;
  margin-bottom: 32px;
}
/* line 128, ../sass/_product_info.scss */
.content_product .content_product_img_info > section p {
  font-size: 1.05em;
  line-height: 1.8em;
  margin-top: 16px;
  text-align: justify;
}
/* line 134, ../sass/_product_info.scss */
.content_product .content_product_img_info > section a {
  color: #9A7F53;
  text-decoration: underline;
  float: right;
  font-weight: bold;
  line-height: 44px;
}
/* line 140, ../sass/_product_info.scss */
.content_product .content_product_img_info > section a:hover, .content_product .content_product_img_info > section a:focus {
  color: #FFC200;
}
/* line 144, ../sass/_product_info.scss */
.content_product .content_product_img_info > section .size,
.content_product .content_product_img_info > section .color {
  position: relative;
  padding-left: 104px;
  margin-bottom: 8px;
}
/* line 149, ../sass/_product_info.scss */
.content_product .content_product_img_info > section .size b,
.content_product .content_product_img_info > section .color b {
  position: absolute;
  z-index: 1;
  left: 0;
  line-height: 44px;
  font-weight: bold;
  font-size: 1.15em;
}
/* line 158, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul {
  height: 44px;
}
/* line 160, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul::after {
  content: "";
  display: block;
  clear: both;
}
/* line 165, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul li {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: #b2b2b2 solid 2px;
  float: left;
  margin-top: 4px;
  margin-right: 12px;
}
/* line 176, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul li.black {
  background-color: #262626;
}
/* line 180, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul li.anthracite {
  background-color: #453F3F;
}
/* line 184, ../sass/_product_info.scss */
.content_product .content_product_img_info > section ul li.white {
  background-color: #ffffff;
}
/* line 189, ../sass/_product_info.scss */
.content_product .content_product_img_info > section select {
  line-height: 44px;
  font-size: 1em;
  padding-left: 10px;
  font-weight: bold;
  width: 136px;
  height: 44px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-image: url('/images/icon-pic/icon_point_right.png');
  padding-right: 26px;
  background-size: initial;
  border-color: #b2b2b2;
  border-radius: 5px;
  background-position: center right;
}
/* line 209, ../sass/_product_info.scss */
.content_product .content_product_img_info > footer a.favourite {
  width: 64px;
  height: 56px;
  float: left;
  background-color: #FFF;
  position: relative;
  border-radius: 5px;
  border: #b2b2b2 solid 1px !important;
  padding: 0;
  font: 0/0 a;
  color: transparent;
  text-align: center;
}
/* line 223, ../sass/_product_info.scss */
.content_product .content_product_img_info > footer a.favourite::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-image: url('/images/icon-pic/love.png');
  margin: 6px auto;
}
/* line 233, ../sass/_product_info.scss */
.content_product .content_product_img_info > footer a.favourite:hover, .content_product .content_product_img_info > footer a.favourite:focus {
  background-color: #FFF;
}
/* line 235, ../sass/_product_info.scss */
.content_product .content_product_img_info > footer a.favourite:hover::before, .content_product .content_product_img_info > footer a.favourite:focus::before {
  background-image: url('/images/icon-pic/love_o.png');
}
/* line 240, ../sass/_product_info.scss */
.content_product .content_product_img_info > footer a.buy {
  position: relative;
  width: 78%;
  float: right;
  font-weight: bold;
  border: #FFC200 solid 1px;
  background-color: #FFC200;
}

/* line 255, ../sass/_product_info.scss */
.content_media {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/section1/bg_section12.png');
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 264, ../sass/_product_info.scss */
.content_media_block {
  position: relative;
  /*
  .content_media_block_video{
      clear: both;
      width: 100%;
      margin-top: 1020px;
      text-align: center;
      padding-bottom: 72px;
      &::after{
          content: "";
          display: block;
          clear: both;
      }
      ul{
          display: inline-block;
          margin: 0 auto;
      }
      li{
          display: inline-block;
          float: left;
          max-width: 376px;
          box-shadow: rgba(0,0,0,0.2) -4px 10px 10px;
          margin: 0 20px;
          a{
              height: 0;
              padding-bottom: 56.3829%;
              display: block;
              overflow: hidden;
              border-radius: 5px;
              img{
                  width: 100%;
                  float: left;
              }
          }
      }
  }
  */
}
/* line 269, ../sass/_product_info.scss */
.content_media_block h3 {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: normal;
  position: absolute;
  z-index: 5;
  left: 54px;
  top: -88px;
}
/* line 278, ../sass/_product_info.scss */
.content_media_block .content_media_block_model {
  position: fixed;
  width: 1049px;
  height: 951px;
  z-index: 3;
  margin-top: 1620px;
  background-image: url('/images/section2/model_man.png');
}
/* line 287, ../sass/_product_info.scss */
.content_media_block .content_media_block_album {
  position: absolute;
  right: 0;
  top: -780px;
  z-index: 5;
}
/* line 293, ../sass/_product_info.scss */
.content_media_block .content_media_block_album ul {
  position: relative;
}
/* line 295, ../sass/_product_info.scss */
.content_media_block .content_media_block_album ul li {
  display: block;
  max-width: 232px;
  height: 0;
  padding-bottom: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 10px 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 304, ../sass/_product_info.scss */
.content_media_block .content_media_block_album ul li img {
  width: 100%;
}
/* line 307, ../sass/_product_info.scss */
.content_media_block .content_media_block_album ul li:nth-child(1) {
  position: absolute;
  left: -240px;
  top: 120px;
}
/* line 352, ../sass/_product_info.scss */
.content_media_block .content_media_block_video {
  clear: both;
  width: 100%;
  margin-top: 900px;
  text-align: center;
  padding: 0 40px;
  padding-bottom: 72px;
  position: relative;
  z-index: 4;
}
/* line 362, ../sass/_product_info.scss */
.content_media_block .content_media_block_video a {
  height: 0;
  padding-bottom: 56.3829%;
  display: block;
  overflow: hidden;
  border-radius: 5px;
}
/* line 368, ../sass/_product_info.scss */
.content_media_block .content_media_block_video a img {
  width: 100%;
  float: left;
}
/* line 373, ../sass/_product_info.scss */
.content_media_block .content_media_block_video ul {
  margin: 0 auto;
}
/* line 375, ../sass/_product_info.scss */
.content_media_block .content_media_block_video ul::after {
  content: "";
  display: block;
  clear: both;
}
/* line 380, ../sass/_product_info.scss */
.content_media_block .content_media_block_video ul > li {
  display: inline-block;
  max-width: 272px;
  max-width: 269px;
  position: relative;
  margin: 0 20px;
}

/* line 397, ../sass/_product_info.scss */
.content_maybe {
  background-color: #262626;
  padding-top: 112px;
  position: relative;
  z-index: 5;
}

/* line 406, ../sass/_product_info.scss */
.content_maybe_like h3 {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: normal;
  margin-left: 52px;
}
/* line 412, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list {
  text-align: center;
  padding: 44px 40px 72px 40px;
}
/* line 415, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list a {
  color: #ffffff;
}
/* line 418, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ul {
  margin: 0 auto;
}
/* line 420, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ul::after {
  content: "";
  display: block;
  clear: both;
}
/* line 425, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ul > li {
  display: inline-block;
  max-width: 272px;
  max-width: 269px;
  position: relative;
  margin: 0 20px;
}
/* line 432, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ul > li img {
  width: 100%;
  float: left;
}
/* line 438, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol {
  position: relative;
}
/* line 440, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li {
  position: relative;
  margin: 0;
  line-height: 28px;
}
/* line 444, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li span {
  display: none;
}
/* line 447, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li.img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 451, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li.img img {
  width: 100%;
  float: left;
}
/* line 456, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li.style_no {
  font-weight: bold;
  font-family: OpenSansBold, "sans-serif";
  text-align: left;
}
/* line 461, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li.type {
  font-weight: bold;
  font-family: OpenSans, "微軟正黑體修正", "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
  text-align: left;
}
/* line 466, ../sass/_product_info.scss */
.content_maybe_like .content_maybe_like_list ol > li.price {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  font-weight: normal;
  font-family: OpenSans, "微軟正黑體修正", "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
  text-align: right;
}

/* Slider */
/* line 3, ../sass/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../sass/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, ../sass/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../sass/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../sass/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../sass/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../sass/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, ../sass/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 68, ../sass/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 71, ../sass/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 74, ../sass/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 80, ../sass/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 84, ../sass/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
  margin: 0 16px;
}
/* line 90, ../sass/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 94, ../sass/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 100, ../sass/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 104, ../sass/_slick.scss */
.slick-arrow {
  background-color: transparent;
  border: #FFC200 solid 2px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
}
/* line 112, ../sass/_slick.scss */
.slick-arrow.slick-next, .slick-arrow.slick-prev {
  position: absolute;
  z-index: 5;
  top: calc(50% - 20px);
}
/* line 119, ../sass/_slick.scss */
.slick-arrow.slick-next:hover, .slick-arrow.slick-next:focus, .slick-arrow.slick-prev:hover, .slick-arrow.slick-prev:focus {
  background-color: #ff6f61;
  border-color: #ff6f61;
}
/* line 124, ../sass/_slick.scss */
.slick-arrow.slick-prev {
  left: -40px;
  background-image: url('/images/icon-pic/prev.png');
}
/* line 127, ../sass/_slick.scss */
.slick-arrow.slick-prev:hover, .slick-arrow.slick-prev:focus {
  background-image: url('/images/icon-pic/prev_o.png');
}
/* line 131, ../sass/_slick.scss */
.slick-arrow.slick-next {
  right: -40px;
  background-image: url('/images/icon-pic/next.png');
}
/* line 134, ../sass/_slick.scss */
.slick-arrow.slick-next:hover, .slick-arrow.slick-next:focus {
  background-image: url('/images/icon-pic/next_o.png');
}
