.content{
    width: 100%;
}
//產品資料================================================================
.content_product{ //section1
    position: relative;
    background-color: #f8f5ee;
    width: 100%;
    height: 100vh;
    padding-top: 88px;
    min-height: 600px;
    background-image: image-url('section1/bg_section11.png', false, false);
    background-position: center bottom;
    background-repeat: no-repeat;
    .content_product_img{
        @extend %center;
        position: relative;
        height: 100vh;
        width: 100%;
        min-height: 600px;
        max-height: 800px;
        //position: relative;
        > div{
            display: block;
            //position: absolute;
            @extend %bg-cover;
            position: fixed;
            top: 0%;
        }
        .air-max-270-react-0JdRkV{
            width: 635px;
            height: 571px;
            margin-left: 160px;
            margin-top: 190px;
            z-index: 4;
            top: 0%;
            background-image: image-url('section1/air-max-270-react-0JdRkV.png', false, false);
        }
        .react{
            width: 222px;
            height: 52px;
            margin-top: 640px;
            margin-left: 570px;
            z-index: 3;
            top: 0%;
            background-image: image-url('section1/270REACT.png', false, false);
        }
        .nike_air_max{
            width: 622px;
            height: 465px;
            margin-left: 65px;
            margin-top: 200px;
            z-index: 2;
            top: 0%;
            background-image: image-url('section1/nike_air_max.png', false, false);
        }
    }

    .content_product_img_info{
        @extend %center;
        width: 33.333%;
        position: absolute;
        z-index: 2;
        top: calc(50% - 294px);
        top: 106px;
        right: 0;
        box-sizing: border-box;
        padding: 0 40px 0 20px;
        //margin-top: 48px;
        > header{
            position: relative;
            width: 100%;
            height: 136px;
            h2{
                color: $major-color;
                font-family: $number-font-style;
                font-size: 2.4em;
                line-height: 1em;
                padding-top: 32px;

                &::after{
                    content: "";
                    margin-top: 12px;
                    z-index: 1;
                    display: block;
                    width: 64px;
                    height: 4px;
                    background-color: $minor-color;
                }
            }
            ul{
                li{
                    position: absolute;
                    z-index: 1;
                    color: $black;
                    font-weight: bold;
                    font-size: 1.1em;

                    span{
                        display: none;
                    }
                    &.style_no {
                        top: 0;
                        font-family: $entitle-font-style;
                        span{
                            display: inline-block;
                            font-family: $base-font-style;

                        }
                    }

                    &.type{
                        top: 0;
                        right: 0;
                    }

                    &.price{
                        bottom: 0;
                        right: 0;
                        font-family: $number-font-style;
                    }
                }
            }
        }
        > section{
            clear: both;
            margin-bottom: 32px;
            p{
                font-size: 1.05em;
                line-height: 1.8em;
                margin-top: 16px;
                text-align: justify;
            }
            a{
                color: $major-color;
                text-decoration: underline;
                float: right;
                font-weight: bold;
                line-height: 44px;
                &:hover ,&:focus{
                    color: $minor-color;
                }
            }
            .size,
            .color{
                position: relative;
                padding-left: 104px;
                margin-bottom: 8px;
                b{
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    line-height: 44px;
                    font-weight: bold;
                    font-size: 1.15em;
                }
            }
            ul{
                height: 44px;
                &::after{
                    content: "";
                    display: block;
                    clear: both;
                }
                li{ 
                    @extend %hide-text;
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    border-radius: 36px;
                    border: $gray solid 2px;
                    float: left;
                    margin-top: 4px;
                    margin-right: 12px;

                    &.black{
                        background-color: $black;
                    }

                    &.anthracite{
                        background-color: #453F3F;
                    }

                    &.white{
                        background-color: $white;
                    }
                }
            }
            select{
                @extend %bg-cover;
                line-height: 44px;
                font-size: 1em;
                padding-left: 10px;
                font-weight: bold;
                width: 136px;
                height: 44px;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: transparent;
                background-image: image-url('icon-pic/icon_point_right.png', false, false);
                padding-right: 26px;
                background-size: initial;
                border-color: $gray;
                border-radius: 5px;
                background-position: center right;
            }
        }
        > footer{
            a{
                &.favourite{
                    @extend %btn;
                    
                    width: 64px;
                    height: 56px;
                    float: left;
                    background-color: #FFF;
                    position: relative;
                    border-radius: 5px;
                    border: $gray solid 1px!important;
                    padding: 0;
                    font: 0/0 a;
                    color: transparent;
                    text-align: center;
                    &::before{
                        content: "";
                        display: block;
                        width: 44px;
                        height: 44px;
                        @extend %bg-cover;
                        background-image: image-url('icon-pic/love.png', false, false);
                        margin: 6px auto;
                    }

                    &:hover, &:focus{
                        background-color: #FFF;
                        &::before{
                            background-image: image-url('icon-pic/love_o.png', false, false);
                        }
                    }
                }
                &.buy{
                    @extend %btn;
                    position: relative;
                    width: 78%;
                    float: right;
                    font-weight: bold;
                    border: #FFC200 solid 1px;
                    background-color: #FFC200;
                }
            }
        }
    }
}

//影音相簿================================================================
.content_media{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background-image: image-url('section1/bg_section12.png', false, false);
    background-position: center top;
    background-repeat: no-repeat;
    
}
.content_media_block{
    @extend %center;
    //padding: 0 40px;
    position: relative;

    h3{
        color: $white;
        font-size: 2.2em;
        font-weight: normal;
        position: absolute;
        z-index: 5;
        left: 54px;
        top: -88px;
    }
    .content_media_block_model{
        @extend %bg-cover;
        position: fixed;
        width: 1049px;
        height: 951px;
        z-index: 3;
        margin-top: 1620px;
        background-image: image-url('section2/model_man.png', false, false);
    }
    .content_media_block_album{
        position: absolute;
       // position: fixed;
        right: 0;
        top: -780px;
        z-index: 5;
        ul{
            position: relative;
            li{
                display: block;
                max-width: 232px;
                height: 0;
                padding-bottom: 100%;
                box-shadow: rgba(0,0,0,0.2) -4px 10px 10px;
                margin-bottom: 8px;
                border-radius: 5px;
                overflow: hidden;
                img{
                    width: 100%;
                }
                &:nth-child(1){
                    position: absolute;
                    left: -240px;
                    top: 120px;
                }
            }
        }

    }
    /*
    .content_media_block_video{
        clear: both;
        width: 100%;
        margin-top: 1020px;
        text-align: center;
        padding-bottom: 72px;
        &::after{
            content: "";
            display: block;
            clear: both;
        }
        ul{
            display: inline-block;
            margin: 0 auto;
        }
        li{
            display: inline-block;
            float: left;
            max-width: 376px;
            box-shadow: rgba(0,0,0,0.2) -4px 10px 10px;
            margin: 0 20px;
            a{
                height: 0;
                padding-bottom: 56.3829%;
                display: block;
                overflow: hidden;
                border-radius: 5px;
                img{
                    width: 100%;
                    float: left;
                }
            }
        }
    }
    */
    .content_media_block_video{
        clear: both;
        width: 100%;
        //margin-top: 1020px;
        margin-top: 900px;
        text-align: center;
        padding: 0 40px;
        padding-bottom: 72px;
        position: relative;
        z-index: 4;
        a{
            height: 0;
            padding-bottom: 56.3829%;
            display: block;
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                float: left;
            }
        }
        ul{
            margin: 0 auto;
            &::after{
                content: "";
                display: block;
                clear: both;
            }
            > li{
                display: inline-block;
                //float: left;
                max-width: 272px;
                max-width: 269px;
                position: relative;
                margin: 0 20px;



            }
        }

    }
}

//你可能也會喜歡================================================================
.content_maybe{
    background-color: $black;
    padding-top: 112px;
    position: relative;
    z-index: 5;
}
.content_maybe_like{
    @extend %center;

    h3{
        color: $white;
        font-size: 2.2em;
        font-weight: normal;
        margin-left: 52px;
    }
    .content_maybe_like_list{
        text-align: center;
        padding: 44px 40px 72px 40px;
        a{
            color: $white;
        }
        ul{
            margin: 0 auto;
            &::after{
                content: "";
                display: block;
                clear: both;
            }
            > li{
                display: inline-block;
                //float: left;
                max-width: 272px;
                max-width: 269px;
                position: relative;
                margin: 0 20px;
                img{
                    width: 100%;
                    float: left;
                }
            }
        }
        ol{
            position: relative;
            > li{
                position: relative;
                margin: 0;
                line-height: 28px;
                span{
                    display: none;
                }
                &.img{
                    border-radius: 5px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        float: left;
                    }
                }
                &.style_no{
                    font-weight: bold;
                    font-family: $number-font-style;
                    text-align: left;
                }
                &.type{
                    font-weight: bold;
                    font-family: $base-font-style;
                    text-align: left;
                }
                &.price{
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    bottom: 0;
                    font-weight: normal;
                    font-family: $base-font-style;
                    text-align: right;
                }
            }
        }
    }
}