.content{
    width: 100%;
}
//產品資料================================================================
.content_product{ //section1
    position: relative;
    background-color: #F8F5EE;
    width: 100%;
    height: 100vh;
    .content_product_img{
        > div{
            display: block;
            position: absolute;
        }
        .air-max-270-react-0JdRkV{
            width: 635px;
            height: 571px;
        }
        .react{
            width: 222px;
            height: 52px;
        }
        .nike_air_max{
            width: 622px;
            height: 465px;
        }
    }

    .content_product_info{
        > header{
            h2{

            }
            ul{
                li{
                    span{

                    }
                }
            }
        }
        > section{
            p{

            }
            a{

            }
            .color{
                b{

                }
            }
            ul{
                li{

                }
            }
            select{

            }
        }
        > footer{
            a{
                &.favourite{

                }
                &.buy{

                }
            }
        }
    }
}

//影音相簿================================================================
.media{
    h3{

    }
    .media_album{
        ul{
            li{
                img{

                }
            }
        }
    }

    .media_video{
        ul{
            li{
                a{
                    img{

                    }
                }
            }
        }
    }
}

//你可能也會喜歡================================================================
.maybe_like{
    h3{

    }
    .maybe_like_list{
        ul{
            li{
                img{

                }
                span{

                }
            }
        }
    }
}