/*/////////////////////////////////////////////////////////////////////////////
2012/11/27 11:00 Web Design & Development : Begonia Design http://www.begonia.tw/
////////////////////////////////////////////////////////////////////////////*/
section.THEME ul.ASIDE li,
section.THEME ul.CATEGORY li b,
section.THEME ul.CATEGORY li a{background:url(../images/index/category_bg.gif) no-repeat;}
header ul.TOOL li div#TOOL_MEMBER{ float:right; padding:5px 0px ; }
footer{ margin-bottom:0px;}
/*------------------------------------------------------------------
product_list.html
------------------------------------------------------------------*/
section.CONTENT .CONTENT_LIST{display:block;padding-top:0px;clear:both; height:503px;overflow:hidden; background:url(../images/index/none.gif) 5px 21px no-repeat;}
ul.MEMBER_LOGIN li.FORGOT a.LOGIN_BTN{ margin-top:-32px;}

/*------------------------------------------------------------------
product_content.html
------------------------------------------------------------------*/
.a2a_kit { font-size:12px; line-height:20px;color:#444; width:280px; overflow:hidden; padding:6px 7px 0px 7px; border:#CCC solid 1px;}
/*------------------------------------------------------------------
member_fb_register.html
------------------------------------------------------------------*/
ul#REGISTER_FORM.FB li.COM{ height:50px; position:relative;}
ul#REGISTER_FORM.FB li.COM form{ position:absolute; top:0; left:90px; margin:0; padding:0; float:right; width:325px; height:51px; overflow:hidden;}
ul#REGISTER_FORM.FB li.COM form input[type=text]{position:absolute; top:21px; left:147px;}

body.LANGUAGE section.CONTENT .LEFT_NAV li b{display:none;}
section.CONTENT .MEMBER_EDIT_NAV li:hover a,
body.ABOUT section.CONTENT .LEFT_NAV li a:hover,
body.NEWS section.CONTENT .LEFT_NAV li a:hover,
body.HEALTH section.CONTENT .LEFT_NAV li a:hover,
body.EARTH section.CONTENT .LEFT_NAV li a:hover,
body.HISTORY section.CONTENT .LEFT_NAV li a:hover,
body.BUSINESS section.CONTENT .LEFT_NAV li a:hover,
body.SOCIAL section.CONTENT .LEFT_NAV li a:hover,
body.AEROSPACE section.CONTENT .LEFT_NAV li a:hover,
body.ART section.CONTENT .LEFT_NAV li a:hover,
body.LANGUAGE section.CONTENT .LEFT_NAV li a:hover,
body.EDUCATION section.CONTENT .LEFT_NAV li a:hover,
body.CONTACT section.CONTENT .LEFT_NAV li a:hover{color:#000;background:url(../images/product/icon_000000.gif) 15px center no-repeat;}
