#top01 {
	height: 545px;
	width: 704px;
	margin-left: 100px;
	background-color: #999999;
}
#top02 {
	height: 543px;
	width: 700px;
	margin-top: 2px;
	margin-left: 2px;
	background-color: #000000;
	text-align: right;
}
#main01 {
	background-color: #999999;
	height: 397px;
	width: 484px;
	float: none;
}
#main02 {
	background-color: #000000;
	height: 395px;
	width: 482px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
}

#swf01 {
	background-color: #999999;
	float: none;
	height: 397px;
	width: 220px;
	margin-left: 100px;
}
#swf02 {
	background-color: #000000;
	height: 395px;
	width: 218px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
}
#index01 {
	background-color: #999999;
	height: 547px;
	width: 704px;
	margin-left: 100px;
}

#index02 {
	background-color: #000000;
	height: 543px;
	width: 700px;
	margin: 2px;
}
