.page{
    min-width: 1024px;
    background-color: #a3a3a3;
    background-image: url("../images/bg_page.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}
.page #header{
    background-image: url("../images/bg_header.jpg");
    .header_ul{
        background-image: url("../images/bg_header_r.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        box-shadow: #788a7c 1px 2px 5px;
        .info{
             margin-right: 2%!important;
        }
    }
}
.page #main_content{
    height: unset!important;
}
.page .weather{
    margin-right: 2%!important;
}
.main_menu{//左側主選單
    width: 14.26%;
    min-width: 146.02px;
    position: absolute;
    left: 0;
    z-index: 1;
    @media screen and (min-width: 1600px){min-height: 700px;}
    .main_list{
        background-image: url("../images/bg_nav.gif");
        background-repeat: repeat-y;
        background-size: contain;
        box-shadow: #6b6a69 2px -2px 5px;
        min-height: 549px;
        padding-left: 10px;
        box-sizing: border-box;
        @media screen and (min-width: 1600px){min-height: 700px;}
        @media screen and (min-width: 1900px){padding-left: 20px;}
        a{
            color: $menu-color;
            font-weight: bold;
            font-size: .85em;
            line-height: 1.6em;
            @media screen and (min-width: 1100px){font-size: .95em;line-height: 1.7em;}
            @media screen and (min-width: 1200px){font-size: 1em;line-height: 1.8em;}
            @media screen and (min-width: 1300px){font-size: 1.1em;line-height: 1.85em;}
            @media screen and (min-width: 1400px){font-size: 1.2em;}
            @media screen and (min-width: 1450px){font-size: 1.25em;}
            @media screen and (min-width: 1500px){font-size: 1.3em;}
            @media screen and (min-width: 1550px){font-size: 1.35em;}
            @media screen and (min-width: 1600px){font-size: 1.4em;}
            @media screen and (min-width: 1700px){font-size: 1.45em;}
            @media screen and (min-width: 1800px){font-size: 1.5em;}
            @media screen and (min-width: 1900px){font-size: 1.55em;}
        }
        >li{
            line-height: 1.6em;
            a{
            }
            >.sub_list{
                    margin-top: 1px;
                    border-top: #00ffff solid 3px; 
                    margin-right: 12px;
                li{
                    margin-left: 8px;
                    padding-left: 2px;
                    border-left: #00ffff solid 3px; 
                    a{
                    }
                }
            }
            &:nth-child(1){
                padding-top: 30%;
                @media screen and (min-width: 1100px){padding-top: 28%;}
                @media screen and (min-width: 1200px){padding-top: 27%;}
                @media screen and (min-width: 1300px){padding-top: 26%;}
                @media screen and (min-width: 1400px){padding-top: 25%;}
                @media screen and (min-width: 1500px){padding-top: 24%;}
                @media screen and (min-width: 1600px){padding-top: 23%;}
                @media screen and (min-width: 1700px){padding-top: 22%;}
                @media screen and (min-width: 1800px){padding-top: 21%;}
                @media screen and (min-width: 1900px){padding-top: 20%;}
            }
        }
    }
}
.content{
    box-sizing: border-box;
    width: 100%;
    min-width: 1024px;
    padding-left: 14.26%;
    overflow: hidden;
    .article{
        margin-left: 12px;
        position: relative;
        @media screen and (min-width: 1100px){margin-left: 14px;}
        @media screen and (min-width: 1300px){margin-left: 15px;}
        @media screen and (min-width: 1500px){margin-left: 16px;}
        @media screen and (min-width: 1700px){margin-left: 17px;}
        @media screen and (min-width: 1800px){margin-left: 18px;}
        @media screen and (min-width: 1900px){margin-left: 20px;}
        h2{
            margin-left: 20px;
            color: $title-color;
            font-size: 1.6em;
            padding-top: 15px;
            padding-bottom: 10px;
            @media screen and (min-width: 1100px){font-size: 1.7em;}
            @media screen and (min-width: 1200px){font-size: 1.8em;}
            @media screen and (min-width: 1300px){font-size: 1.9em;}
            @media screen and (min-width: 1400px){font-size: 2em;}
            @media screen and (min-width: 1500px){font-size: 2.15em;}
            @media screen and (min-width: 1600px){font-size: 2.3em;}
            @media screen and (min-width: 1700px){font-size: 2.5em;}
            @media screen and (min-width: 1800px){font-size: 2.7em;}
            @media screen and (min-width: 1900px){font-size: 3em;}
        }
        .user{
            position: absolute;
            background-color: #fff;
            right: 2.5%;
            top: -42px;z-index: 9;
            @media screen and (min-width: 1100px){top: -46px;}
            @media screen and (min-width: 1200px){top: -50px;}
            @media screen and (min-width: 1300px){top: -52px;}
            @media screen and (min-width: 1400px){top: -54px;}
            @media screen and (min-width: 1500px){top: -58px;}
            @media screen and (min-width: 1600px){top: -60px;}
            @media screen and (min-width: 1700px){top: -64px;}
            @media screen and (min-width: 1800px){top: -66px;}
            @media screen and (min-width: 1900px){top: -70px;}
            form{float: left;display: block;}
            select {
            font-size: 1.05em;
            border: solid 1px #fff;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            padding-left: 20px;
            background: url("../images/icon_arrow.png") no-repeat scroll left center transparent;
            }
            select::-ms-expand { display: none; }
            a{
                display: block;
                width: 25px;
                height: 25px;
                background-image: url("../images/btn_user.png");
                background-repeat: no-repeat;
                background-size: cover;
                float: left;
                margin-right: 5px;
                @media screen and (min-width: 1100px){width: 26px;height: 26px;}
                @media screen and (min-width: 1200px){width: 28px;height: 28px;}
                @media screen and (min-width: 1300px){width: 30px;height: 30px;}
                @media screen and (min-width: 1400px){width: 32px;height: 32px;}
                @media screen and (min-width: 1500px){width: 35px;height: 35px;}
                @media screen and (min-width: 1600px){width: 38px;height: 38px;}
                @media screen and (min-width: 1700px){width: 40px;height: 40px;}
                @media screen and (min-width: 1800px){width: 42px;height: 42px;}
                @media screen and (min-width: 1900px){width: 45px;height: 45px;}
            }
            form,
            .user_name{
                display: block;
                //width: 165px;
                padding: 0 10px;
                background-color: white;
                height: unset;line-height: 25px;
                float: left;
                @media screen and (min-width: 1100px){line-height: 26px;//width: 170px;
                }
                @media screen and (min-width: 1200px){line-height: 28px;//width: 180px;
                }
                @media screen and (min-width: 1300px){line-height: 30px;//width: 190px;
                }
                @media screen and (min-width: 1400px){line-height: 32px;//width: 200px;
                }
                @media screen and (min-width: 1500px){line-height: 35px;//width: 210px;
                }
                @media screen and (min-width: 1600px){line-height: 38px;//width: 220px;
                }
                @media screen and (min-width: 1700px){line-height: 40px;//width: 230px;
                }
                @media screen and (min-width: 1800px){line-height: 42px;//width: 240px;
                }
                @media screen and (min-width: 1900px){line-height: 45px;//width: 250px;
                }
            }
        }
    }
}



